[2018-01-12 13:13] schatekar opened #5 "Add a "What OpenEventing is not" section"
This is a question/suggestion. Should we have a "What OpenEvening is not section" in the spec?

Apologies if I have got the wrong end of the stick, but when we say events, a lot of things come to my mind - pub/sub, ESB, queueing systems etc. I don't think we are trying to address "event in every situation" problem. Or are we?

[2018-01-12 13:23] duglin commented on #5
Having a "what's out of scope?" section (after our "what's in scope?" second) is a good idea if we think there are areas that people might implicitly think would be included but we explicitly agreed to not include them. Once we get Austen's initial proposal for our README perhaps you could open a PR with a list of suggested topics? if nothing else, it would help get us all on the same page w.r.t.

[2018-01-12 14:30] schatekar opened #6 "Definition of Event in the terminology section is confusing"
[Definition of Event](https://github.com/openeventing/spec/blob/master/spec.md#event) introduces terms `notification` and `message` without clearly defining their meaning in the context of an event-driven system.  There may be some implicit assumptions/understanding in there that be explicitly written.

Assigned to: @schatekar

[2018-01-18 22:07] caniszczyk opened #9 "Move to cloudevents github organization"

[2018-01-18 22:11] caniszczyk commented on #9
rename done: https://github.com/cloudevents/spec

[2018-01-18 22:11] #9 closed

[2018-01-19 19:08] janoberst opened #12 "Github repo description references OpenEventing"
This repo's name has changed and its contents have been modified to use CloudEvents, but the description of the repository seems to still say "OpenEventing." I found this just a tiny bit confusing and would've put up a PR for it, but I think this needs to be changed by a project admin in the Github interface.

I'm attaching a screenshot for future reference:

<img width="260" alt="cloudevents - op

[2018-01-19 19:33] duglin commented on #12
Fixed - thanks

[2018-01-19 19:33] #12 closed

[2018-01-19 19:39] duglin commented on #12
Fixed! thanks for noticing
-Doug

[2018-01-19 21:49] lfourie opened #13 "Receipt of events that are not understood by event consumer"
I think we need to add some description on:
  1. nature of an event: critical - must be processed, non-critical - may be ignored, ..
  2. action taken when a consumer does not understand a critical event, etc.

[2018-01-19 21:57] lfourie opened #14 "Add clarifying text below Context Attributes Backlog"
Add text: This is a list prospective event metadata attributes (“context”) for potential inclusion in the future.

[2018-01-25 14:40] duglin opened #17 "Show sample json serialization for each context attribute"
I think it would be good to show some sample json serialization for each context attribute so there is no ambiguity around what it would look like. It would also be good to show what a complete "context" object would look like.  These actually might not be "samples" - by that I mean it might be good to normatively say something like "When serialized in JSON, the format of the event MUST adhere to

[2018-01-25 14:40] duglin opened #18 "Nested vs top-level properties"
Should we have nested properties for some things? eg. resource-type and resource-id under "resource".  Or should we keep everything at the top-level?

[2018-01-25 14:42] duglin opened #19 "Remove "references" section"
Before we ship a formal release I think we should remove the "References" section that shows what existing providers do for their events. This is very useful today as we work through the initial design, but once we get agreement on our stuff we no longer need to see what other people are doing since it doesn't align with what we're recommending.

Assigned to: @notque

[2018-01-25 14:59] duglin opened #20 "Document our release process"
What are the steps someone needs to take to “cut a release”?
E.g. tags vs branches, which docs are updated with version #’s...
I would suggest that when cut our first formal release, we just document the steps taken by whoever does it so that the next time people can just follow their lead and we're consistent across releases.

[2018-01-25 16:19] duglin opened #21 "Brainstorm on how to move to a "normal" LGTM PR review process"
Since today we don't have a defined set of "maintainers" to approve PRs we decided to follow a model that more akin to how a standard body works. Which is, sort of, ok for now, but not ideal for a variety of reasons - biggest being that not everyone can make the calls.

I'd like to use this issue to track ideas for how we migrate to a "maintainer" process and, in particular, how we identify the in

[2018-01-25 17:24] yaronha commented on #17
I suggest to have language struct definitions (e.g. in Go), there can be multiple decode/encode options for the same message (e.g. Json, gRPC, ..)

[2018-01-25 17:26] yaronha commented on #18
The reason for the "flat" approach is to allow mapping to protocols w Headers (like HTTP, AMQP, ..) and avoid extra serialization

[2018-01-25 18:54] lfourie opened #22 "Path Context Attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

path

    Type: String
    Description: The destination endpoint address (e.g. URL) or target topic

[2018-01-25 18:56] lfourie opened #23 "content-type context attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

content-type
    Type: String
    Description: The data encoding scheme (e.g. application/json). The data content type.
    Constraints:
        Required if the event contains a body.

[2018-01-25 18:57] lfourie opened #24 "correlation-id context attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

correlation-id
    Type: String
    Description: Correlation ID of event that triggered this event to be created (if any). If not triggered in response to an event, a unique ID. Can be specified by the producer if event not produced in response to an event. Enables traceability through systems.
    Examples:
        Event A g

[2018-01-25 18:59] lfourie opened #25 "causation-id context attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

causation-id
    Type: String
    Description: event-id of event that triggered this event to be created (if any). If not triggered in response to an event, then not present. Enables traceability through systems.
    Examples:
        Event A generated with unique event-id. Event handler receives event and generates a new eve

[2018-01-25 19:00] lfourie opened #26 "method context attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

method
    Type: String
    Description: The (http) method used in the call

[2018-01-25 19:01] lfourie opened #27 "log-level context attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

log-level
    Type: String
    Description: The level of logging that the publisher may want to log this specific event (e.g. debug)

[2018-01-25 19:02] lfourie opened #28 "receipt-queue context attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

receipt-queue
    Type: String
    Description: An optional return endpoint for completion events

[2018-01-25 19:03] lfourie opened #29 "authentication context attribute"
This is a proposed metadata attribute (from Context Attribute Backlog):

authentication
    Type:
    Description:

[2018-01-25 19:49] rachelmyers opened #31 "Specify if event-type should enforce a type format"
Decide and document if the [`event-type`](https://github.com/cloudevents/spec/blob/master/spec.md#event-type) attribute should include a type format.

[2018-01-25 19:49] rachelmyers opened #32 "Specify if event-type can include a namespace prefix"
Decide and document if the [`event-type`](https://github.com/cloudevents/spec/blob/master/spec.md#event-type) attribute can include a namespace as a prefix.

[2018-01-25 19:49] rachelmyers opened #33 "Specify if event-type should include a version."
Decide and document if the [`event-type`](https://github.com/cloudevents/spec/blob/master/spec.md#event-type) attribute should include a version.  A version is currently included in a separate attribute, `event-type-version`.

[2018-01-25 19:52] rachelmyers opened #34 "Does event-type-version apply to the entire event or only the data payload?"
Decide and document if the [`event-type-version`](https://github.com/cloudevents/spec/blob/master/spec.md#event-type-version) attribute is applicable to the whole event or to the data payload alone. Currently, `event-type-version` covers the data, while `open-events-version` covers the context.

Assigned to: @duglin

[2018-01-25 19:55] rachelmyers opened #35 "Does schema-url apply to the whole event or to the data alone?"
Decide and document if the [schema-url](https://github.com/cloudevents/spec/blob/master/spec.md#schema-url) attribute is applicable to the whole event or to the data alone.

Assigned to: @duglin

[2018-01-25 19:57] rachelmyers opened #36 "Where does the producer specify the format/encoding of the data attribute?"
Decide and document where the producer specifies the format/encoding of the [data](https://github.com/cloudevents/spec/blob/master/spec.md#data-1) attribute in this schema.

[2018-01-26 16:55] ultrasaurus commented on #19
I think this would be good material to keep around as background of what drove some of the design decisions.  Maybe we could create a sub-folder...  I expect / hope we'll also be documenting what we learn about real-world use cases and infrastrucutre that developers need to work with when implementing a system that supports events.  Not sure if these belong together, but could provide context for

[2018-01-26 16:58] ultrasaurus opened #37 "System Architecture diagram / document explaining the context for events"
We would like to write up some info so that folks can arrive at this repo and understand what kind of event system we're talking about.

Starting docs:
- [presentation](https://onedrive.live.com/view.aspx?resid=123CCD2A7AB10107!744659&ithint=file%2cpptx&app=PowerPoint&authkey=!AIUYJmTPLT_D9Os) -- slide 23 (below) shows the difference between general messaging, and "Eventing" which is what CloudEve

[2018-01-26 18:39] duglin commented on #19
@ultrasaurus you have an AI (AI: Sarah to open an issue for a doc to explain the spec, ecosystem, how it all fits together, etc… work with Yaron), I wonder if that doc would be a good spot for this info, if we keep it around. I just don't think it belongs in our spec.

[2018-01-26 18:55] lfourie opened #38 "Rename attributes 'resource*' to 'source*' or 'producer*'"
Rename attributes 'resource*' to 'source*', or alternatively 'producer*', for clarity.

Assigned to: @lfourie

[2018-01-27 13:37] duglin commented on #37
@ultrasaurus you ok with owning this one?

[2018-01-27 13:38] duglin commented on #37
Perhaps including the current "Reference" section of the spec (where we show what some providers do today).

[2018-01-27 14:06] duglin commented on #6
@schatekar PR #15 adds a first pass at "message". Would you like to open a PR to suggest a definition of "notification" ?

[2018-01-27 14:08] duglin commented on #14
Now that we agreed to open issues for each and remove this list from the spec I think we can close this issue.  @lfourie please reopen if you think I'm mistaken.

[2018-01-27 14:08] #14 closed

[2018-01-27 14:15] duglin commented on #13
No. 1 sounds like it might overlap a bit with the proposed "log-level" context attribute. WDYT?

No. 2 gets into defining the processing model of the events themselves. Is this something people want to include as part of the spec? I've been assuming that this spec is just defining the shape of the event (or if Yaron's idea is adopted, the API for accessing the properties of the event). What do oth

[2018-01-27 14:48] duglin commented on #35
I would think it would be just the "data" since the schema/format of the other stuff is defined by this specification and should be the same for all instances of CloudEvents (at the same CloudEvent version level).

If people agree I can write-up a PR.

[2018-01-27 16:12] schatekar commented on #6
@duglin I can give it a try. Do you want me to wait till that PR is merged or should I add it to the same PR?

[2018-01-27 16:59] duglin commented on #6
I think a new PR now should be ok.

[2018-01-27 21:52] sslavic opened #41 "Clarify namespace"
1. Does `namespace` identify event or event source (producer)?
2. If latter, what is the value `namespace` adds on top of `source-id`?
3. Is there a use case where events with same (`event-type`, `event-type-version`) can be published by more than one event source, so with difference in at least one of (`source-id`, `source-type`)?
4. If `namespace` identifies event source and there's value added

[2018-01-28 16:22] ultrasaurus commented on #37
@duglin I think you can assign multiple owners.  Yaron volunteered to help, but I don't know his github!

[2018-01-28 16:31] duglin commented on #37
Took a sec I managed to hunt him down @yaronha :-)

[2018-01-30 06:44] ac360 commented on #17
@duglin I like this idea.  Perhaps putting the JSON example and the language struct examples in an `examples` folder in the `spec` repo would be best for this.

[2018-01-30 06:48] ac360 commented on #18
With the right naming convention, could we support both?  It would be nice to have nested properties in JSON serialization, since having everything on the parent level can be hard to read.  However, if they can also be flattened to include in headers that are sensible, that would be optimal.

[2018-01-30 16:36] ultrasaurus opened #42 "contributors list"
It would be really helpful to have a list of contributors, to solve two problems:
1. Associating folks who attend Serverless WG meetings with their github username
2. Who is involved in Eventing and is interested in using the CloudEvents spec in some way

Assigned to: @ultrasaurus

[2018-01-30 16:37] ultrasaurus commented on #42
@ac360 -- do you have a reference to the folks who contributed to the original draft via Google doc?

[2018-01-30 16:39] duglin commented on #42
In other specs I've seen a list of authors/contributors in the spec, but most of those were specs in pre-github times.  I suspect most people just look at the github history to get that info.

re: associating WG people with github names, I can add a column to: https://docs.google.com/spreadsheets/d/1bw5s9sC2ggYyAiGJHEk7xm-q2KG6jyrfBy69ifkdmt0/edit?pli=1#gid=0

[2018-01-30 19:21] duglin commented on #42
all - I added a new column to https://docs.google.com/spreadsheets/d/1bw5s9sC2ggYyAiGJHEk7xm-q2KG6jyrfBy69ifkdmt0/edit?pli=1#gid=0 ping me via slack if I couldn't figure out your github ID or if I got it wrong.

[2018-01-31 13:32] duglin commented on #35
Seems related to: https://github.com/cloudevents/spec/issues/36

[2018-01-31 13:37] duglin commented on #34
Does "event-type-version" overlap with the event's "schema-url"? Seems like they both tell you how to interpret the "data", no?  Perhaps we can remove "event-type-version" and just keep "schema-url"?

[2018-01-31 14:13] duglin commented on #5
@schatekar would you like to own this one?

[2018-01-31 14:25] schatekar commented on #6
@duglin  I have given it a try in [this commit](https://github.com/schatekar/spec/commit/5afe271e16d232fba87c926360bf8b17fbbd4357). Is it ok to ask you to take a look before I submit a PR?

[2018-01-31 14:28] schatekar commented on #5
@duglin I am happy to give a try. I may get it wrong though. I will start with grokking the material in #37

[2018-01-31 14:29] duglin commented on #6
@schatekar yup - just commented on the commit - overall, I like it.

[2018-01-31 14:30] duglin commented on #5
Sounds good - thanks!

[2018-01-31 15:13] sslavic commented on #34
Assuming CloudEvents spec at minimum covers what contextual data will reach serverless function at runtime (so that one can without changing function implementation move the function to different compliant serverless infrastructure, or have it decoupled from the event transport), I'd prefer that `event-type-version` makes it to the function. Together with `event-type` and `source` (producer) ident

[2018-01-31 15:49] sslavic commented on #34
IMO `event-type-version` applies to `data` alone.

[2018-01-31 16:07] duglin commented on #34
PR #48 should cover this.

[2018-01-31 16:07] duglin commented on #35
PR #48 should cover this

[2018-01-31 17:47] duglin commented on #37
@ultrasaurus I like what you have so far, and I like that it appears you used a lot of the same text we have in the spec itself. That consistency will help newbies.

I don't think there will be much disagreement, or discussion, around slide 1-4 since those appear to be directly from the spec - so any disagreement on those should probably be addressed via PRs to the spec. Slide 5 (definition of 'ac

[2018-01-31 17:49] ultrasaurus commented on #42
My thinking is that we will want to encourage people to contribute use cases, documentation, and other contextual materials, in addition to the folks that directly contribute to the spec.

If we create a way for people to submit their info via PR, then this will also enable more async participation.

[2018-01-31 17:55] duglin commented on #42
Conceptually, sure we want people to contribute to all of our docs. And people can do that via PRs. I'm just not sure what you're suggesting we do since everything is out in the open and people can (and are) already doing what I think you're looking for.  For example, once @ac360's PR ( https://github.com/cloudevents/spec/pull/8 ) is merged, we'll have a "use-cases.md" file and I expect people to

[2018-02-01 14:47] leecalcote opened #55 "Spec Conformance Tool - Service Validator"
Reliable specifications (protocols) require validation and testing to guarantee interoperability, particularly as a specification evolves (versions over time). We're in need of a tool (maybe two?) to validate event formats of operational services to verify their conformance to the normative statements in the CloudEvents specification. To facilitate validation, a checklist of assertions (as a docum

[2018-02-01 17:43] inlined opened #58 "Revisit the name "source" in Events"
On February 1st 2018, we tentatively changed "resource" to "source". We agreed that "resource" is too confusing, but also that "source" may not be the best name. After clarify the meaning of this term we can reaffirm or change the name.

Assigned to: @inlined

[2018-02-01 19:41] #38 closed

[2018-02-01 21:45] yaronha opened #59 "content-type should be explicit"
We need the `content-type` attribute to be explicit (not part ofthe extensions), much like the schema is, without it there is no way to know how to de-serialize the `data`

Assigned to: @yaronha

[2018-02-02 00:33] duglin commented on #59
@yaronha do you want to take a pass at the PR for this one?

[2018-02-02 15:57] deissnerk commented on #41
In yesterday's call the need for specific examples was mentioned several times. Do we have an issue that captures this? Is it part of #37 ? I think it also affects #58 and probably many others.

[2018-02-02 16:22] duglin commented on #41
if by example you mean "use cases driving our work", then yea I think #37 is part of it, but also the use-cases.md file that @ac360 recently added should cover it too - and PRs are welcome to add more. We should probably make sure we don't duplicate stuff between those two things (too much).

[2018-02-03 17:55] schatekar commented on #59
@yaronha I assume you are suggesting to add `content-type` attribute on the context. Where do you define the content type for context itself?

[2018-02-03 19:41] yaronha commented on #59
@schatekar @duglin i just did a PR see #64
IMO the content-type for the context is transport/protocol specific e.g. in HTTP/AMQP headers, we may want to detail that

[2018-02-03 22:50] schatekar commented on #59
That definitely needs detailing.

Are you suggesting that, in case of transport being HTTP,  content-type on context gets transferred onto the HTTP header content-type (and similarly for other protocols)?

[2018-02-03 23:48] yaronha commented on #59
@schatekar thats part of the original discussion we had (see my original CloudEvents proposal in: https://github.com/cncf/wg-serverless/tree/master/proposals/cloudevents)

For HTTP based messages (e.g. API Gateways, AWS Kinesis) that will happen automatically as the content type is specified in the request (app/json), other messages may choose older or more CPU/space efficient serialization (e.g.

[2018-02-04 09:57] schatekar commented on #59
@yaronha @duglin
Adopting a cloud event for a specific transport can get complex. Is it best to keep this spec focussed on defining the structure of the event? We can then have separate adoptions of the spec for each transport.

[2018-02-04 14:46] schatekar commented on #58
@duglin the idea of profiles can simplify this issue greatly. Irrespective of the domain/use case, there will always be an `origin` or `source` indicating who the publisher of the event is.

Then a FaaS profile can add relevant extension fields to capture the information about various intermediate systems that the event passes through before it hits the function.

[2018-02-04 18:57] schatekar commented on #18
I may be wrong but I feel it is too early to decide either way. There are some standard HTTP headers that allow packing of multiple values of different kinds into a single header entry. A similar approach can be taken for some of the context variables.

IMO, the spec should focus on defining the universal structure/share of an event. How this event then gets transported over HTTP (or some other tr

[2018-02-04 19:30] yaronha commented on #59
@schatekar there is no sense in building specs that dont translate into a working and interoperable implementations, this is why we need the event message to have wire definitions in a way that producers and consumers work with each-other. it means you need to define how messages get serialised/deserialized and how metadata gets carried.

[2018-02-05 14:53] schatekar commented on #59
@yaronha  I re-read what I said in my previous comment. I did not mean to say we build a spec that does not translate into a working and interoperable implementation (though I agree, it came out that way). What I wanted to say was, any design decisions in the spec should not be hugely influenced by one particular transport unless that is the only transport we want to support, which is not the case

[2018-02-05 19:20] schatekar commented on #31
Does a "type format" tell how `data` is structured? Is this something covered by the context attribute `schema-url`?

//cc @duglin

[2018-02-05 19:31] schatekar commented on #34
@sslavic the spec at some point says that both `context` and `data` need to be designed such that they can be delivered to the destination independently or together. So it is implicit that everything inside the context will be delivered to the function.

[2018-02-05 19:52] yaronha commented on #59
@schatekar we decouple the aspects of transport from message, can read about it in my original [CloudEvents proposal](https://github.com/cncf/wg-serverless/tree/master/proposals/cloudevents)  and in my [older CNEM proposal](https://docs.google.com/document/d/1dFfnWnbRDTvGwpwaBsvXRlw0ZyL3xYl7iXhYqbAPJjk/edit?usp=sharing), the way Headers/Context is passed will be transport specific (e.g. Headers in

[2018-02-06 16:17] schatekar commented on #59
@yaronha let me go through the links and get my thoughts together. I don't think I am objecting to this attribute. I am offering a counter-view based on my understanding of what the spec offers.

[2018-02-06 23:55] duglin commented on #36
I believe that #59 and #35 (once adopted) should address this one

[2018-02-06 23:59] duglin commented on #31
yea, it seems to me that between `schema-url` and `content-type` we should be covered.

[2018-02-07 00:01] duglin commented on #29
Is this meant to be the authentication related to the delivery of the message/event or something else?

[2018-02-07 00:06] duglin commented on #23
#59 and this are duplicates but #64 will close both - leaving this open anyway only because of my question here: https://github.com/cloudevents/spec/pull/64#issuecomment-363609112

[2018-02-08 00:55] cathyhongzhang opened #70 "May need to add event combination and define a way to express event combination"
In some use cases, a function might be triggered to run by a combination of events. For example, a function could be triggered when both event-x and event-y happen or when either event-x or event-y happen. We may need to consider this in this spec?

Assigned to: @cathyhongzhang

[2018-02-08 01:08] cathyhongzhang opened #71 "The difference among event source, event source type, event type, event ID is not explicit"
Suppose the event comes from a AWS S3, what is the event source, event source type, event type, event Identifier?  From current definition, it is not very clear.

Assigned to: @cathyhongzhang

[2018-02-08 01:30] cathyhongzhang commented on #70
I can own this issue

[2018-02-08 01:32] cathyhongzhang commented on #71
Can we discuss this in the meeting? I can own and resolve this issue. But I prefer to get other people's input on this first

[2018-02-08 01:33] duglin commented on #71
ok I'll add it to the agenda

[2018-02-08 01:33] cathyhongzhang commented on #24
I can take ownership of this issue.

[2018-02-08 13:20] deissnerk commented on #71
@duglin This partially covers what I meant by examples in in the discussion of #41 .
@cathyhongzhang I think similar questions may occur for the other attributes. It might help a lot to create sample flows, where an event travels through a certain system, and for each hop it is described what the values for the attributes are. What do you think?

[2018-02-08 13:31] duglin commented on #71
yep I agree.  We ran out of time last week, I'm hoping we can get to it today, but I wanted to ask a similar question about “event-type”, “event-type-version” and “schema-url” since it feels like there might be some overlap between these three things and I wonder if schema-url alone couldn't convey all of the info needed. And if not then we need a very clear definition so there's no confusion abou

[2018-02-08 13:33] deissnerk commented on #70
@cathyhongzhang That sounds really interesting. Would that be part of the cloudevents spec or of the serverless application model you mentioned last week in the call?

[2018-02-08 13:56] deissnerk opened #72 "Nested events?"
Events occur on different layers of a system. This might lead to nesting of events. E.g. an API gateway may receive an HTTP POST from a web hook, which already contains event data from a SaaS application. In addition the API gateway may be configured to raise an event to a function, when a POST request to a certain URL is received.
How is this situation handled?

## Alternative 1: Nesting
The API

[2018-02-08 16:46] ultrasaurus opened #73 "design goals for CloudEvents V.1"
Roadmap says: Agree on design goals for CloudEvents V.1. for January

I don't think we've actually accomplished this.

@ac360 got together last week and brainstormed what might be an interim goal that would be useful in aligning a core subset of meta data:

* draft specification that WG members agreed *could* work
* at least 3 sample events that conform to the specification

Assigned to: @ultrasau

[2018-02-08 16:55] ultrasaurus opened #74 "roadmap with milestones"
Proposal to adjust the roadmap to have numbered milestones to help focus our work.

Based on a brainstorm with @ac360:

https://docs.google.com/document/d/1ZLCWPeNcNyjttvgo2QHY9CMtzDaA0_81vmh5C-r9QB4/edit

Assigned to: @ultrasaurus

[2018-02-08 18:11] #6 closed

[2018-02-08 18:11] #34 closed

[2018-02-08 18:11] #35 closed

[2018-02-08 18:19] barkerd427 opened #75 "CloudEvents Website"
This was mentioned in the call today. We're currently hosting a simple site on SquareSpace. Do we want to use something like Hugo and just run it using GitHub Pages? The current site is pretty simple, so it wouldn't take much to convert it.

Here are some potential theme options:
* https://themes.gohugo.io/hugo-theme-lean-launch-page/
* https://themes.gohugo.io/material-docs/
* https://themes.gohu

[2018-02-08 19:07] cathyhongzhang commented on #71
Good idea. A sample flow will help to illustrate issues in our current definition, such as overlap or gap. We may find out that some new attributes, such as correlation-token, need to be defined to really get the interop we need.  I will try to draw the flow, show the boundary, and identify issues that need to be discussed. I can probably get this ready for discussion in the 2/22 meeting.

[2018-02-08 19:46] ac360 commented on #75
Hi @barkerd427,

This sounds great.  We've always had the intention of moving to our own option via Github Pages.  If you are up for handling the transition, this would be super helpful.

I think the 2nd theme will work well too.  I recommend keeping it very simple since many things are still in flux.  Imitating the styles and the content of the current site is a good first step for now, IMO.

If

[2018-02-08 22:50] cathyhongzhang commented on #70
deissnerk: Good question! I think it probably should be part of the serverless application model.

[2018-02-09 04:54] barkerd427 commented on #75
I agree. I'm just going to mimic what exists now.

I'm definitely up for getting this transitioned. Feel free to send the info and I'll work on getting everything set up and ready to transition.

[2018-02-12 13:30] benkehoe opened #78 "Reference section of spec should show CloudEvents version of examples"
The examples under the Reference section of the spec are useful, but it would be enlightening for a more outside observer like me if they had a comparison with what those events might look like when transformed into the CloudEvents spec.

[2018-02-15 15:58] markito commented on #74
LGTM overall but not sure why the removed items were removed.  We could discuss more about that during the call.

[2018-02-15 16:17] clemensv opened #82 ""source" name/explanation"
"This describes the software instance that emits the event at runtime (i.e. the producer). It contains sub-properties (listed below)"

The description using a "i.e." seems indicative of either the property name being too ambiguous to stand, or the description needing work.

"Software instance" is also often an incorrect term to describe a resource/source/producer, because a resource/source/produce

[2018-02-15 16:30] clemensv opened #83 "Definition: Occurrence"
https://github.com/cloudevents/spec/blob/master/spec.md#occurrence

The definition of "occurrence" is unnecessarily narrowing the scope of what an occurrence may be, especially by calling out specific technologies/protocols.

Suggestion:

An "occurrence" is the capture of a statement of fact during the operation of a software system. This may occur because of a signal raised by the system or a sig

[2018-02-15 16:38] duglin commented on #83
@clemensv can you open a PR with your proposed change?

[2018-02-15 16:40] duglin commented on #74
@ultrasaurus can you turn this into a PR so people can see it in full context? It'll be easier/faster to review

[2018-02-15 16:50] clemensv opened #85 "Definition: Event"
https://github.com/cloudevents/spec/blob/master/spec.md#event

The specification should either drop "occurrence" or nor restate a partial definition in "event".

Suggestion:

An "event" is a data record expressing an occurrence and its context or a set of occurrences and their shared context. Events are routed from the emitting [re]source to interested parties for the purpose of notifying the abou

[2018-02-15 16:54] duglin commented on #85
@clemensv wanna open a PR?

[2018-02-15 16:59] clemensv opened #86 "Definition: Context"
https://github.com/cloudevents/spec/blob/master/spec.md#context

Suggestion for clarification:

A set of metadata attributes included with the event that describe circumstances of the occurrence that are not specific to the occurrence. Tools and application code use context information to identify the relationship of events to aspects of the system or to other events. Context attributes may descri

[2018-02-15 18:41] #23 closed

[2018-02-15 18:41] #59 closed

[2018-02-16 10:59] clemensv commented on #85
Yes, I am logging issues first and then doing PRs

[2018-02-16 10:59] clemensv commented on #83
Yes. FWIW, I think it's useful to have issues for PRs.

[2018-02-16 11:01] duglin commented on #85
@clemensv ok - we're not that formal here, you can go straight to a PR if you want. The extra noise isn't necessary.

[2018-02-16 15:43] barkerd427 commented on #75
I can't say I'm happy with this, but here's my start: http://danbarker.codes/cloudevents-org/

The code is here: https://github.com/barkerd427/cloudevents-org

I've mostly overridden the original theme, so it may make sense to create a separate theme soon or switch to something when/if we want this to be more elaborate.

[2018-02-16 16:21] duglin commented on #75
my only comment so far is that there's a lot of wasted whitespace on the sides, so I would reduce that so you can add more space between the columns. Would reduce the the odds of them columns feeling like they're squeezed together.

-Doug

[2018-02-16 16:25] deissnerk commented on #70
@cathyhongzhang I have given this issue and #72 some more thought. In addition to the above described combination of events, you may have multiple event processors that do not consume an event but add more sub events like "received on queue xyz" or "signature validated successfully".
I think based on this we could define roles or patterns for event processing. E.g.
- gateway (forward events betwee

[2018-02-16 17:09] duglin commented on #70
@cathyhongzhang if you agree that solving this problem should be done by something like an "application model", should we close this? It seems like we're focusing on defining the individual events themselves and how groups of events might be correlated would be out of scope - for now.

[2018-02-18 21:23] rogeralsing opened #87 "Events in the Actor Model world"
I'm trying to get what context this initiative is trying to cover.
I run the Proto.Actor project, cross platform actor framework (http://proto.actor)

For us, things like batching to increase throughput and reduce overall message size is important.
e.g. we buffer messages either until the buffer is full or deadline timeout and then compress the payload by replacing message names/namespaces with id

[2018-02-19 14:37] duglin commented on #87
@rogeralsing see: https://github.com/cloudevents/spec/pull/84
If adopted it'll mean that, for now, the mechanisms by which we transport events over the wire are not yet covered by the spec.  Does that help?

[2018-02-19 15:28] deissnerk commented on #70
@duglin Specifying an application model is definitely out of this spec's scope, but a **common understanding** how the specified events are going to be used should be a prerequisite. Right now I've got the feeling that in the discussions at least the **common** is missing.
The sub events I mentioned would be part of a single event. I am assuming  that the original event is immutable while being fo

[2018-02-19 19:29] cathyhongzhang commented on #70
@duglin  If for now we only like to concentrate on single event definition, then I can close this one for now.  @deissnerk I think you raised a very important point. You can use #72. I will add my input to #72.

[2018-02-19 19:29] #70 closed

[2018-02-19 19:36] cathyhongzhang commented on #72
This is related to the question I raised in last week's meeting. For this case, is the SaaS application the event source or API GW the event source? If API GW is the event source, event data from SaaS Application should be the payload of the API GW event (the Alternative 1) and some metadata needs to be added to the API GW event metadata fields so that the event consumer knows how to extract  need

[2018-02-20 01:53] ultrasaurus commented on #85
By the way, we agreed to use the term "source" for now, and I think dropping the "[re]source" will make the definition more readable.  Introducing the idea that an event should represent "a set of occurrences" is new -- I would think that packaging a group of events together would be a transport-level optimization, though I haven't thought about that deeply.

I do like your wording.  Would love to

[2018-02-20 03:28] ultrasaurus commented on #78
I think we decided this should live outside of the specification.  There's another issue to move the specific references elsewhere: https://github.com/cloudevents/spec/issues/19 -- will work on a PR for that now!

[2018-02-20 18:35] clemensv opened #93 "HTTP Mapping Strawman"
Just to capture a straw-man for HTTP mappings for discussion purposes - not about the mapping per-se (that might be too early at this point) but to illustrate concrete usage of the properties in the core spec.

With the properties that are in the spec as of today, I'm going to show two candidate mappings for HTTP. One carries an opaque binary payload as-is with the data field being mapped to the H

[2018-02-21 08:11] clemensv opened #94 "Disambiguation/clarification of source/source-id/source-type"
The "source" property is, irrespective of being interpreted as a URI or URL, already an identifier for the source itself. The "source-id" therefore appears superfluous.

However, the present schema does not provide any further context qualification for the event relative to the source, so I am proposing to repurpose the source-id to provide that context qualification. In common messaging APIs and

[2018-02-22 05:04] ac360 commented on #75
@barkerd427 Thanks for getting this started.  I believe we can improve the design.  Do you mind if I take a shot at it via PR?

[2018-02-22 05:20] barkerd427 commented on #75
Go for it! Some work stuff came up, and I haven't been able to cycle back
yet.

On Feb 21, 2018 23:04, "Austen" <notifications@github.com> wrote:

[2018-02-22 07:43] ac360 opened #99 "Reference Implementation Proposal - CloudEvents Transform Library"
**Objectives**

* Create a simple reference implementation for CloudEvents.
* Create a tool that incentivizes early adoption of the CloudEvents specification.

**Overview**

This proposal is for a library that transforms common events (e.g. AWS S3 Object Created, webhooks) into the CloudEvents format.

The library could be used by publishers, middleware and subscribers.  In the case of serverless,

[2018-02-22 12:16] clemensv commented on #99
In my view, the point of the WG effort is for (cloud-) platform providers to support a standardized event format natively. Such a project as a WG sanctioned activity would be counterproductive towards that goal because it removes the implementation incentive.

[2018-02-22 19:48] duglin commented on #73
@ultrasaurus does #88 address this or is an additional PR needed?

[2018-02-23 12:32] yaronha commented on #93
@clemensv the JSON way creates significant overhead in many cases, e.g. when forwarding events you have to fully de-serialize & re-serialize the event vs peeking at the headers, also as you noted when using non JSON data like protobuf, Avro, XML, Image, .. you are forced to yet another expensive ser/des, in our API gateways which map cloud APIs to our native APIs the CPU is spending 80% of the tim

[2018-02-24 18:56] ultrasaurus commented on #73
The above interim goals are addressed in PR#88, but we still lack design goals, see #101

[2018-02-27 01:53] ultrasaurus commented on #94
I don't really understand the problem you are trying to solve.  I'm having trouble following this series of recommendations, since I'm hearing a critique without a clear statement of how the set of attributes are used together and for what use cases.

(This was an issue with the spec before @clemensv arrived, and I really appreciate the focus on detail -- I just want to make sure everyone is align

[2018-02-27 01:55] duglin commented on #78
@benkehoe would you be interested in working on a PR for this? Perhaps one that extends the current "references.md" file and for each type of event in there it shows one possible serialization/mapping to the CloudEvents fields.  This might be a bit premature, but at the same time, I kind of like the idea of being able to see which fields map to our fields vs which would end up in "extensions".  It

[2018-02-27 21:30] yaronha commented on #94
@clemensv @ultrasaurus i think we only need a single source field which calls out the entity or a proxy which pushed the cloud event, additional source info can be found in the schema. e.g. if there is an S3/Blob update event the source need to be the s3 service, and the source S3 object which pushed the event needs to be in the message body along with other "sources" (users, location, ..). we mus

[2018-02-28 05:31] ultrasaurus commented on #82
I've been working on [cloud events concepts](https://docs.google.com/presentation/d/1xippFyX9fXqlTWUh3waZcanVMHF12z0AbZ8EK3fk3ys/edit#slide=id.g3244de5a2d_0_0).  After last weeks discussion of what we mean by `source` I've attempted to illustrate how the different attributes might be used (currently slide 11, including image below for easy reference):

![image](https://user-images.githubuserconten

[2018-02-28 05:33] ultrasaurus commented on #94
please see note in issue #82 -- I have the same concern with all of the separate `source` issues

[2018-02-28 22:49] yaronha commented on #82
@ultrasaurus @clemensv @duglin  there seem to be an overlap (same prefix) between source-type & event-type, and between namespace & source-id, IMO Cloud events "envelop" doesn't need the level of details in source-id since this is event class specific and belongs in the event body/data.

I'm still not sure what the "namespace" stands for (whats the diff between acme.com & org.samba), and how all o

[2018-03-01 00:46] cathyhongzhang opened #107 "Based on definition of the content-type, we may just call it "encoding-format" to be more self explanatory"
Assigned to: @cathyhongzhang

[2018-03-01 00:50] cathyhongzhang opened #108 "Need a better description for schema-url"
The description for schema-url is "A link to the schema that the data attribute adheres to". What is meant by "data attribute"?

[2018-03-01 00:54] cathyhongzhang opened #109 "Based on the description of "namespace", we may just call it "event-producer" or "event-organization" to avoid confusion."
Assigned to: @cathyhongzhang

[2018-03-01 00:55] cathyhongzhang commented on #109
You can assign this to me

[2018-03-01 00:56] cathyhongzhang commented on #107
You can assign this to me

[2018-03-01 01:20] duglin commented on #108
@cathyhongzhang can you keep your title a bit shorter and use the comment field for the longer description :-)  Its kind of awkward to have such long titles for issues.

[2018-03-01 01:24] cathyhongzhang commented on #108
The description for schema-url is "A link to the schema that the data attribute adheres to". What is meant by "data attribute"?

[2018-03-01 11:42] duglin commented on #74
@ultrasaurus can we close this now that #88 is merged?

[2018-03-01 11:47] duglin commented on #41
Can we pull this one into the overall "what is the source?" discussions? It seems related to me since they're all about identifying where the event came from so it makes sense to tackle them all at the same time.

[2018-03-01 12:53] clemensv commented on #109
That's a more direct way of expressing one purpose of the namespace scoping: "Who owns this definition?"

Namespace is a fairly established concept, though, and choosing a narrower concept might have downsides. Changing the namespace is a way to break out of a versioning lineage, for instance. I might start out with urn:mything-microsoft-com and version my schemas within that scope, and then I do

[2018-03-01 13:18] clemensv commented on #108
The [data attribute is this.](https://github.com/cloudevents/spec/blob/master/spec.md#data-1).

The schema-url points to a document that describes what the structure of the content of that property is. I think the name of the property is fairly good.

[2018-03-01 13:30] clemensv commented on #107
Introduced with MIME, Content-Type is a convention that is used in numerous protocols. "Encoding" is separate concept.

MIME (Email):
* Content-Type: https://tools.ietf.org/html/rfc2045#section-5
* Content-Transfer-Encoding: https://tools.ietf.org/html/rfc2045#section-6

HTTP:
* Content-Type: https://tools.ietf.org/html/rfc7231#section-3.1.1.5
* Content-Encoding: https://tools.ietf.org/html/rfc723

[2018-03-01 15:04] clemensv commented on #93
The JSON way is also routable without touching it, whereas the HTTP header variation is not. I can receive the JSON event and stick it into an AMQP queue and process it from there without loss of fidelity. We have a ton of scenarios where event flows are more than one hop. There are pros and cons to both, and that's why I would allow for both mappings. The JSON mapping will be common across severa

[2018-03-05 18:26] clemensv opened #112 "Topics/Subject Prior Art and Example"
We (Microsoft) believe that the technical core artifact that the WG has developed to date, the property definitions, are quite close to where the WG needs to be for an initial "stable" draft that teams can start to do some bi- or multilateral interop work on. In other organizations, there's a differentiation between a
working draft that changes day-to-day and a committee draft that has been promot

[2018-03-07 14:01] duglin commented on #112
@clemensv thanks for this. While the main point of this is to help nail down the shape of the event properties, you did start out talking about the WG's scope and goals. To that end, could you look at whether you think any changes are needed to @ultrasaurus's PR (https://github.com/cloudevents/spec/pull/101), and if so, suggest some edits in there. I'd like to keep all of those discussions in one

[2018-03-07 22:08] yaronha commented on #112
@clemensv  i'm not clear why we take fields from the event it self and copy them into the context part, in addition based on what i thought the consensus was last call that the source is the reporting entity i fail to see why you would add in the AWS case the accountId into the source field, IMO ec2.amazonaws.com is the reporting entity and to figure out the details one should peek into the event,

[2018-03-08 14:11] ultrasaurus commented on #109
@clemensv yes, this was a bit clearer when it was a single string. By splitting "namespace" into a separate attribute that introduced quite a bit of confusion

[2018-03-08 15:04] duglin commented on #109
Where are we on this one?  Leave "namespace" as-is?  @cathyhongzhang ?

[2018-03-08 16:29] yaronha commented on #109
if the namespace specifies the org who defined that event (Schema), why isn't it just part of the Schema string ?

[2018-03-08 16:40] yaronha commented on #93
@clemensv AMQP is a great example, it has Headers just like HTTP, you can use those for the context. we need to have the minimal possible context (not repeating the Event data), and place it in transport specific mechanism.

JSON limits cloud events to low performance use cases, we are working (with Azure as well, see: https://github.com/nuclio/demos/tree/master/fleet-alarm-detection-azure) on rea

[2018-03-08 16:40] yaronha commented on #107
agree w @clemensv

[2018-03-08 17:19] clemensv commented on #112
@yaronha I give the reasoning for the containment strategy above. Wrapping with property promotion is a very common approach in application integration (EAI) that I apply here to those examples. When these existing log records are carried through a cloudEvents compliant infra, the existing handler code will work as-is.

I take no stance on the content of individual fields and what format they shou

[2018-03-08 18:12] cathyhongzhang commented on #109
If the namespace is not meant to be just an identifier for the org, then the description of it needs to be updated.

[2018-03-08 18:14] #107 closed

[2018-03-08 18:29] duglin commented on #109
@cathyhongzhang perhaps you want to issue a PR to clarify?  I'd hold off until after the scope/goals and "what is source" talk wrap up though.

[2018-03-08 18:37] yaronha commented on #108
@clemensv i thought the schema field can be defining-org/schema-name, think of it like Class/Kind fields in kubernetes (e.g. `azure.microsoft.com/blobstore.update-message`), not a long/full blown URL which will add overhead to every message

[2018-03-08 20:16] cathyhongzhang commented on #109
Ok

[2018-03-09 09:38] clemensv commented on #109
@yaronha  I think of "namespace" as a global disambiguator for how the _content_ of all metadata fields for that event is to be interpreted and to what system scope they relate.

If I'm emitting an event from a particular system, that system will have a certain way to express event identifiers and the source/topic and further qualifiers, and those might be in conflict with concepts from other syst

[2018-03-09 09:55] clemensv commented on #108
@yaronha the field is surely optional. Whether it's worth including a "full blown URL" depends on the event type, how long those events hang around, how the event payload is encoded, and how far they travel.  If the event payload is encoded with Protobuf or Thrift or any other binary format that isn't self-contained, you literally need a schema copy to feed into your decoder.

Separating a concret

[2018-03-15 05:10] ac360 commented on #99
@clemensv I understand your point.  Though, consider:

- It could take a while for major platform providers to support CloudEvents.
- This allows use of CloudEvents with major platforms today, which will encourage growth of the ecosystem.  Growth of the ecosystem then pressures platform providers to make the change faster, or they risk falling behind the market.

[2018-03-23 00:00] cathyhongzhang commented on #108
In this scheme definition, "the data attribute" is used. I am confused by the "data attribute" since "metadata attributes" is used in the definition of "context". In the "event" definition, it is stated that "Events include context and data". "contexts" is defined as "A set of consistent metadata attributes included with the event".  So I assume that "schema" here is about the structure of the dat

[2018-03-23 00:06] cathyhongzhang opened #119 "Why do we need "data" in the "Context Attributes" section?"
What is this "data" attribute? What is it used for?

[2018-03-23 02:43] duglin commented on #119
Its the actual event.
So, if the original (pre-CloudEvent conversion) event looked like:
`{ "foo": "bar" }`
then the CloudEvent would be something like:
[code]
I think.

[2018-03-23 02:59] duglin commented on #108
I think some of our structure is a bit off. The spec says:
- Events include context and data (implying to me "context" and "data" are siblings in an Event object)
- Context is metadata about the Event (again, implying "context" is (sort of) a sibling to  "data")
- But under "Context Attributes" we have "data" itself - implying a parent-child relationship not a sibling one.

I think we just need to

[2018-03-23 04:34] SeanFeldman commented on #119
Sounds right.
Microsoft EventGrid defines `data` as

[2018-03-23 14:05] ultrasaurus opened #121 "define the scope of the specification"
The [roadmap](https://github.com/cloudevents/spec/blob/master/roadmap.md) establishes that the working group will "Describe the scope of the specification."

This issue represents work toward clarifying that scope.

[2018-03-23 14:11] ultrasaurus commented on #73
yes https://github.com/cloudevents/spec/pull/101 resolves this issue.

I've opened https://github.com/cloudevents/spec/issues/121 for the separate roadmap about the scope of the spec.

[2018-03-23 19:58] cathyhongzhang commented on #119
In the previous section, context and data are defined as two separate entities. But in this section, data is part of event context. Does the "data" here means the location of the event payload in the event message (or the type of payload or something else)? A "data" field inside the event context needs a clear definition to avoid confusion.

[2018-03-23 20:09] cathyhongzhang commented on #108
@duglin That is why I opened the issue #119 Why do we need "data" in the "Context Attributes" section?
I can create a PR to pull this "data" out of the "context attributes". But before I do that, can I briefly discuss this with the community in the next meeting?
My point is that since Context is metadata about the Event, unless this "data' in the "context attributes" means the location or somethin

[2018-03-23 20:14] duglin commented on #108
@cathyhongzhang I suspect that your interpretation aligns with the rest of the group (`data` not a "context attribute" its more like a sibling to them when its serialized) so I don't see any reason to wait before you submit a PR. I suspect its more of a wording and "moving of text" PR than anything else, so I think it should be accepted pretty easily.

And then based on the comments in the PR, yes

[2018-03-23 20:16] duglin commented on #119
For those who may not see the other issue, see this comment: https://github.com/cloudevents/spec/issues/108#issuecomment-375785406

[2018-03-23 22:35] ultrasaurus commented on #74
yes, this is resolved -- thank you!

[2018-03-23 22:35] #74 closed

[2018-03-23 22:36] #73 closed

[2018-03-26 05:40] duglin opened #125 "Remove TBD in `extensions` attribute"
In today's version of the spec, for the `extensions` attribute it has this sentence:
- - -
TBD - Determine a shorter prefix for this (e.g. OpenAPI uses “x-”)
- - -
We need to resolve (or remove) this TBD before v1.0

[2018-03-27 14:47] romainlange opened #130 "Introduction to OpenAgenda"
Hi,

sorry for using an issue ticket as an introduction.
We are based in Paris, France, and develop OpenAgenda.com , a platform helping to make inventories of events and to publish it as Open Data, under Open License, following schema.org/Events standard.

Here is an example with the calendar of the city of Montreuil, neighbour of Paris : https://openagenda.com/montreuil

We have an API and we are

[2018-03-27 18:39] SeanFeldman commented on #130
Frankly, I like this approach.
1. It's trackable. Slack conversations get overwhelming.
2. You get confirmation registration is completed when the issue is closed.
👍

[2018-03-27 18:47] duglin commented on #130
I'm slow, I admit it :-)
- If this is an ad then I don't think this is appropriate. You can talk to the CNCF org team if you want to suggest an alternative mechanism for us to track meetings, events, issues, etc... but we're following the guidance/pattern they use
- If you are saying that you guys produce events and are interested in helping to shape our specification by including your usecases, m

[2018-03-27 18:47] #130 closed

[2018-03-27 18:57] SeanFeldman commented on #130
I've assumed it was intro to join the WG @duglin.

[2018-03-28 07:46] romainlange commented on #130
Yes it was ;)
I check the README.

[2018-03-28 09:45] duglin commented on #130
@romainlange cool!  In that case welcome! And we'd love to have your input! In particular, I personally would like to get your input on the PRs that involve adding some additional attributes that people think would be useful - see this: https://github.com/cloudevents/spec/pull/128#issuecomment-376724482

[2018-03-28 19:29] SeanFeldman commented on #130
Moral: always assume the best in humans, unless proven otherwise 😃

[2018-03-28 21:27] leecalcote commented on #130
I would’ve responded the same way as @duglin.

[2018-03-29 15:54] ultrasaurus commented on #41
I think this is addressed by: https://github.com/cloudevents/spec/pull/123

[2018-03-29 16:08] #41 closed

[2018-03-29 17:43] #42 closed

[2018-03-29 17:45] #17 closed

[2018-03-29 18:35] cathyhongzhang commented on #71
Ok.

[2018-03-29 18:35] #71 closed

[2018-03-31 12:25] duglin commented on #19
Closing since this is now done

[2018-03-31 12:25] #19 closed

[2018-03-31 12:26] duglin commented on #18
Closing since this is either already covered by what's in our docs or if not will automatically happen as we add new attributes.

[2018-03-31 12:26] #18 closed

[2018-03-31 12:30] duglin commented on #22
Given the spec has this sentence:
[code]
I believe we can close this issue as something we will not do.

[2018-03-31 12:31] duglin commented on #24
See: https://github.com/cloudevents/spec/pull/128

[2018-03-31 12:36] duglin commented on #36
I believe we can now close this one

[2018-03-31 12:39] duglin commented on #75
Since we have a new website, can we close this one now?

[2018-03-31 12:42] duglin commented on #82
@clemensv given the current text in the spec for `source` is this issue resolved?

[2018-03-31 12:43] duglin commented on #83
PR #90 is the PR for this one, its merged, so closing this issue.

[2018-03-31 12:43] #83 closed

[2018-03-31 12:47] duglin commented on #87
@rogeralsing given the change we've made to the spec, is this still an issue or can we close this?

[2018-03-31 12:49] duglin commented on #93
I'd like to see this issue as part of our v0.1 milestone - I think having the HTTP mapping will be needed for any kind of interop testing we'll do.

[2018-03-31 12:51] duglin commented on #94
@clemensv do you think we can close this one now?

[2018-03-31 12:53] duglin commented on #109
@cathyhongzhang since we've merged `namespace` into `source`, can we close this one now?

[2018-03-31 13:05] duglin commented on #29
Does anyone recall what the intent of this attribute was?  @ac360 its from the backlog so perhaps you recall?

[2018-03-31 13:08] duglin commented on #28
This feels like something more akin to "event orchestration". Something that might sit on top of our spec, not but direction part of our spec. What do other's think?

[2018-03-31 13:10] sslavic commented on #28
Reminds me of NATS Request-Reply https://nats.io/documentation/concepts/nats-req-rep/

[2018-03-31 13:20] duglin commented on #26
I think this brings up a broader question of whether the scope of a CloudEvent is just what an event looks like while it is being transported between the producer and the consumer, or is there the expectation that the CloudEvent will also be the basis for what is passed to the Function/software processing the event?  See https://github.com/cloudevents/spec/pull/124#discussion_r177907627

If we exp

[2018-03-31 13:26] duglin commented on #5
@schatekar do you still think this is necessary with all of the changes we made to the spec and its scope section?  If not, we can probably close this. But if you think the text there isn't sufficient then perhaps you could open a PR for our v0.1 milestone?

[2018-03-31 13:30] #85 closed

[2018-03-31 13:45] duglin opened #133 "How do people encode `data` in formats such as JSON?"
What, if anything, should our spec say about encoding the `data` property? For example, encoding binary data in JSON is not well defined by the JSON spec, should we say something about this to help interop?

[2018-03-31 14:18] SeanFeldman commented on #22
Agreed.

[2018-04-01 01:25] duglin commented on #93
@yaronha perhaps you could write-up what you'd like the HTTP mapping should look like too, then we could compare

[2018-04-01 17:03] yaronha commented on #93
@duglin seems like @clemensv already described it under `binary` mapping (the first one), so do we need a separate PR?  we can also list both options as valid (BIN & JSON), the only challenge with the JSON one is that you first need to de-serialize it for you to know its a valid one.

[2018-04-01 18:25] duglin commented on #93
@yaronha oh ok. Sorry, I thought you were proposing an alternate solution.  Yes, I do think we'll need a PR to turn it (or them) into a formal proposal for people to review.

[2018-04-01 22:18] #109 closed

[2018-04-03 16:35] clemensv commented on #93
I'll write it up this week.

[2018-04-03 16:57] duglin commented on #93
thanks!!

[2018-04-03 19:41] ultrasaurus commented on #121
Resolve with https://github.com/cloudevents/spec/pull/122 -- per agreement in last working group meeting

[2018-04-03 19:41] #121 closed

[2018-04-05 11:07] barkerd427 commented on #75
We need a second repo named cloudevents-web or something similar to store the code. The current repo will store the generated content. Once I load everything, I'll probably need someone with more permissions to configure GitHub Pages.

[2018-04-05 11:44] duglin commented on #75
@barkerd427 I just created: https://github.com/cloudevents/cloudevents-web and made you an admin. Let me know if you need anything else. And thanks!

[2018-04-05 12:54] barkerd427 commented on #75
Thanks @duglin. I don't seem to have admin permissions to that repo and I can't push to it.

[2018-04-05 13:03] duglin commented on #75
@barkerd427 look for an invite to join the repo

[2018-04-05 13:05] barkerd427 commented on #75
Thank you. Kinda sad I don't know how GitHub works yet.

[2018-04-05 13:49] clemensv commented on #133
I found that I needed a firm opinion on that when writing the HTTP binding spec, so I'm already writing a companion "JSON event format" spec that explicitly calls out those rules.

When "data" is left inside the JSON encoded structure, and the "content-type" value is not either "application/json" or has a "+json" suffix, "data" will be a base64-encoded binary type-declared by "content-type". If "c

[2018-04-05 14:40] clemensv opened #141 "Property Naming Convention"
As I'm writing the HTTP binding spec and the related JSON mapping, it's becoming apparent that the current naming convention for property names with words-separated-by-dashes is creating complications in the JSON mapping (and the assumed common projection into programming languages) that I'd rather avoid.

I would very much prefer for the property names to drop the dash and either use camelCase or

[2018-04-05 14:42] duglin commented on #141
+1 to camelCase

[2018-04-05 15:17] deissnerk opened #142 "Compatibility guidelines for event type versions?"
There are some cases in which event type versions might play an important role.
E.g.:

1. If a standardized event type, that was defined by another organization, is used, it is important for the producer to add the version, as changes in a new version of the event type are not in the producer's hand.

2. If a consumer needs some information that is only available in an event type starting with ver

[2018-04-05 16:34] shalka opened #143 "Integrity requirement: how do we verify that no bits have been changed?"
**DISCLAIMER**: This will likely not be included in v0.1 of the specification, barring further discussion on this issue.

When an event is published, should the publisher be required to include fields related to the integrity of the event envelope, payload, or both (such as checksums), that allow consumers to verify that the event has not changed? There are two primary concerns related to this iss

[2018-04-05 17:08] duglin commented on #93
Agreed to add this to v0.1 milestone on 4/5 call

[2018-04-05 18:01] clemensv commented on #141
Would appreciate if someone could do a renaming pass in the core spec and propose that as a PR. I kinda have my hands full.

[2018-04-05 18:02] duglin commented on #141
I'll do it - should be an easy one.

[2018-04-05 18:08] barkerd427 commented on #75
I've got the website updated. We need to complete the 3rd item on this link: https://help.github.com/articles/quick-start-setting-up-a-custom-domain/

[2018-04-05 20:35] caniszczyk opened #147 "Schedule time to present to the CNCF TOC as a Sandbox project"
I'd like to see this effort be formally blessed by the TOC as a Sandbox project.

I'd suggest getting on the TOC calendar after KubeCon/CNCon and the first release of the project.

However, I'd like to hear others thoughts on this.

[2018-04-05 20:38] duglin commented on #147
I believe we got approval from the TOC to work on CloudEvents on a previous call. It was probably a bit ambiguous what that meant w.r.t. what the spec's status would be. Making the CE WG a bit more formal as a Sandbox project would probably be a good thing. If you can schedule a time for us I'm sure we can put something together by then.

[2018-04-06 11:49] rbramley commented on #141
Another justification for the switch to camelCase is to support the use of Avro as a serialization format (as mentioned in the spec); Avro field names can start with [A-Za-z_] and subsequently contain only [A-Za-z0-9_].

[2018-04-06 14:18] barkerd427 commented on #75
This is now complete. Thank you for your help. We can now make all updates in GitHub and Travis will run to deploy the updated site when there's a merge to master.

[2018-04-06 14:18] #75 closed

[2018-04-06 17:09] rbramley commented on #133
Have been experimenting with an Avro serialization of CloudEvents (happy to contribute the [draft Avro schema file](https://gist.github.com/rbramley/c00bbd95f3f6ecc0cc1f90e5d6d6c90c)) and found that the `data` property can be a bit problematic.

With Avro, when using a nested record for the `data` payload, the optional `schemaURL` and `contentType` are superfluous as schema validation is built-in.

[2018-04-09 13:42] duglin opened #153 ""CloudEvents" or "Cloud Events" ?"
We need to pick one and stick with it

[2018-04-09 14:33] caniszczyk commented on #153
CloudEvents is being trademarked by CNCF so let’s stick with that

On Mon, Apr 9, 2018 at 8:42 AM Doug Davis <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-04-12 15:50] ultrasaurus commented on #153
LGTM

[2018-04-12 16:48] duglin commented on #153
General approval to the direction on the 4/12 call

[2018-04-12 22:32] #141 closed

[2018-04-12 22:37] duglin commented on #82
@clemensv can we close this one?

[2018-04-13 16:41] erikerikson commented on #143
I feel this is important.  Also, there is a challenge here: what bars malicious middleware intentionally changing payload values and also checksum?

Cryptographic signatures sprint to mind as a potential solution but this risks scoping out the consideration into a larger set of concerns.

[2018-04-15 19:57] inlined opened #163 "Temporarily cut some attributes for 0.1?"
We've spent a lot of time to harden some of the attributes: `source`, `eventType`, `cloudEventsVersion`, `eventID`, `eventTime`, and `data`. I'm really happy to stand by all of these.

Some of the other fields really haven't had the same attention and I wonder if we should have the opportunity to reintroduce them with proper scrutiny after KubeCon. Unless anyone plans to actually use these fields

[2018-04-15 19:58] inlined commented on #163
@duglin Can I get a 0.1 label? I'm glad to spin up PRs for this bug that each cut a field so people can discuss the merits or I can let everyone discuss here.

[2018-04-15 21:33] duglin commented on #163
@inlined I've added this to the agenda for the call this week - then the group can decide on whether to include it in v0.1 or not.

My 2 cents:

`contentType` is needed if people put the entire CloudEvent in the HTTP body and not just the `data`.   While less critical than `contentType`, I think not having a spot for extensions (or not talking about them) could send the wrong message about the fle

[2018-04-15 21:36] #32 closed

[2018-04-16 03:12] inlined commented on #58
This seems to be quite settled.

[2018-04-16 03:12] #58 closed

[2018-04-16 03:27] inlined commented on #163
Honestly it seems sane that if you want an XML body then you should use a (yet to be defined) XML encoding for the Cloud Event:

[code]

This is much cleaner than allowing:

[code]

And if an XML gateway wanted to forward

[code]

to a JSON endpoint, would the JSON value of data be `"{\"hello\":\"world\"}"` or `{"hello":"world"}`? It seems like the spec would be simpler if we disallowed double/swi

[2018-04-16 03:28] inlined commented on #163
What if we explicitly put extensions in our roadmap?

[2018-04-16 14:00] ultrasaurus opened #164 "definition of object.create, object.delete event type"
In 4/9 interop meeting (see [notes](https://docs.google.com/document/d/1OVF68rpuPK5shIHILK9JOqlZBbfe91RNzQ7u_P7YCDE/edit#), we talked about defining an event type that would be the same across platform when someone uploads a file to storage.

References:
* Microsoft Event Grid Blob event: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview

[2018-04-16 15:31] #153 closed

[2018-04-17 08:28] clemensv commented on #164
What we said was that we're going to look for use-cases with that characteristic for a demo. I didn't hear anyone seriously proposing standardizing such an event type.

We'll oppose getting into event semantics before we have a full suite of transport bindings and event formats finalized.

[2018-04-17 08:41] clemensv commented on #163
`contentType` is referenced in https://github.com/cloudevents/spec/pull/158, https://github.com/cloudevents/spec/pull/157, https://github.com/cloudevents/spec/pull/148, and https://github.com/cloudevents/spec/pull/155 therefore I am strongly opposing cutting that field, which doesn't only declare the data format, but might actually declare the schema by reference to a well-defined media type that

[2018-04-17 09:10] clemensv commented on #143
In AMQP, we introduced the [footer](http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-messaging-v1.0-os.html#type-footer) for this purpose, but there has been little vendor momentum to fill that with life, because - as it turns out - doing so is rather complicated.

[RFC7515](https://tools.ietf.org/html/rfc7515) defines the JSON Web Signature and the metadata you'll need to carry to tell a re

[2018-04-17 13:02] duglin commented on #163
To clarify my previous comment... while I'm not 100% clear on whether we should keep/remove some of the attributes, I'm ok with keeping them for v0.1 since I think they've been there from the start and removing them now might feel a bit rushed as we come up on our first milestone target. I don't see any harm in resolving their presence in the spec during v0.2.

[2018-04-17 13:03] duglin commented on #163
We plan to discuss this (briefly) during this week's call - so if you have any comments please add them here.

[2018-04-17 20:47] erikerikson commented on #143
This is deeply helpful Clemens.

The multi-format concern is indeed problematic and my inexact "cryptographic signatures" statement does imply key pair based identity and public key distribution, which truly does expand scope and allow for a vast amount of disagreement and more particularly the risk of fragility in the standard.

Thank you very much for this: continuing to digest.

[2018-04-18 19:06] inlined commented on #163
We stated in last week's meeting that the "core" features will become much more solid once 0.1 is ratified. If we haven't had a chance to even look at the use case of a feature yet, I would suggest we don't know whether there would be wildly breaking changes in the future. If we can't make any promise to the stability of a feature then I don't think we should encourage early adopters to try them o

[2018-04-19 00:03] duglin commented on #163
I can't recall if that was said or not, but IMO going to v0.1 just gives us a name/tag that we can all point to as we write code for the interop event at CNCF/KubeCon. Nothing is more, or less, set in stone just because we reached the first milestone.  IOW, everything in the spec can still change if the group wants to change it. There is no statement/guarantee of backwards compatibility yet.

[2018-04-19 04:42] ac360 commented on #147
@caniszczyk Let's do this.  +1

[2018-04-19 07:55] caniszczyk commented on #147
When’s a good time? June 5 or 19th?

On Thu, Apr 19, 2018 at 1:42 PM Austen <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-04-19 08:11] ac360 commented on #147
Sooner the better.  Either works for me.

[2018-04-19 09:07] ac360 opened #166 "CloudEvents Demo @ CloudNativeCon Europe"
**UPDATED: 4/26**

Hi all,

At CloudNativeCon Europe, I'm giving a talk on CloudEvents. The goals of the talk are:

* Introduce CloudEvents & announce the initial version.
* Communicate the "Why" and use-cases of CloudEvents.
* Illustrate what will be possible in the future w/ CloudEvents.
* Make it real for the audience by showing a demo.
* Tell our story of collaboration and celebrate those invo

[2018-04-19 09:24] ac360 commented on #166
# Demo Proposal - E-commerce

The demo will feature a minimal e-commerce web application and I will pretend to be a user that performs the following actions in the application:

* Registers
* Views two products
* Encounters an error
* Purchases a product

The web application will publish events from the client-side (for the sake of simplicity).  Some communication can happen 1-to-1 between FaaS Fu

[2018-04-19 16:01] clemensv commented on #163
What Doug said. We need a tag to refer to for implementations. And then a next one and a next one.

[2018-04-19 17:09] #125 closed

[2018-04-19 17:21] duglin opened #167 "Discuss renaming 'Object' to something else in our Attribute type system section"
See https://github.com/cloudevents/spec/pull/152/files#r181143546 for more info.

Assigned to @clemensv

[2018-04-19 17:30] duglin commented on #163
On the 4/19 call we all agreed that the v0.1 tag is there to provide the group a well defined version of the spec to which people can code to for the interop event at CNCF/Kube-con. It does not mean that anything in our docs is "set in stone" - everything is still changeable via future PRs. No statement of backwards compatibility is being made either.

Agreed to close this issue based on this agre

[2018-04-19 17:30] #163 closed

[2018-04-19 18:01] clemensv opened #168 "Capitalization rule for HTTP headers"
The HTTP transport binding mandates upper-casing the attribute name while HTTP headers are factually case-insensitive. Common HTTP notation for headers is Capitalized words separated by hyphens.

(link to text follows when HTTP transport is merged)

[2018-04-19 18:03] #93 closed

[2018-04-20 07:07] clemensv commented on #167
Sent email to the mailing list:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cncf-wg-serverless/qKW4mYNvZYo/XrPREoppBQAJ

[2018-04-22 16:00] caniszczyk commented on #147
@duglin @ac360 June 5th works for me, confirm 8am PT

[2018-04-23 20:47] clemensv commented on #167
Last call.

[2018-04-23 23:35] inlined commented on #167
My suggestion from the meeting still stands. I propose `any` or `var`. These should feel comfortable to JS devs and don't overload the meaning of Object, which is distinct from string or array in JS.

[2018-04-23 23:41] duglin commented on #167
Either `Any` or `Object` are ok with me.

[2018-04-24 00:31] inlined opened #175 "Will aligning on RFC6839 decrease interoperability?"
Bug filed to note concern from #148 (HTTP transport and JSON mapping). We should investigate how much software in the field will have difficulty handling the content-type proposed in the [JSON structured content mode](https://github.com/cloudevents/spec/blob/master/http-transport-binding.md#32-structured-content-mode).

The content-type `application/cloudevents+json` is completely valid per [RFC68

[2018-04-24 06:26] duglin commented on #166
let's word this so that anyone can generate the events.

We also talked about an image recognition service.  So, if the event was text then we could analyze it for tone/sentiment, or if its an image we can analyze it to guess what's in it. And then tweet the result.

[2018-04-24 14:42] ac360 commented on #166
@duglin Building a demo around publishing two events, each with multiple FaaS subscribers across platforms is a decent amount of work for the limited time that we have before CloudNativeCon (also there isn't much time to perform this demo during the talk).  At this time, I don't want to introduce more published events.  Overall, I think the two use-cases outlined above will convey the story and de

[2018-04-24 18:16] ac360 commented on #147
June 5th at 8am works for me @caniszczyk

[2018-04-26 00:41] duglin commented on #147
yup june 5th, 8am PT is fine with me.
I assume one of the existing proposals (e.g. https://github.com/cncf/toc/blob/f0d87416980e55d38f790081529bb281d9ec8cf0/proposals/spiffe.adoc ) are a good template to follow?

[2018-04-26 16:33] inlined opened #177 "Extension names become case insensitive in binary encoding"
Extensions are not defined to have case-insensitive names, but the binary encoding puts the extension name in a header. Since header names are case insensitive, their case may be changed by middleware. This makes extensions fairly fragile.

I suggest we either:
1. Define extensions to be case insensitive in spec.md
2. Change the way extensions are encoded in HTTP binary encoding.

I personally pre

[2018-04-27 01:02] #168 closed

[2018-04-27 02:30] #86 closed

[2018-04-28 00:56] duglin commented on #147
@caniszczyk @ac360 See what you think of this:  https://github.com/duglin/toc/blob/9a7d3656cca1b772fb51b2f7277c7fa2da955589/proposals/cloudevents.md
Chris  - what other things should I prepare for the call? slides too?

[2018-05-03 07:24] cjohansen opened #183 "Mailing list form on cloudevents.io is not configured"
The mailing list signup form on cloudevents.io has default configuration: http://my-account.mailchimp.com/my-subscriber-url

[2018-05-04 05:15] rdallman opened #184 "Clarification of json 'data' section docs disparity"
Hello. First, thank you for this project, this is a great thing for FaaS at large :)

In implementing the spec, there has been some confusion around 2 particular sections from the docs, I am hoping to have some light shed on which is the 'right' way and then to cement that in the documentation itself. I did not see any open issues or PRs at the moment that resolve this, but may have missed one.

E

[2018-05-04 10:28] ohmy8212 commented on #184
Twitter has solutions for your marketing objectives.

Read More here: https://marketing.twitter.com/apac/en_gb.html

Sent from my MetroPCS 4G LTE Android Device
3/18/18, 03:07 - Messages to this chat and calls are now secured with end-to-end encryption. Tap for more info.
3/18/18, 03:07 - Physical fitness 😍: Hi

[2018-05-04 16:54] ohmy8212 commented on #184
Jessica Dahl Franklin jess
+13522997083

Sent from my MetroPCS 4G LTE Android Device
ÑËÏ¢EDušuC`Vð›U

[2018-05-05 01:34] tjanczuk commented on #177
+1.

This problem makes it impossible to implement a compliant consumer in some popular frameworks. For example, the Node.js HTTP implementation explicitly normalizes all HTTP headers to lowercase.

[2018-05-05 02:23] tjanczuk opened #185 "JSON Event Format processing"
JSON Event Format encodes several types of the Cloud Events type system into a JSON string. How is a consumer of a JSON encoded event expected to determine the intended type of a specific field of a Map? For example, how does the consumer determine if a string is a Timestamp, a base 64 encoded Binary, or just a String?

Is the consumer expected to be equipped with out of band knowledge to make thi

[2018-05-05 03:50] ohmy8212 commented on #184
Sent from my MetroPCS 4G LTE Android Device
--------_- audio video games Originals message --------From: Reed Allman <notifications@github.com> Date: 5/4/18  01:15  (GMT-05:00) To: cloudevents/spec <spec@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: [cloudevents/spec] Clarification of json 'data' section docs
  disparity (#184)
Hello. First, thank you for this project

[2018-05-05 20:31] ljnelson opened #186 "Is eventID an attribute of the context?"
Thanks for the beginnings of this specification; it looks very interesting!

The [specification says](https://github.com/cloudevents/spec/blob/master/spec.md#context-attributes):

The context includes `eventID` as an attribute.  It also includes `eventTime` and `eventType` (and `eventTypeVersion`).

I wonder if these are really attributes of the event itself, not attributes of the context it conta

[2018-05-05 21:06] ljnelson opened #187 "Cardinality of concepts?"
Suppose I have some data (in the specification's sense of the word):

    foo

…and I want to describe that data, loosely speaking, with a context i.e.:

    contentType: text/plain
    extensions: some kind of map representing extensions here
    etc.

…and so on.  (My notation above is just to illustrate concepts; not supposed to be a binding.)

Now:

* Should I be able to broadcast two or more

[2018-05-05 21:16] ljnelson opened #188 "Do eventType, eventID describe the type and identity of events, or occurrences?"
The specification [says of eventType](https://github.com/cloudevents/spec/blob/v0.1/spec.md#eventtype):

But then it [says of eventID](https://github.com/cloudevents/spec/blob/v0.1/spec.md#eventid):

As a reader, I had a bit of cognitive dissonance here.  The spec [goes to some lengths to indicate in its terminology section that an occurrence is not an event](https://github.com/cloudevents/spec/bl

[2018-05-06 02:54] jugaadi opened #189 "Conformance with JSONAPI Spec"
I propose [JSON Event Format(v0.1)](https://github.com/cloudevents/spec/blob/v0.1/json-format.md) to be defined as an extension of [JSONAPI format](http://jsonapi.org/format/) as both solutions appear to be similar.
Due to its existing mature ecosystem, it can handle more usecases and will also help us onboard developers easily.

cc: @wycats

[2018-05-06 03:38] jugaadi commented on #189
cc: @json-api

[2018-05-06 21:26] independentid opened #190 "Possible alignment with IETF Security Event Token"
This specification has surprising alignment with the IETF's SET Token format which is going through final publication process to RFC.

It might be interesting to discuss possible alignment routes and shared common delivery methods to bring these initiatives together.

For more information see:
SECEVENTS Working Group - https://tools.ietf.org/wg/secevent/
SET Security Event Token Draft - https://to

[2018-05-08 14:05] inlined commented on #108
I can't find the thread anymore, though this reminds me of our old discussion on whether we should have had `context` be a peer attribute of `data` in the JSON encoding. Regardless of what comes across the wire, this is effectively the model I whipped up in my Go library because it's the best way to let developers program against their own custom types.  It's pretty standard to write a handler wit

[2018-05-08 16:48] inlined commented on #108
@yaronha What is the Nuclio recommended way for handling these events and drilling into the Event data? Where do developers learn about the structure inside event data? Can they leverage godocs and type safety? In your demo, did you create the S3 URI with:

[code]

I'm still working on open-sourcing our demo; it has a brain-dump of early thoughts on a more full-fleshed CE library, but it exposes t

[2018-05-08 17:06] inlined opened #195 "What correlation should Cloud Events support?"
We've talked about correlation in a few PRs (#128, #138, and other discussions I can't find based on sequence numbers).

I'd like to move discussions here where we can debate scope and approach in a common nexus to make sure all discussions have the appropriate scope.

I propose that there are two kinds of correlation possible:

1. **Sequence correlation**. Events may be related to others by order

[2018-05-08 17:52] inlined opened #197 "AI: research the intersection of tracing and event attributes"
As part of the 2018/04/10 call, I was asked to research whether the popular open tracing standards could intersect with [our thoughts on correlation](https://github.com/cloudevents/spec/issues/195). I am opening this bug (to be auto-closed within a week) to document the cursory research.

I looked at Distributed Tracing [W3C](https://w3c.github.io/distributed-tracing/report-trace-context.html), [R

[2018-05-08 18:12] yaronha commented on #108
@inlined can see our KubeCon demo in: https://github.com/nuclio/demos/tree/master/kubecon-eu-18-cloudevents

its Python and using TensorFlow for image classification

for Go Eran posted an implementation in Serverless-WG Slack:

[code]

for the (structured) CE input:
[code]

result would be:
[code]

[2018-05-08 19:38] inlined commented on #108
I don't think that answered my question. How does a developer interact with the event data/body? Do they type-cast all the way down?

[2018-05-08 19:56] yaronha commented on #108
@inlined can use map or json libs that dont require schema like: https://github.com/buger/jsonparser/blob/master/README.md

[2018-05-09 07:36] tobilg opened #199 "Website SSL certificate problem"
I'm seeing a `NET::ERR_CERT_COMMON_NAME_INVALID` when I try to access [https://cloudevents.io/](https://cloudevents.io/). The certificate points to github.com

[2018-05-09 10:15] leecalcote commented on #199
Another member of the community pointed this out during KubeCon last week. Thanks for capturing this @tobilg.

[2018-05-09 12:08] duglin commented on #112
@clemensv can we close this now or is there still some action you're looking for us to take?

[2018-05-09 12:10] duglin commented on #199
See: https://github.com/cloudevents/cloudevents.github.io/issues/2

[2018-05-09 12:11] duglin commented on #199
Closing this one since https://github.com/cloudevents/cloudevents.github.io is the more appropriate repo to deal with the issue.

[2018-05-09 12:11] #199 closed

[2018-05-09 12:28] duglin commented on #166
@ac360 can we close this now or do we still need to keep it open?  If we want to save the specifics of the demo, either for posterity or so we can continue to have it running, perhaps we could put this info into a wiki page instead?

[2018-05-09 12:29] duglin commented on #164
I believe we can close this as it was part of the KubeCon EU 2018 demo talks. Please reopen if I'm mistaken.

[2018-05-09 12:29] #164 closed

[2018-05-09 12:34] deissnerk commented on #142
@duglin You can assign this to me.
@inlined This is the issue about event type versioning which I referred to when we were talking at KubeCon.

[2018-05-09 12:36] duglin commented on #142
I wonder if it wouldn't be easier to just merge EventType and EventTypeVersion into one string. Then let the author of that string decide how/if/when to version it. We could add text "recommending" that the string be versioned, but ultimately its up to the entity defining it.

As a reference point. during the demo work I asked @clemensv how MSFT's Event Grid had people specify that they wanted Clo

[2018-05-09 12:39] duglin commented on #36
Not hearing any objection to closing this (since #48 and #64 are resolved) I'm going to do so. Let me know if we need to reopen it.

[2018-05-09 12:39] #36 closed

[2018-05-09 12:40] duglin commented on #142
Related: https://github.com/cloudevents/spec/issues/33

[2018-05-09 12:41] duglin commented on #33
I think merging the two is something worth considering.

[2018-05-09 12:44] ac360 commented on #166
Let's close it!

[2018-05-09 12:44] #166 closed

[2018-05-09 12:44] duglin commented on #31
I'll wait one more day before closing this one. If you think the current spec's attributes don't already address this please speak up.

[2018-05-09 12:48] duglin commented on #22
I'll wait one more day and then close this. If you think we need to keep it open please speak-up.

[2018-05-09 12:52] duglin commented on #20
As of now we have this: https://github.com/cloudevents/spec/blob/master/GOVERNANCE.md#release-process

Until we find we need more, at which point we can open a new issue/PR, I'm going to close this an assume we're ok.

[2018-05-09 12:52] #20 closed

[2018-05-09 13:09] duglin commented on #188
@ljnelson are you suggesting that "eventType" should really be called "occurrenceType" ? If not, can you give a concrete proposal for what you think should change - that would help me more fully understand the "cognitive dissonance" you're experiencing  😄

[2018-05-09 13:12] duglin commented on #189
@jugaadi can you create a PR, or even just more info in this issue if you don't have the time, with details of how you see our JSON mapping doc changing to align with your proposal?

[2018-05-09 13:18] duglin commented on #187
My 2 cents:

Yes

Yes

Yes. No, not per the spec.

IMO, the spec doesn't really control much with respect to the semantics of what an event is or how/when an event is created. It just tells you where to put certain data so people can easily find it. Its up to other specs (or implementations) to add in constraining semantics (like duplicate detection) if they need it.

[2018-05-09 13:19] duglin commented on #187
If anyone disagrees, or @ljnelson if you think I didn't address your concerns, please speak up and I'll reopen the issue.

[2018-05-09 13:30] duglin commented on #185
@tjanczuk do you think this issue applies to all String attributes or just certain ones? I'm assuming the ones that use more specific types (like Timestamp) or say how the String must adhere to a certain spec are not of concern to you, correct?

[2018-05-09 13:42] duglin commented on #177
I'd prefer a solution that didn't treat extensions any differently from spec-approved attributes. Is there an issue with having the same rules for both?

[2018-05-09 14:16] duglin commented on #5
@schatekar do we still need this one? I'm inclined to think our current docs cover this. What do other's think?

[2018-05-09 14:39] inlined commented on #177
We could just have a single header CE-Extensions that is a map of all extensions? I think labels are also something that we might want to put in headers always and use the same sort of repeated header rule for easy filtering by gateways.

[2018-05-09 14:44] duglin commented on #177
A single header would be ok as long as the extensions are actually modeled as sub-properties of something. E.g. if in JSON they were:
[code]
If we allowed extensions to be top-level json properties then they're more akin to siblings of spec-approved attributes and I would prefer for them to be individual http headers.

Yes, I'm still hoping to convince people we don't need a formal "bag" defined a

[2018-05-09 15:25] inlined commented on #142
@deissnerk thanks for the bump!

@duglin Honestly I'm in favor of dropping on EventTypeVersion and just using the data schema. I think eventTypeVersion can lead to a lot of confusion.

Imagine Twitter makes their API eventful and then creates an API v2. When I subscribe for the `com.twitter.tweet.publish` event, I probably want all tweets regardless of which client wrote to that tweet. Instead, I'

[2018-05-09 15:27] duglin commented on #142
yep - between someone having the option of making the EventType string anything they want (w/ or w/o a version part) and the data schema and content-type it sure seems to me like they have enough ways to express what they want.

[2018-05-09 15:27] inlined commented on #108
I think this will just be one of our stylistic differences. In my own SDKs I will try to push back on [stringly typed](http://wiki.c2.com/?StringlyTyped) systems since I find they lead to user error and customer support burden.

[2018-05-09 16:00] ljnelson commented on #186
IMHO the language needs to be tightened up then overall, and I would offer a proposal, but I'm not sure which way to go due to the ambiguity.  You write above that "certain bits of metadata about the event (or occurrence)" can be extracted—but which is it?  The event, or the occurrence?  And effectively you're saying: there's stuff in the event, and some of it is the data, and the rest of it is st

[2018-05-09 16:07] ljnelson commented on #187
Thanks, @duglin.

You write above, paraphrased, that a single context, consisting of its attributes and nothing else, may be placed into two distinct events.

In that case, what would the value of the `eventID` context attribute in both cases be?  The specification implies, but does not state, that this is a property of the event, not of the context that a given event might share with other events

[2018-05-09 16:18] ljnelson commented on #188
Thanks for replying, @duglin.

I am saying that I don't know from the specification.  Is it the intent of the specification that eventType should describe the type of an event?  Or should it describe the occurrence the event describes, which according to the definitions and cardinalities expressed by the specification might be described by many events?

If:
* eventType is actually supposed to desc

[2018-05-09 16:42] inlined opened #201 "Before 1.0 I would like to discuss extension "graduation" process."
If extensions are a breeding ground for potential new standard fields, it would be helpful for us to define what graduation entails. Extensions are often compared to x- attributes in headers or CSS properties, though many of these are widely considered to be a mistake by some in the community. IMO, the worst case scenario is that an extension graduates, the early adopting event providers must doub

[2018-05-09 16:50] duglin commented on #201
tagged for v1.0 & I agree we should have our extension process/goals/etc... before v1.0.

[2018-05-09 16:50] inlined commented on #188
Oooh boy. This is bringing back a very long discussion we had internally at Google. Here are the litmus tests for those who want to jump in. I think solidifying our intuition on what the term means will help us argue what its name should be:

1. I have two functions listening to Google Cloud Storage events: one for thumbnailing and one for recognition. Do these functions get the same or different

[2018-05-09 16:53] inlined opened #202 "Usage-based criteria for 1.0"
Though I think it's fine to label a release 1.0-candidate-1, I hope we don't imply any sort of stability guarantees until we have some usage in the market to help us vet our assumptions. What should our usage goals be before we certify a spec as 1.0?

[2018-05-09 16:57] duglin commented on #186
If we just talked about the "event data" and the "event metadata", would that help? That's pretty much how I view it, regardless of the specific terms we use.

[2018-05-09 17:01] duglin commented on #187
I feel like this issue is very much related to some of the other ones you've opened. Is it possible to focus the discussion on just one issue instead of spreading things between issues? Or am I missing it and each is really a distinct idea?

[2018-05-09 17:12] ljnelson commented on #188
Perhaps some pictures will help.  I sent some out-of-band email to @duglin on this subject but I'll try to super-condense it here and make it relevant only to this issue.

In the following diagrams, boxes represent _concepts_, not any kind of implementation artifact.  That's critical.

I also define (for the purposes of this discussion and none other) a distinction between a first-class concept, w

[2018-05-09 17:13] ljnelson commented on #186
See [my comment on #188](https://github.com/cloudevents/spec/issues/188#issuecomment-387810009).

[2018-05-09 17:15] duglin commented on #188
@ljnelson I tend to agree that defining less terms is a better approach, because the more you try to define the more you.....well, have to define ;-)   and differentiate between them. And, as you said, if you don't get it right then it could lead to confusion for those who are very pedantic about that kind of stuff.  As I mentioned elsewhere, I'd be happy with just a CloudEvent being made up of "e

[2018-05-09 17:21] ljnelson commented on #188
@duglin I agree with the spirit of what you're saying: fewer terms in an ontology is always better.

But words matter, and no more so than in specifications (unless you like Github issues 😄 ).

The specification today defines _lots_ of terms in what is a rather large and disjointed ontology (yes, I'm one of those pedants 😄 ).

So if the spirit of the specification is as you say, then perhaps it sh

[2018-05-09 17:31] ljnelson commented on #186
Discussion carried on in #188; closing this issue per request.

[2018-05-09 17:31] #186 closed

[2018-05-09 17:31] ljnelson commented on #187
Discussion carried on in #188; closing per request.

[2018-05-09 17:31] #187 closed

[2018-05-09 17:33] ljnelson commented on #188
(I've closed #186 and #187 in favor of this issue, which has become the important one and has subsumed their concerns.)

[2018-05-09 17:59] yaronha opened #204 "Support for workflow/chain"
guys,

following the discussion last week F2F on Labels, workflows, etc. we think it would make sense to discuss chaining functions into a workflow using CloudEvents:

- the first function gets an event (CloudEvent or other) and process it
- it forwards the event to the next function (or message queue) while preserving some of the original CE data and adding additional data/metadata (e.g. workflow

[2018-05-09 18:05] yaronha opened #205 "CE Client SDK"
Now that CE is starting to shape up we may want to provide client side language bindings and few protocol implementations to ease on CE adoption

i.e. a client App in Py, Go, Java, Js, .. uses the lib to submit an event. the lib has pluggable transport, can start with HTTP, AMQP, Kafka, .. and cloud providers or vendors can add their own transports to it.

The work can be divided by all of us and

[2018-05-09 18:47] duglin commented on #204
@yaronha would this be something for the CE WG or a new project under the Serverless WG?

[2018-05-09 18:50] duglin commented on #188
that's pretty much the mental model I have

[2018-05-09 18:54] ljnelson commented on #188
OK, then perhaps drop definitions of and references to occurrence and context and context attributes in the specification, and move context attributes to a first-class event concept?

[2018-05-09 19:32] yaronha commented on #204
@duglin IMO part of CE (it's definitions, not implementation)

[2018-05-09 19:40] duglin commented on #188
I personally wouldn't object with that direction, but I would wait until you hear from others since I suspect some folks really like all of those terms being there

[2018-05-09 20:08] ljnelson commented on #188
Sure; [spitballing a hypothetical `definitions.md` over here](https://github.com/ljnelson/spec/blob/spec-rewording/definitions.md) for perhaps later selective inclusion.

[2018-05-10 01:25] duglin commented on #204
definitions yes, but I would think a new work-stream spawned from the serverless WG would be a better home for it. It could end up being the same people, but I view a workflow spec as independent of CE (even though it might be a user of it).

One thing we should discuss is the timeline. Others have also mention the idea of workflow, or orchestration, so I suspect others have an interest too. But p

[2018-05-10 01:44] duglin commented on #202
I added this to the agenda for tomorrow, and have a proposal for us to shoot arrows at:

[code]

[2018-05-10 01:49] duglin commented on #184
@clemensv you ok if I assign this one to you?

[2018-05-10 01:50] duglin commented on #183
Closing as this is a dup of https://github.com/cloudevents/cloudevents.github.io/issues/1  and its more suited for that repo.

[2018-05-10 01:50] #183 closed

[2018-05-10 02:00] duglin commented on #72
With the HTTP/JSON structured format, where the content type is "application/cloudevents+json", I would think that a nested CE would have its CE `contentType` property set to "app/ce+json" and then `data` would be the nested CE as json. no?  If so, is there anything to formalize in the spec about this or would perhaps adding a sample be sufficient?

[2018-05-10 02:06] duglin commented on #87
@rogeralsing lots of serializations can be written for CloudEvents. I would like to close this but I think the question of whether we should deal with batching is one that might be worth discussion - going to tag this as v1.0

[2018-05-10 02:09] duglin commented on #112
@clemensv I'm going to tag this as "GoingToClose" as I think we've moved beyond this discussion point. So, it'll have until EOD tomorrow for someone to speak-up and say they want it to remain open. ok?

[2018-05-10 02:10] duglin commented on #94
tagging as "GoingToClose" - so speak before EOD tomorrow if you think we should keep this open

[2018-05-10 02:21] duglin opened #206 "Do we need an auth story?"
From @clemensv at our f2f last week.

[2018-05-10 02:22] duglin opened #207 "Collaborate on libraries and supporting tools"
From our roadmap (v0.4)

[2018-05-10 09:12] schatekar commented on #5
@duglin I have not been able to contribute for some time which means my opinion has less value than what the other current active contributors think.

[2018-05-10 16:18] duglin commented on #205
adding to "additional work stream list"

[2018-05-10 16:18] #205 closed

[2018-05-10 16:32] leecalcote commented on #204
OpenTracing provides relevant consideration in terms of event (span) correlation.

[2018-05-10 16:40] yaronha commented on #108
@inlined i wasn't expressing an opinion/style, just state that you have 3 options in typed langs like Go:  1. use type specific structs, 2. use map[string]interface, 3. use such iterators like jsonparser.

i guess the "opinion" also depends on the use-case :)

[2018-05-10 16:41] markfisher commented on #204
in terms of the event metadata aspect of this, Message History as described in Enterprise Integration Patterns seems relevant: http://www.enterpriseintegrationpatterns.com/patterns/messaging/MessageHistory.html

That suggests an entry is included in the list for each "component that processes the message (including the originator)", where "originator" would be the "source" in CloudEvents terminolo

[2018-05-10 16:43] cathyhongzhang commented on #204
The "workflow" keyword in the title could cause confusion with the "workflow" concept defined in the Serverless Whitepaper. The scope and functionality described in this issue is not the same as the "workflow" defined in the Whitepaper.  Suggest to change the title to "event chain".

[2018-05-10 16:51] markfisher commented on #204
Related to my previous comment, I think "event history" is a better description than "event chain". This is not really describing a chain of events, but rather a chain of functions through which a single logical event has passed. So, from that event's perspective, it is a history of multiple hops, correlating with a trace comprised of multiple spans.

[2018-05-12 13:57] justinyoo opened #208 "Some Ambiguities on ContentType"
According to the [spec.md#contenttype](../blob/master/spec.md#contenttype) and [json-format.md#31-special-handling-of-the-data-attribute](../blob/master/json-format.md#31-special-handling-of-the-data-attribute), if `contentType` is `application/json` or `+json` suffixed, the type of `data` is considered as `object` or `Map`.

While I was implementing both [spec.md](../blob/master/spec.md) and [htt

[2018-05-14 03:47] jroper opened #209 "Event keys"
Event streams often have an ordering which is important for a set of events for the same entity, but not for events of different entities. For example, consider events for a user management system, you might have user created and user deleted events. Here's an example stream:

[code]

Now in this case, it matters which order events 2 and 3 are handled in, since they are both for the user called `b

[2018-05-14 08:18] rcollina commented on #209
Hi @jroper, I've been looking for a "sequence token" concept in the spec as well.
Out of curiosity, any reason for `eventKey` to be `Object` instead of a simple `String`?
I assume `eventKey` would otherwise require further standardization, so to speak.

[2018-05-15 02:05] jroper commented on #209
My main reason for making it `Object` is that while `String` certainly makes sense, Kafka treats keys as bytes. I have no vested interest in something that favours Kafka's model though.

[2018-05-15 07:57] rcollina commented on #209
Understood.

[2018-05-15 15:53] duglin commented on #94
Closing per WG agreement

[2018-05-15 15:53] #94 closed

[2018-05-15 15:53] duglin commented on #112
Closing per WG agreement

[2018-05-15 15:53] #112 closed

[2018-05-15 15:53] duglin commented on #31
Closing per WG agreement

[2018-05-15 15:53] #31 closed

[2018-05-15 15:54] duglin commented on #22
Closing per WG agreement

[2018-05-15 15:54] #22 closed

[2018-05-15 17:56] duglin commented on #208
I wonder if it would make sense to loosen the wording in the spec to talk about how its an `object` or `Map` when, based on the content-type, we know its JSON. For example, app/json, ..+json - but this list isn't exclusive and there could be other MIME types that imply JSON.

[2018-05-15 17:59] duglin commented on #208
@justinyoo would you be willing to create a PR to address this?

[2018-05-15 18:04] duglin commented on #209
@jroper could the `source` attribute be used here? I'm wondering if `eventKey` and `source` are similar enough that it would work for you.

[2018-05-15 19:10] jroper commented on #209
Copying the source attribute from the spec for context:

I think the event key definitely can (and, based on the wording above, perhaps should) be encoded in the `source`, though the `source` would contain more than just the event key, since it contains the organization publishing the event, and perhaps other data such as maybe a unique key per event. The problem with using the `source` to encode

[2018-05-15 23:13] justinyoo commented on #208
@duglin Sure. I'm happy to take this.

[2018-05-16 00:44] duglin commented on #208
@justinyoo thanks

[2018-05-16 14:10] deissnerk commented on #142
@inlined

I see your point. But is this just about the version? Isn't there a general overlap between schemaURL and eventType?
Isn't the eventType(Version) only referring to more than the data schema of the event? It has previously been mentioned that the eventType is also providing context to the other context attributes.
In #169 @clemensv wrote:

So versioning the schema and the event type may n

[2018-05-17 08:53] deissnerk commented on #72
Yes, that sounds like a good solution.

[2018-05-17 19:49] duglin commented on #119
@cathyhongzhang I think we can close this one since we approved #198 today.  Let me know if I'm mistaken and we should reopen it.

[2018-05-17 19:49] #119 closed

[2018-05-18 01:09] jroper commented on #209
@duglin sure, I'll hopefully get to that early next week. Also, thanks for posting the related tickets.

[2018-05-24 15:44] duglin commented on #142
@deissnerk any update on this one?

[2018-05-24 15:54] deissnerk commented on #142
@duglin Sorry, not yet. To be honest, I am a bit confused by the overlap between event type and schemaURL (see above). I'd like to see a few more opinions here.

[2018-05-24 18:21] duglin commented on #82
Agreed to close on the 5/24 call

[2018-05-24 18:21] #82 closed

[2018-05-24 23:16] technosophos opened #217 "HTTP `Extensions` case sensitivity ambiguity"
According to section 3.1.3.1 of the HTTP Transport Binding doc (https://github.com/cloudevents/spec/blob/v0.1/http-transport-binding.md#313-metadata-headers):

[code]

However, according to the HTTP 1.1 specification, section 3.1 (https://tools.ietf.org/html/rfc7230#page-22):

[code]

Consequently, an HTTP 1.1 compliant header parser may modify the case of a header name without violating the speci

[2018-05-24 23:38] technosophos commented on #177
Encoding the header values with base64 will allow easy parsing

In pseudo-code:

[code]

Which then easily meets the HTTP spec's header collapsing rules as:

[code]

Other options include:

- use multi-part MIME bodies and store extensions in one part
- Using query strings (which has some interesting consequences)
- defining an encoding format for extensions that are embedded in headers
- requirin

[2018-05-24 23:38] #217 closed

[2018-05-25 16:48] ofpiyush commented on #209
Is there something to explicitly declare the sequence number of an event under an `eventKey`?

Most systems try to guess the order of events by time or some mojo.

In some cases, order is known at source(think web UI). In yet another class of cases, failure/ retries/ load balancers or intermediary processors can cause order based on source to be lost.

For these cases, there needs to be an option

[2018-05-29 02:33] jroper commented on #209
#191 deals with ordering/sequence numbers.

[2018-05-31 15:47] inlined commented on #197
As an additional note, I now see that Distributed Tracing also has a "Correlation-Context" header, which might suit our needs.

https://github.com/w3c/distributed-tracing/blob/master/correlation_context/HTTP_HEADER_FORMAT.md

[2018-06-01 02:00] duglin commented on #167
@clemensv any update on this one?

[2018-06-01 02:01] duglin commented on #33
Marking as v0.2 since this is a REQUIRED attribute

[2018-06-01 02:05] duglin commented on #26
Does anyone think that this should be a REQUIRED attribute? Just asking for the purposes of identifying v0.2 work items. I'm guessing no one does but if I'm wrong and you think all CloudEvent should have this attribute then please speak up.

[2018-06-01 02:06] duglin commented on #25
@cathyhongzhang is this related to your correlation-id issues/PRs? or if not directly related, can it be solved using the same solution - meaning, we provide a place for people to put this an attribute for this info w/o actually defining the attribute itself.

[2018-06-01 02:09] duglin commented on #28
I'd like to propose that we close this with no action. At best, based on all of our discussions, I think something like this would end up being an extension - and as such I'd like to wait until we hear from the community that there's a lot of requests for this to be defined. Then we can reopen.  Thoughts?

[2018-06-01 02:10] duglin commented on #29
I'd like to propose that we close this one. I have not heard of anyone actively proposing that we need this. If during our future "security" related discussions we find that we need something like this then we can reopen it. Thoughts?

[2018-06-01 17:28] cathyhongzhang commented on #25
Yes, I think so.

[2018-06-03 04:40] duglin commented on #204
@yaronha do we still need this issue open given we've agreed to have "Workflows / Function Composition" as our next potential WG work item?

[2018-06-03 04:47] duglin commented on #201
@inlined in https://github.com/cloudevents/spec/pull/225 I propose that extensions don't look any different from spec-defined attributes w.r.t how they are serialized. Therefore, when one graduates and is no longer an extension, no code needs to change - just its standing within the spec. Does that help?

[2018-06-03 04:48] duglin commented on #197
@inlined is there anything for us to do on this since you've opened up https://github.com/cloudevents/spec/pull/227 ?

[2018-06-03 04:50] duglin commented on #195
@inlined do you think this is being sufficiently included in the off-line chats we're having?

[2018-06-03 06:05] yaronha commented on #204
@duglin i assume we can close, may want to ref to it so we wont lose the content

[2018-06-04 14:07] duglin commented on #204
Added a ref from: https://github.com/cncf/wg-serverless/issues/55
and closing

[2018-06-04 14:07] #204 closed

[2018-06-05 02:43] duglin commented on #177
See: #225

[2018-06-05 02:46] duglin commented on #13
As we are not currently defining a processing model, I propose that we close this issue as out of scope.

[2018-06-05 02:57] duglin commented on #133
Can we close this now?  @clemensv

[2018-06-05 03:11] duglin commented on #87
Related to:https://github.com/cloudevents/spec/issues/72 ?

[2018-06-05 03:11] duglin commented on #72
Related to #87 ?

[2018-06-05 14:49] rogeralsing commented on #87
Potentially, but I read #72 as an 1-1 layering/wrapping of messages.
In our case, and I assume this is true for other high throughput messaging aswell.
we map multiple in process messages targeting the same remote node into a single batch envelope.
which is later unpacked by the receiving node, redistributing each individual message to the individual receivers on that node.

[code]

[2018-06-07 15:46] inlined commented on #142
I may be apocryphal here, but I'm fine with this. I can't honestly think of a business that uses more than major version numbers for their API. Within a version backwards compatible features can be added and across major versions it doesn't make sense to expect an ordering.

 I generally thought of these as something that the event registration would negotiate for the source and action. Are you ex

[2018-06-07 15:48] inlined commented on #201
I saw that. I need to think about ramifications of both; this is probably the best path forward though.

[2018-06-07 15:52] deissnerk commented on #142
Seems that in  #172 some related points were brought up by @scothis.
While I understand that eventType and eventTypeVersion have a different scope than schemaURL, I'm still looking for a good example to illustrate the difference. How does the eventType(Version) influence the way the other context attributes are used?
@clemensv What do you think?

[2018-06-07 16:22] markpeek opened #232 "CloudEvents SDK"
The working group agreed there is a need for common CloudEvents SDK and libraries. This is a placeholder issue for discussion and allow people to include links to any existing code related to handling CloudEvents.

[2018-06-07 16:33] glennblock commented on #232
https://goextend.io/blog/cloudevents-support-in-extend

Source code is here: https://github.com/goextend/cloudevents-extend-api

[2018-06-07 21:11] duglin commented on #29
on 6/7 call we agreed to close this

[2018-06-07 21:11] #29 closed

[2018-06-08 01:02] duglin commented on #28
On the 6/7 call we decided to keep this open since we may want to define it as an extension.

[2018-06-08 06:40] matzew commented on #232
[jCloudEvents](https://github.com/project-streamzi/jcloudevents) is in early state and provides a Java API with a CDI bindings:

https://github.com/project-streamzi/jcloudevents/blob/master/introduction.md

[2018-06-08 11:20] duglin commented on #232
@glennblock unless I missed it I don't see yours listed on: https://github.com/cloudevents/spec/blob/master/community/open-source.md  - want to add it?

[2018-06-08 11:53] sslavic commented on #232
@duglin it is there, last one at the bottom

[2018-06-08 19:17] glennblock commented on #232
I will add it!

On Fri, Jun 8, 2018 at 4:20 AM Doug Davis <notifications@github.com> wrote:

[2018-06-15 20:41] ac360 commented on #232
No existing code, but we're eager to start this.

[2018-06-15 21:04] williamhogman commented on #232
We're going to invest significant resources in getting some kind of a Webhook + json-format framework off the ground in Kotlin/Java

[2018-06-15 22:06] ac360 commented on #232
**CloudEvents SDK Design Call Doodle Poll**

It seems many Serverless WG/CloudEvents stakeholders are already working on SDKs & libraries to support CloudEvents. We’re hosting a call to discuss this.  The goal of this call is to investigate working on a common CloudEvents SDK together, starting with designing an initial scope.

**Doodle Poll for call time** - https://doodle.com/poll/gcsz53peknxpw4

[2018-06-16 05:06] matzew commented on #232
@ac360 good idea! I am also interested, but unfortunately, I am not able to add my name to the GDoc

**Matthias Wessendorf - Red Hat**

One thing on the SDK is perhaps also integration w/ native event systems. E.g. in Java land, there is CDI, and our current draft / strawman implementation, supports this:

 https://github.com/project-streamzi/jcloudevents#receiving-the-event

[2018-06-18 08:40] duglin commented on #142
During 6/15 f2f, we agreed to:
- Proposal: remove eventTypeVersion and just use schemaURL
- AI Klaus: to write-up a PR

[2018-06-18 08:41] duglin commented on #33
During the 6/15 f2f agreed that the proposed resolution to #142 will address this, so once that issue is resolved we can/will close this.

[2018-06-18 08:42] duglin commented on #167
During the 6/15 f2f we agreed to use "Any". Clemens to write-up a PR

[2018-06-18 08:54] duglin commented on #206
During 6/15 f2f we agreed to close this w/no action since our transport specs should cover this.

[2018-06-18 08:54] #206 closed

[2018-06-18 08:56] duglin commented on #190
Is there any interest in this from the wg? Is there someone willing to champion it?  If not we will probably close it in an upcoming call so please speak up.

[2018-06-18 08:57] duglin commented on #189
Is there any interest in this from the wg? Is there someone willing to champion it? If not we will probably close it in an upcoming call so please speak up.

[2018-06-18 08:58] duglin commented on #175
At the 6/15 we agreed wait until we're close to v1.0 (ie. when we reach v0.9) to see what kind of feedback and user/implementation experience there is around this.

[2018-06-18 08:58] duglin commented on #133
during 6/15 f2f we agreed to close this as it is already resolved in the existing specs.

[2018-06-18 08:58] #133 closed

[2018-06-18 08:59] duglin commented on #13
During 6/15 f2f we agreed to close this since "process model" is out of scope for the wg right now

[2018-06-18 08:59] #13 closed

[2018-06-18 09:00] duglin commented on #87
During the 6/15 f2f we agreed to close this for now and if it pops up as a requirement later on then we can reopen it.

[2018-06-18 09:00] #87 closed

[2018-06-18 14:18] williamhogman commented on #189
On a semi-related note, I think it would be interesting to have the json-format implemented with json-schema.

`JSONAPI` seems to define the transport layer, so its scope seems to be bigger than that off `json-format.md` which could theoretically be a file-on-disk or an http request.

[2018-06-18 15:24] duglin commented on #143
At the 6/15 f2f we agreed that this wasn't required for v1.0, so I removed the v1.0 tag and added not-required-for-v1.0

[2018-06-19 06:53] matzew commented on #232
I think what's also good is that for each platform (e.g. Java), the core be a "core" SDK, defining the Interface and a Builder, and than other modules, such as
* `cloudevents-amqp`
* `cloudevents-mqtt`
* etc

that define adapters or builders for interaction w/ some transport protocols (e.g. turn them into AMQP messages, setting the required (prefixed) attributes as AMPQ message properties.

@ac360

[2018-06-19 10:19] mateimicu commented on #232
No code but I would like to get involved in a python version.
@matzew the Interface and a Builder makes a lot of sense.

[2018-06-19 10:22] williamhogman commented on #232
@mateimicu

I started a tiny bit here. https://github.com/williamhogman/cloudevents-python/

[2018-06-20 17:00] inlined opened #239 "Do we need both binary and structured encoding?"
Recap from the F2F meeting on June 15, 2018.

The structured encoding has the benefit of being fully self contained; a simple relay can know that it has forwarded a CloudEvent losslessly. An events pipeline can simply stream HTTP bodies to disk*

The binary encoding has the benefit of simplicity; the idea of cross-encoding doesn't apply, it doesn't invent a new MIME type, and it is easier for IoT

[2018-06-20 19:19] duglin commented on #239
Can you elaborate on this one? Why can't an event consumer optimize one, or both, of the forms?

[2018-06-20 19:35] inlined opened #241 "Tools take several minutes to run"
I love that we have easy portable checkers, but it's annoying that these shell scripts take several minutes to run.

Is there a better option? We could look for inefficiencies in the script or rewrite them in a language which we agree is an acceptable dependency.

[2018-06-20 19:53] inlined commented on #239
Maybe I should be careful with those RFC 2119 words, they often mean I'm articulating poorly or wrong. In this case I might have just worded it too strongly. 🙂

I know Clemens has been particularly worried about disk layouts of events. In the structured encoding, a zero-copy disk serializer is trivial. I assume (without having tried) that verifying a zero-copy fast-path is harder when the binary e

[2018-06-20 20:02] duglin commented on #241
I'd love to rewrite them in golang so we can have a stand-alone executable and while in there "do it right" by having a real md parser because I feel like the current stuff is more of a hack/guesses than anything else.  I haven't confirmed this, but I think the longest time is the href checker which needs to hit the internet *a lot*, and we're dependent on the speed of other sites.  There is an op

[2018-06-20 20:03] duglin commented on #239
Ah, ok, thanks that helps me understand your concern.

[2018-06-20 20:04] inlined commented on #241
Well, even if we leave on the external MD checker, a parallel parser w/ an aggregator can speed this up massively.

[2018-06-20 20:41] duglin commented on #239
@inlined you ok if I assign this one to you?

[2018-06-21 02:11] duglin commented on #232
Sort of related to #245

[2018-06-21 02:38] ac360 opened #246 "Brainstorm: Use-Cases to Demo @ Upcoming Events"
At KubeCon/CloudNativeCon Europe, we performed a great demo focused on interoperability, showing how easily CloudEvents can be published, dispatched and processed by a variety of serverless compute options.

![dct13uaw0aex7pf](https://user-images.githubusercontent.com/2752551/41694570-c4cc04c4-74bf-11e8-95a8-132f6190b98d.jpg)

Next, we'd like to brainstorm more demos for CloudEvents, specifically

[2018-06-21 03:01] ac360 commented on #246
# Concept: CloudEvent Developer Workflow

This demo concept digs into the developer workflow when building an application leveraging CloudEvents.  It focuses on common development tasks when using CloudEvents in an event-driven or serverless architecture.  It relies on the CloudEvents SDK (which at this time has not yet been created).

**This would cover:**

* Creating an event schema for a custom

[2018-06-21 03:04] ac360 commented on #246
# Concept: Hello Retail w/ CloudEvents

This demo takes [Nordstrom's Hello Retail App](https://github.com/Nordstrom/hello-retail) and demonstrates using it with CloudEvents.  This would be great because a customer is actually using CloudEvents to help their serverless and event-driven architecture.

cc @erikerikson

[2018-06-21 03:45] ac360 commented on #246
# CloudEvent Extensions

CloudEvents has an `extensions` property and in our early SDK discussions we have been investigating the idea of having SDK add-ons that vendors can build to offer extra features on CloudEvents (e.g. tracing, correlation, encryption, etc.).  This demo would show off this functionality and offer guidance to vendors looking to integrate their solutions with CloudEvents.

Not

[2018-06-21 03:54] ac360 commented on #246
# CloudEvents IoT

This demo concept publishes CloudEvents from multiple IoT devices within the same setting.  We'll rely on the CloudEvent metadata to understand what's happening in the setting and populate a Dashboard with metrics.

[2018-06-21 03:58] ac360 commented on #246
# Portable Events & Functions

This demo concept demonstrates creating higher-order CloudEvents that are non-vendor specific (e.g. `Storage.Object.Created`) which can be used to write code or a serverless function that is more portable.

**Suggestions:**

* `Storage.Object.Created`
* `Database.Record.Created`
* `HTTP.Request.Received`

[2018-06-21 09:05] matzew commented on #246
I have a "POC" where CloudEvents are submitted to Apache Beam, to trigger "stream processing", with the given `data` or payload

[2018-06-21 14:19] matzew commented on #232
@ac360 Regarding the poll - so, it looks like the first option next Monday _or_ Tuesday have the most folks being able to attend

[2018-06-21 16:30] markpeek opened #249 "Create a common presentation to introduce and discuss Cloud Events"
At the SF f2f meeting we were discussing community outreach and how best to discuss Cloud Events with people. One idea was to create a common presentation to allow people to present at meetups or other conferences. This issue will track this action item.

Assigned to: @markpeek

[2018-06-22 14:13] matzew commented on #232
I've extracted (and changed) our Java API and the Builder in a separate repo:

https://github.com/project-streamzi/io.cloudevents/pull/1

It's just a java API for now. I used license headers that are (I guess) compliant to the CNCF headers.

Happy to have this imported somewhere here as well

[2018-06-25 09:15] vongosling commented on #232
IMHO, it is a good time to start Runtime Interface Extension for CloudEvents Ecosystem, I am willing to contribute the cloudevents-openmessaging SDK, it is an awesome extension for the serverless in event-sourcing.

[2018-06-25 09:47] XiaoZYang opened #250 "the link for AMQP type system in AMQP event format is unreachable"
Hi couldevents community !
[The AMQP type system link](https://github.com/cloudevents/spec/blob/master/docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-types-v1.0-os.html) in [AMQP Event Format](https://github.com/cloudevents/spec/blob/master/amqp-format.md) is unreachable. When you visist it you will get a **404 error**.
Please fix it!

[2018-06-25 14:33] ac360 commented on #232
Thanks for the input all.  We're about to start our first call on this subject in 27 minutes at 8AM PT.

Conference line is here: https://zoom.us/my/cncfserverlesswg

[2018-06-25 14:53] markpeek commented on #232
Dispatch is Cloud Events native and uses this golang implementation written by @kars7e:
https://github.com/vmware/dispatch/blob/master/pkg/events/cloudevent.go

[2018-06-25 17:21] n3wscott opened #252 "Usage Scenarios should not be in the spec."
The [Usage Scenarios](https://github.com/cloudevents/spec/blob/master/spec.md#usage-scenarios) section is valuable context to the project but is too verbose to be part of the spec. The spec should be concise and technical.

I suggest breaking the Usage Scenarios into another document. I would be happy to do this if the group agrees.

[2018-06-27 11:01] #250 closed

[2018-06-27 12:42] cneijenhuis opened #257 "Dealing with Message and Request Size Limits"
A lot of existing consumers, message queues and middleware routers have limited the maximum size of the message they're accepting.

Some examples I've encountered:

* AWS Lambda: 256 KB (Event/asynchronous invocation), 6 MB (RequestResponse/synchronous invocation)
* AWS Kinesis: 1 MB
* AWS SNS & SQS: 256 KB
* Azure EventGrid: 64 KB
* Azure Functions: 15 MB
* Azure ServiceBus: 256 KB
* Google Cloud

[2018-06-28 15:46] duglin commented on #257
re: sizes - I'd be very interested in hearing from Function/Serverless Platform providers to know what they thought about this. Obviously if we adopt sizes that are consistent with what they do today then its not much of an issue, but I suspect for some it would mean a change.

re: claim-check - I wonder if this could be solved by having our spec define a schemaURL for a claimCheck data type. Then

[2018-06-28 16:27] austencollins opened #259 "Logo Improvements"
If you have suggestions for the CloudEvents logo design, please post them in this thread before Thursday, July 5th.

I recommend posting each design concept as a separate comment, so others can give them a thumbs-up and we can use that to get a signal of what people enjoy most.

[2018-06-28 17:46] duglin commented on #189
Per the 6/28 call - closing the issues since we couldn't find a champion to push this one forward.

[2018-06-28 17:46] #189 closed

[2018-06-28 17:46] duglin commented on #190
Per the 6/28 call - closing the issues since we couldn't find a champion to push this one forward.

[2018-06-28 17:46] #190 closed

[2018-06-28 19:53] duglin opened #260 "Make everything a string"
Ignoring our current `extensions` attribute, which is a map, and `data`, all other attributes are strings, or some restricted version of a string (like a timestamp or URI). Given that we need to support converting all of our properties (except `data`) into HTTP headers I wonder if it wouldn't make sense to just require everything to be strings (or restricted strings).  Granted, given our current s

[2018-06-28 20:18] rockymadden commented on #257
As another data point, I'll mention that NATS/NATS Streaming has a 1MB default much like Kafka. Like Kafka, it can also be configured.

[2018-06-29 02:15] moderation commented on #241
For code the hits the internet _a lot_ Golang is ideal. Using goroutines this could be parallelized. Can you provide a link to the checkers in question and I'll take a look?

[2018-06-29 02:17] duglin commented on #241
@moderation see: https://github.com/duglin/vlinker  but its in bash :-)

[2018-06-29 15:29] cneijenhuis commented on #259
![cloudevents](https://user-images.githubusercontent.com/2638512/42099620-33aa4806-7bbe-11e8-9bee-929b68991a00.png)

How can we send a message to someone we've never heard of? With a balloon mail!

I believe a balloon mail is a great metaphor for the independence between producer (who just sends off the message without specifying a destination) and consumer (who may find the message in his backyar

[2018-07-02 02:10] jroper commented on #185
This definitely applies to the data attribute.

A binary data attribute will be encoded as a JSON string, with the binary data base64 encoded. When it gets decoded, it will be decoded as a string. Now, the consumer could apply a heuristic, and say "this looks like a base64 encoded string" and so decide to decode as binary, but then what if the producer actually did want to produce a String that co

[2018-07-02 02:26] jroper opened #261 "Map and Object type problems"
This is related to #184. Currently the spec introduces a lot of confusion around Maps and Objects when it comes to JSON.

So, the data attribute is an Object, which means it can be Map, String or Binary. Map is a map of name to Object pairs. So, if I have a data attribute of:

[code]

It's not a Map. Why? Because `true` is not a valid Object according to the CloudEvenvts spec (a valid object must

[2018-07-02 13:30] matzew commented on #260
+1 I like the idea for simplification of the spec

actual SDKs will be still able to have richer, strongly typed APIs for dealing w/ the CEs

[2018-07-05 15:55] ac360 commented on #259
@cneijenhuis The balloon is clever.  Nice job.

[2018-07-05 15:55] ac360 commented on #259
![ce-normal-white](https://user-images.githubusercontent.com/2752551/42334041-32f1b8a0-8031-11e8-992b-21d2bd7f4c7a.png)

[2018-07-05 15:55] ac360 commented on #259
![ce-normal-black](https://user-images.githubusercontent.com/2752551/42334054-3a34aec4-8031-11e8-857a-ffbff0ea57ad.png)

[2018-07-05 15:56] ac360 commented on #259
![ce-normal-horizontal-white](https://user-images.githubusercontent.com/2752551/42334069-41000f3c-8031-11e8-942b-130a2c0c364b.png)

[2018-07-05 15:56] ac360 commented on #259
![ce-balloon-blue](https://user-images.githubusercontent.com/2752551/42334102-4d34f650-8031-11e8-82db-4aafe35d8492.png)

[2018-07-05 15:56] ac360 commented on #259
![ce-balloon-red](https://user-images.githubusercontent.com/2752551/42334110-52bd7066-8031-11e8-8c3c-42c82e4613e7.png)

[2018-07-05 15:56] ac360 commented on #259
![ce-balloon-straight](https://user-images.githubusercontent.com/2752551/42334116-58b23240-8031-11e8-9242-91f39b14093a.png)

[2018-07-05 15:56] duglin commented on #259
Today's logo:
![image](https://user-images.githubusercontent.com/1944671/42334120-80d61c0a-804a-11e8-9cfe-03af4618bda8.png)

[2018-07-05 15:57] ac360 commented on #259
![ce-balloon-red-horizontal](https://user-images.githubusercontent.com/2752551/42334133-62553068-8031-11e8-97c1-1a332631f9bf.png)

[2018-07-05 16:10] leecalcote commented on #259
This [revision](https://github.com/cloudevents/spec/issues/259#issuecomment-402769871) keeps the initial version intact and is a nice improvement.

[2018-07-05 16:13] alexellis commented on #259
Liking the refreshed font and (e) within a cloud as an icon.

[2018-07-05 16:20] markfisher commented on #259
one idea for delineating the e would be adding an arrow where it meets the outline of the cloud itself

[2018-07-05 17:45] #252 closed

[2018-07-05 22:08] duglin opened #264 "What is a CloudEvent property vs Event Data?"
I'd like to gather our thoughts around a very important topic for our spec... what are the CloudEvents properties for? Or, what is CloudEvents itself for?

This has come up in relation to people starting to use CloudEvents and in particular when they are adding their own extensions to the serialization. We have a whole separate discussion going on around how to serialize extensions, but this issue

[2018-07-06 13:15] duglin opened #265 "Issue with "-" in extension names"
See:
- https://github.com/cloudevents/spec/pull/255#issuecomment-401430602
- https://github.com/cloudevents/spec/pull/255#issuecomment-402989772

In https://github.com/cloudevents/spec/pull/255 we introduced the notion of using "-" to denote stepping into a nested object but we do not ban the use of "-" in a property name. This makes it ambiguous as to whether "-" is part of a name or not.  We sho

[2018-07-06 13:16] duglin opened #266 "Discuss forwarding of properties"
from: https://github.com/cloudevents/spec/pull/255/files#r200341390

ping @clemensv

[2018-07-06 13:18] Vlaaaaaaad commented on #264
I should add some context for the linked comment.

TL;DR: exploring the idea of using CloudEvents not just as a envelope/ transport spec, but inside the application too; some issues arise and I really want to avoid another "_here, you get this huuuge XML, work on it and do app logic_" scenario.

I'm currently helping a very very early startup architect their whole stack. Their desire is to do serv

[2018-07-06 13:56] duglin commented on #264
@Vlaaaaaaad thanks a ton for the description of your scenario.

If I have this right, I think there are a couple of key things here:
- you want to transfer an event from one system to one, or more, other systems
- you want to encapsulate all of the data from the first system into one object so you only transfer a single object
- you're not sure you can, or should, touch the original event due to t

[2018-07-10 04:13] ac360 commented on #232
**CloudEvents SDK Sync Call - Proposed Times**

Hi all,

Here are the next proposed times for the CloudEvents SDK Sync call:  https://doodle.com/poll/aqitqvnmu2mp7txi

In this call, we'll review progress of eachother's SDK implementations and further clarify the scopes of work we outlined in the last call.

Looking forward to chatting with all of you again!

Cheers,
Austen

[2018-07-10 14:08] Vlaaaaaaad commented on #264
@duglin

Yes, it does have all the properties. Events are either created as CloudEvents from the start or they are repackaged( for new file creation in S3, the plan is for the event to be caught by a Lambda which repackages it into a CloudEvent and sends it on its way).

Unlikely. The time, event type and so on are all necessary. They could be duplicated in the payload, but that would be silly.

I

[2018-07-11 13:10] cneijenhuis commented on #264
This has been my assumption as well.

As an analogy, if I'm sending a package, I'm only putting information on the outside that is of interest to the delivery service: Address, Stamps (or another proof that I've paid), maybe a "Fragile" sticker.
I'm not putting information there that is useless for the delivery service, e.g. "it's a birthday present" or "it contains a book and a toy".

Some exampl

[2018-07-11 14:06] markpeek commented on #264
Agreed. CloudEvents should add enough metadata information around the event data to move and route the event.

While I like the analogy I think the example "it contains a book and a toy" is not correct. With eventType we are making a stronger statement of the contents of the data.

[2018-07-12 12:29] cneijenhuis commented on #264
Yes, you're right, the example isn't very good. (Still, from my understanding, the eventType would be e.g. `com.example.package.created` or `com.example.PackageShipped`. But in theory, for a very specialized structure, you could imagine something like `com.example.package.book.shipped`.)

A better example may be "it contains a Harry Potter book and a Lego truck".

[2018-07-12 14:51] ac360 commented on #259
![cloudevents-logo-gap](https://user-images.githubusercontent.com/2752551/42641000-612dc3a4-85a8-11e8-8026-0686bc65a25d.png)

[2018-07-13 20:46] dmlb2000 opened #267 "Split Core CloudEvents spec from bindings"
This is more of an organizational thing from an outsider. The repository has a bunch of spec documents in the root of the tree, it was difficult for me to find what I need to read to implement something to generate or consume CloudEvents.

As the specification grows, bindings to different transports will become more and more a part of the spec. Maybe those should be logically split from the core C

[2018-07-13 21:29] dmlb2000 opened #268 "Optional vs Mandatory specifications"
It would be nice to have a column in the root level README.md that defined whether the spec is optional or mandatory. Also, grouping the related specs together would be useful. For example, are the HTTP Binding and Webhooks bound together or can I implement them independently?

This would allow software developers better scoping to incrementally adopt the standard when building systems that consum

[2018-07-13 22:18] duglin commented on #267
@dmlb2000 can you elaborate a bit because as of today the binding/transport specs are not part of the same doc as the core spec.

[2018-07-13 22:56] dmlb2000 commented on #267
@duglin I think I can phrase the question more like a user story...???

As a software developer/architect for an HTTP (pick your transport) based system, I want to implement code to emit CloudEvents. Where do I start?

So the organization question was my attempt to sort out where I should begin. Is that with the spec.md or is that with the HTTP bindings since I'm familiar with that spec?

#268 is

[2018-07-16 17:01] duglin commented on #267
@dmlb2000 gotcha, that helps, thanks. I think the primer should probably be the place for most of that info. Right now its really pretty rough but hopefully it'll morph into something that will provide this level of guidance very soon.

[2018-07-18 04:53] duglin opened #270 "Add examples to Primer around "properties""
At the last f2f @cathyhongzhang took an action to look into creating some additional examples
for the primer related to how properties might appear in the serializations and possibly
add some use cases explaining when each might be used.

Opening this issue just so we don't lose it.

Related to issue #269

Assigned to: @cathyhongzhang

[2018-07-18 16:52] duglin commented on #264
Anyone else have some thoughts on this?

[2018-07-18 19:19] kars7e commented on #232
The WIP for Go SDK: https://github.com/dispatchframework/cloudevents-go-sdk. Currently, it implements basic event creation (version 0.1) and HTTP bindings.

[2018-07-19 06:58] duglin opened #271 "Lifecycle of core spec vs serialization/transport-binding specs"
We need to decide the versioning scheme for our specs. Are they all totally independent or are they grouped into a single unit when considering versioning?

For example, let's say we publish v1.0 of the core, json and http-binding specs.
Then we update the http-binding spec in non-compatible way - meaning it should be bumped to v2.0.

Do we bump all specs to v2.0 or just the http-binding spec? If

[2018-07-22 00:47] dmlb2000 opened #272 "Consider Providing JSON Schema Documents"
http://json-schema.org/

Seems like there's a schema in JSON for describing JSON. I think it would make sense to have some json schema documents that match the described spec in the markdown.

[2018-07-22 00:48] dmlb2000 commented on #272
If this is something that is desired I can take a stab at a pull request for it.

[2018-07-22 13:48] williamhogman commented on #272
Yes,

I’ve thought of that as well. If you wanna do a PR it be happy to merge :)

[2018-07-23 21:33] erikerikson opened #276 "CloudEvent Persistence?"
As I discussed during community time it seems that there is a certain assumption of transience in this specification and the discussions occurring.  In other words, that relevant concerns are resolved within the context of the connection over which the CloudEvent content is sent and not addressed by CloudEvents.  Concrete examples include authentication as a property of an HTTP connection and even

[2018-07-26 17:22] rektide commented on #276
For example, Knative Eventing (which is, to my limited understanding, a particular implemention of CloudEvents), has the option to be backed by a Kafka bus. This means events are stored persistently, for some length of time. There's definitely some appeal to me in exposing & making use of persistence in CloudEvent, although I admit I really don't know what that would look like.

[2018-07-26 17:37] rektide opened #280 "Request for transport: RFC8030 Generic Event Delivery over HTTP2 Push aka "WebPush" Protocol"
I would love to see a transport specified that uses [Generic Event Delivery over HTTP2 Push (RFC8030)](https://datatracker.ietf.org/wg/webpush/documents/) (aka it's working draft name, "webpush protocol"). Webpush is already an [enormously widely deployed transport](https://caniuse.com/#feat=push-api) for sending events. It allows a consuming client to connect to an HTTP endpoint, & as long as the

[2018-07-26 18:16] rektide commented on #24
I feel like this should be closed, since #227 was merged. I agree with [jroper's comments there](https://github.com/cloudevents/spec/pull/227#issuecomment-395612199),

The way correlation-context works in Distributed Tracing is that it is a property-bag, so I believe a `caused-by=.....` property would allow this work to also cover the case of #25 as well.

[2018-07-29 07:38] lennygran opened #282 "Support multiple events for HTTP binding"
There are use cases where multiple events should be sent via single web-hook request (aka batching.) Currently it assumes a single event for both, structured and binary modes. Does the HTTP binding in structured mode plan to support it?

[2018-07-31 18:45] erikerikson commented on #276
For it's relevance: https://github.com/cloudevents/spec/issues/143#issuecomment-381913100

This comment by Clemens notes some of the challenges of providing auth and signing to the interchange message.

[2018-07-31 19:55] erikerikson commented on #143
@dmlb2000 Transports do address these issues.  However, some use cases involve persistence.  I've opened [an issue](https://github.com/cloudevents/spec/issues/276) to discuss whether persistence is considered within scope for the effort here.

[2018-08-06 09:45] cneijenhuis opened #286 "HTTP Header limitations and implications for extensions"
On last weeks call, there was a question in the chat if CloudEvents would expect to support thousands of extension values. I replied that I don't think it would be possible to send such an event with the [HTTP Binary Content Mode](https://github.com/cloudevents/spec/blob/master/http-transport-binding.md#31-binary-content-mode), because HTTP middleware limits the headers it accepts.

I decided to f

[2018-08-06 16:43] duglin commented on #286
@cneijenhuis thanks so much for doing this - this is really useful info.

In terms of moving forward, it seems to me that this information would be great for the Primer. We really need a section that talks about when information should be put into `data` vs into the CloudEvent's space as an extension - and I think being mindful of these HTTP header limits could be part of it. Although, I'm hoping

[2018-08-10 18:59] evankanderson commented on #188
Hey, I was just thinking about this today, and I came up with an _interesting_ thought exercise.

Imagine a source (a graph database) which provides the ability to register a "watch" on certain types of update events. The watch registration takes parameters including a set of credentials which are performing the watch, and a destination for delivery. The `Event`s delivered to a watch destination c

[2018-08-15 21:17] derekcollison opened #288 "Event Producers should have single required encoding and transport"
Event-based systems, especially one like CloudEvents that strive for interoperability, need to define a single encoding and transport for all producers. This gives the best interoperability for all consumers from any cloud provider or ecosystem.

For instance, say the spec requires JSON and HTTP 1.1/2 (Although some challenges with true push using HTTP) for all producers. Any consumer in any envir

[2018-08-16 09:43] clemensv commented on #288
We already have a conformance rule in the main spec that states that all implementations must support the JSON event format.

That leaves whether we need a compliance rule that all conformant producer implementations must support HTTPS.

That might be tough on the low end of the IoT spectrum where people are greedy with adding transport stacks based on kilobytes of library footprint. If a device g

[2018-08-16 10:44] deissnerk opened #290 "Immutability of event context"
In the discussion of #277 I raised the question, if extension attributes can be changed or added by middleware, or if the event context is immutable. I remember that during the f2f meeting in Copenhagen @clemensv proposed to have two property bags, one for properties added by the source, and one for annotations added by middleware. AFAIK this is quite similar to what AMQP 1.0 supports. If we decid

[2018-08-16 14:43] derekcollison commented on #288
I think a common transport supported by all spec compliant producers should be required. Notice I do not say consumers, they are free to consume how they best want to and may be specific to multi-headed producers, gateways or repeaters that offer other transports and encodings. The event format is a great start, but without a default required transport the end user, usually a consumer, who is tryi

[2018-08-16 18:43] #272 closed

[2018-08-16 20:05] duglin commented on #271
Proposal:
- w.r.t. major version numbers, treat all specs as a single group. Meaning, no spec can go to v2 until they all do
- each spec can have a minor version bump as needed
- each spec will have a section to indicate which version of its dependent specs is required. For example: `Requires v1.0, or higher, of the CloudEvents spec`, or `Requires v1.0+ of the CloudEvents spec`.
- document this pr

[2018-08-21 07:47] jdstuart commented on #288
derekcollison. I would disagree and the argument can easily be turned around as well. The producer that operates within an organization where something like MQTT has been chosen as transport will be frustrated to have to support HTTP when it will never be used.

I believe the minimum supported transport falls outside the remit of CloudEvents, but CloudEvents definites if HTTP is chosen, then this

[2018-08-21 18:26] cneijenhuis commented on #290
A question regarding 1. - if the middleware produces a new event, then the middleware is the (new) event producer. Therefore, wouldn't it be forced to set itself as the `source`?

On one hand, that looks right (one shouldn't be allowed to "impersonate" another event producer), on the other hand it will pose problems to the consumer (expected "example.org/user/...", got "middleware.com/foo").

[2018-08-21 18:45] Vlaaaaaaad commented on #290
Regarding option 1( immutable events), if a new event is to be created two options seem to be available:
- make a bad clone of the initial event( reuse time and event id for example, see _Eliminating the who - no middleware concept idea_ section in https://github.com/cloudevents/spec/pull/128#issuecomment-395239721)
- some type of embedding would have to be done which would leak transport and midd

[2018-08-21 18:51] jdstuart commented on #266
Can this be closed in favour of #290 ?

[2018-08-21 19:27] duglin commented on #290
Do we even need to make a statement about this at all? Whether a middleware acts like "a new source" or it acts more like a proxy is really up to it. I'm not sure CloudEvents itself needs to say anything either way.

There might be some best practices that middleware might want to think about/do - but for the most part it seems like our spec should not get into the processing model side of things,

[2018-08-21 19:31] derekcollison commented on #288
You are referencing legacy producers, and IMO they can utilize a gateway to be compliant both with payload and transport. Again if people want to consumer directly from the legacy producer they can like they do today, but to be compliant they would need to have the gateway.

[2018-08-22 16:37] rspielmann commented on #271
Hi @duglin,

Just a couple of unsorted thoughts from me:

- I think that the proposals from your second comment do not give an answer to the question how a receiver will know the version of the transport binding being used, even if a transport spec only receives a minor version bump. Might it be necessary to define a transport-specific property (e.g. a HTTP header, JSON property, ...) that states

[2018-08-22 16:52] rspielmann commented on #108
Reading the spec and then stumbling across this issue, I was and still am confused in a slightly different way, but I'm not (yet) willing to open a new issue for it: the wording "the data attribute" occurs to me like it's wrong in the context of JSON. Shouldn't it be called "the data property" or "the value of the data property"? When I read something like "the data attribute", I personally think

[2018-08-22 17:49] rachelmyers opened #294 "Extensibility vs Forward Compatibility vs Structured data in JSON and binary formats"
_This is a summary of what we've encountered while trying to support CloudEvents at Google. This is less an argument for or against property bags and more a summary of the concerns we have at Google and the tradeoffs the working group needs to make._

## Proto disambiguation:

* “Proto" roughly means two things.
  * There's a human readable ".proto" file in the Protobuf Interface Definition Langua

[2018-08-22 19:04] clemensv commented on #294
Your Protobuf-based services will sometimes sit in the middle between a producer that speaks JSON and a consumer that expects yet something different. The producer will cook up an extension that you've never seen and you MUST forward that downstream.

The only way to solve that is for all extensions, in Proto, to flow in an extensions bag (!) that holds key/value pairs since you can't assign stabl

[2018-08-23 02:11] duglin commented on #294
There's a lot in here but I think it comes down to a few things:

1 - you're asking for new spec defined properties to only be added in major versions of the spec, even if they're optional. Can you point to an existing spec that has this requirement because I can't think of one off-hand and this goes against normal semver semantics?

2 - you're asking for our JSON serialization to align with proto

[2018-08-27 09:58] cneijenhuis commented on #265
I think the issue is a bit broader actually. We have the [attribute naming conventions](https://github.com/cloudevents/spec/blob/master/spec.md#attribute-naming-convention), but they're neither normative, nor do they limit the encoding in any way. E.g. in JSON, UTF-8 fieldnames are allowed, but wouldn't work with HTTP headers.

A simple way to prevent a lot of (similar) issues is to limit attribut

[2018-08-29 20:38] deissnerk commented on #290
@jdstuart I agree with your assessment of the options. My preference would also be option 3.

@Vlaaaaaaad I also agree to you. I have my doubts about middleware cloning the original event. If an event is propagated through multiple channels, you might end up seeing different "versions" of the same event. I also agree on the nesting option.

@cneijenhuis The questions regarding the event source is

[2018-08-30 16:54] rachelmyers commented on #294
Closing this.

[2018-08-30 16:54] #294 closed

[2018-08-30 17:47] duglin opened #299 "Correlation Use Cases"
On the 8/30 call the topic of correlating events came up. This issue is meant to gather people's requirements and use cases for correlating events. Please add items as comments.

Some aspects of this that were brought up on the call:
- when to put this data in a CloudEvents property vs in the payload (`data` attribute)
- who will use this data and for what purpose? Meaning, can it be used for othe

[2018-08-31 09:48] deissnerk commented on #265
@cneijenhuis What about case-sensitivity? E.g. an event router that receives an event in HTTP binary content mode, is not able to convert an extension attribute back to camel casing.

[2018-08-31 10:32] deissnerk commented on #261
@jroper I agree. I get confused by this, too. I also wonder, how someone receiving a CloudEvent in JSON format is supposed to distinguish, if the event data is String or Binary. For Binary I would need to base64 decode, before passing it on in HTTP binary mode. Just deriving this from the content type, might be very error prone.

[2018-08-31 11:33] cneijenhuis commented on #265
@deissnerk There is another issue for that: https://github.com/cloudevents/spec/issues/177

I agree they are related. Once it is clearly defined which characters are supported in attribute names, it becomes easier to fix the issue in HTTP headers.

E.g. if the outcome is that only allow alphanumeric characters are allowed, we have many more ASCII characters that can be used (e.g. convert camelCase

[2018-08-31 16:39] JemDay commented on #288
I would tend to agree with @jdstuart, as soon as you start _mandating_ particular transports you run the risk of disenfranchising a whole bunch of potential users.

[2018-09-02 23:16] BenBeattieHood commented on #290
Isn't any middleware essentially an event source in itself? An event that has been enriched would be considered a new event, emitted from a separate domain responsibility. I'm unsure why this wouldn't apply to metadata too?

[2018-09-03 09:40] duglin commented on #290
I tend to think of middleware as an event source too - however, whether it changes the `source` attribute is up to it.

I guess I don't yet see the need to differentiate who added an attribute to an event. To the event consumer all they should see (and care about) is the data itself and not who added it, or modified it, along the way. If we start to put data into different bags based on who is add

[2018-09-03 09:45] sslavic commented on #290
By https://github.com/cloudevents/spec/blob/master/primer.md middleware is, among other things, expected to

[2018-09-06 18:51] cneijenhuis commented on #286
Addressed in https://github.com/cloudevents/spec/pull/287

[2018-09-06 18:51] #286 closed

[2018-09-13 01:43] dmigliori commented on #299
Attached is a proposal for "Ontology-Based" CloudEvents which defines the attributes of the CloudEvents header within a Message object, with the "data" attribute comprising a common 2D-array format for multiple ontology-based contextual events, with each row representing a state of a single attribute of a single object (instance) of an ontology class.  These transported events can be persisted/acc

[2018-09-13 21:31] duglin commented on #271
@rspielmann My current thinking is that if all of the specs are versioned together, then the CloudEvents version string should at least tell them which major version of that transport is being used. And if all minor versions are backwards compatible (within the major version), then would a receiver need to know anything more? All new bits of information in newer minor versions would always need to

[2018-09-18 14:02] clemensv commented on #271
I would suggest that we version all the official spec documents as one, but maintain document level revision counters.

The JSON spec might be "Version 0.2" reflecting the overall release and have a document revision number "8" reflecting the significant (non typo) fixes that went into the document.

Nobody will be able to keep track of what is what if we let the version numbers diverge.

[2018-09-18 21:35] dmigliori opened #307 "Are the "eventTime"and "data" attributes really optional?"
In the Terminology section of the spec, "Events will contain two pieces of information: the Data representing the Occurrence and extra Context metadata providing additional information about the Occurrence."  Yet within the Context Attributes section, the "data" attribute is designated as Optional.

Further, an Occurrence is tightly coupled to a point in time.   Yet within the Context Attributes s

[2018-09-19 00:12] erikerikson commented on #299
We are particularly interested in use cases that support identifying causal relationships between events.

Consider a series of events resulting from the detection of an object passing an array of sensors. Those events could be explicitly noted causal precursors to the emission of an event declaring the speed at which the object was observed passing.  This, in turn, could be the precursor to the p

[2018-09-19 11:27] duglin commented on #299
I am not interested in anything that will lead to me getting more speeding tickets!

Sent from my iPad

[2018-09-19 12:51] duglin commented on #271
@clemensv w.r.t. the doc version number, can you elaborate on when you see that changing or how people will use it? Does it change on each commit? Just when we think enough changes have gone into to justify a new "doc revision" label?

I'm wondering if the net result of the "document revision number" is the same as the commit hash - meaning its really only there to give someone a concrete version

[2018-09-19 19:55] dmigliori opened #311 "A schema (constraints) for context and data attributes identified by schemaURL"
Many of the context attributes (e.g., eventType, source, eventID, contentType) are not tightly constrained to maintain flexibility in specific implementations.  However, as noted in the intro to the spec "event publishers (producers) tend to describe events differently. The lack of a common way of describing events means developers are constantly re-learning how to receive (consume) events."    Lo

[2018-09-19 22:38] duglin commented on #177
This topic came up on the SDK call yesterday. I'm wondering if we need to do anything about this at all from a spec perspective. Meaning, we're just following HTTP and treating the headers as case insensitive.  How they get mapped in the tooling is up to the tooling. (punt!)

So , in the case of extensions, I would think that in most cases the tooling would just put them into some kind of map. Is

[2018-09-19 23:15] dmigliori commented on #311
This dovetails open issue #108

[2018-09-20 00:03] dmigliori opened #312 "Optional ontology-based identifier attributes for semantic interop, correlation, and event sourcing"
Semantic interoperability relies on a designated ontology between two or more machines to automatically and accurately interpret the meaning of exchanged data and apply it to a valuable end.  In other words, semantic interoperability relies on ontology-based “contextual metadata” supplementing “data” to form “contextual events” exchanged among machine resources or services. This ontology must acco

[2018-09-20 17:21] #167 closed

[2018-09-21 00:47] duglin commented on #177
One of the reasons we created the raw/binary format was because we wanted a format that avoided the JSON parser if all you wanted was the CE properties - for faster parsing times.  If we base64 encode the properties it seems we're losing that benefit.

I still don't see the issue with the spec being agnostic about this - just let the protocol spec (e.g. http) define how properties are serialized,

[2018-09-24 11:51] cneijenhuis commented on #177
Somewhat, the [naming convention](https://github.com/cloudevents/spec/blob/master/spec.md#attribute-naming-convention) says the goal is to:

While that doesn't necessarily imply English words, I wouldn't choose the full Turkish Alphabet for names (to stick with the example of @timbray).

What do you think of limiting attribute names to alphanumeric characters (I already proposed it here: https://g

[2018-09-27 05:41] dmigliori commented on #307
RE: data - An event representing a sensor being activated can have a data value representing an enumerator of the sensor status (activated).  I believe every event should have a data value for consistency and simplicity in consumption - even if it's the status of the sensor/device or sales order.

RE: eventTime - I expect that the values of all context attributes need to be equally trusted - not j

[2018-09-27 07:30] cneijenhuis commented on #307
An event of type `com.example.FileDeleted` or `com.example.CommentDeleted` does IMO not have a need for a `data` attribute (if it has a descriptive `source` attribute).

There are many examples where a listener will fetch the current state anyway. E.g. a PR-checker on GitHub will always checkout the up-to-date branch, even if it receives an event pointing to an outdated commit. It doesn't depend o

[2018-09-27 13:49] duglin opened #318 "Add text to our governance doc to explain how to add/remove admins"

[2018-09-27 14:18] dmigliori commented on #307
An event representing object deletion can have a data value identifying an enumerator of the object status (deleted).    That said, it makes sense to define loosely constrained (e.g. optional) context attributes within the CloudEvents spec to maintain flexibility while allowing a referenced schema (via schemaURL) to add a layer of additional constraints (e.g. required) which simplify interpretatio

[2018-09-27 14:27] dmigliori commented on #307
Also, if "data" is to remain optional, then the following in the Terminology section needs to be reworked:
"Events will contain two pieces of information: the Data representing the Occurrence and extra Context metadata providing additional information about the Occurrence."

[2018-09-27 14:34] erikerikson commented on #307
@dmigliori - you keep saying "can" but there's a lot of space between can (what you are saying) and must (what you are advocating).

Perhaps it would be more productive if you explain the negative consequence(s) you expect to result from a CloudEvent not having a data attribute?

What concerns would making it required address?

[2018-09-27 14:42] duglin commented on #307
re: `"Events will contain two pieces of information...`  - I think a PR to change "will" to "can" to make it even more clear that its non-normative, wouldn't hurt, IMO.  But I also fear a rat-hole wordsmithing exercise on this one :-)   when I think most people already get our intent.

[2018-09-27 18:46] PerryBirch commented on #177
UTF-8 seems to me more Payload and Presentation concerns rather than wire protocol where it's mostly machines talking and operators just want a bit of visibility

[2018-09-28 12:10] duglin commented on #5
I believe our "Non-Goals" section ( https://github.com/cloudevents/spec/blob/master/primer.md#non-goals ) in the primer is a good start for this. We can always add more to the list later but I believe this should address this issue.

I'm going to suggest on next week's call that we close this issue. If anyone has some concerns with this please add a comment.

[2018-09-28 12:40] duglin commented on #24
Based on our previous discussions, I think we can close this one because it appears that there will be many different ways to do correlation and at this time there doesn't seem to be enough momentary around just one mechanism (or property) to justify adding it to the core spec.  We discussed how specific producers can add (via extensions) their own correlation properties to the events though.

I'l

[2018-09-28 12:42] duglin commented on #25
Related to (duplicate of?) #24 and as such copying my comment from there:

Based on our previous discussions, I think we can close this one because it appears that there will be many different ways to do correlation and at this time there doesn't seem to be enough momentary around just one mechanism (or property) to justify adding it to the core spec. We discussed how specific producers can add (v

[2018-09-28 13:08] duglin commented on #26
I'd like to get some input from some of the SDK developers on this one - @ac360 @markpeek @jlbutler

When I think about the in-bound processing of a framework/SDK, it seems very possible that they would like to offer some transport level information (like http method) to their application. However, this feels more like information that would go into a`context` object than into the event. Do people

[2018-09-28 13:10] duglin commented on #27
The group closed https://github.com/cloudevents/spec/pull/63, which was a PR for this issue. Therefore, I believe we can/should close this one too.  I'll add it to the list for next week's call, but please add a comment if you think I'm missing something.

[2018-09-28 13:14] duglin commented on #142
#256 is the PR for this issue, and that was merged, so I'm going to close this one.
Thanks @deissnerk

[2018-09-28 13:14] #142 closed

[2018-09-28 13:19] duglin commented on #33
Per the previous comment, since #142 is closed we can now close this one too. Closing...

[2018-09-28 13:19] #33 closed

[2018-09-28 13:28] duglin commented on #195
@inlined between all of the discussions around correlation and https://github.com/cloudevents/spec/issues/299 what would you like to do with this one?

[2018-09-28 13:42] Vlaaaaaaad commented on #99
I think this is parallel to the SDK work. The transformation is defined somewhere and then all the SDKs implement it. Platform providers **should** do this... but it will take a ton until native support for CloudEvents is added and a transform library is a perfect tool until then.

I too was considering doing something similar to this as I totally missed this issue. There are issues that have to b

[2018-09-28 13:42] duglin commented on #259
I believe we can close this one now.  Will add to the next call but please speak up if you think otherwise.

[2018-09-28 13:50] duglin commented on #232
Given we've started to work on our SDKs, can we close this issue? @markpeek

[2018-09-28 13:58] duglin commented on #207
I'm going to close this one for a couple of reasons:
1 - I think I opened it one my own, not as moderator acting on behalf of the group, and anyone can close their own issue at any time
2 - I think we're already doing this via the SDK work
3 - we don't really need a reminder for this since its in our roadmap (under v0.5) and when we get past v0.4 we'll automatically look at v0.5 and see this item

[2018-09-28 13:58] #207 closed

[2018-09-28 14:01] duglin commented on #299
What do people want to do with this issue?  Based on our previous conversations we resolved to do correlation via extensions so I'm inclined to think we can close this one. I do however think that it might be useful to add some language into the primer (perhaps via examples) to help explain/elaborate on how we see people supporting those usecases. @cathyhongzhang  I think you were thinking about d

[2018-09-28 14:04] duglin commented on #184
re-pinging @clemensv

[2018-09-28 14:17] ac360 commented on #99
@duglin Sure, we will work on this via the SDK.

[2018-09-28 19:13] cathyhongzhang commented on #299
OK, I will think about how to elaborate this.

[2018-09-28 20:10] duglin commented on #108
ok thanks @cathyhongzhang - closing for you

[2018-09-28 20:10] #108 closed

[2018-10-02 19:32] JemDay opened #323 "Context attribute naming consistency"
In last weeks call a comment was made (Tim from AWS?) relating to the potential for renaming some of the context attributes; i thought it would make sense to raise it for discussion here prior to opening what would be quite a large PR.

The proposal (as i understand it) would be to rename along these lines:

| Current | Proposed |
| --- | --- |
| eventType | type |
| cloudEventsVersion | version |

[2018-10-02 21:54] rperelma commented on #323
@JemDay: see https://github.com/cloudevents/spec/pull/321/

[2018-10-03 23:31] jric opened #324 "snake_case instead of camelCase"
I realize that camelCase is the defacto standard for JSON field names.  That said, the most common convention in the data world is to use snake_case field names.  There are a couple of good reasons to do this.

1. Reason:  Many databases are built or configured to be case-insensitive.  CAMELCASEBECOMESHARDTOREAD under those conditions.  ETLs that will take these events and store them into one of t

[2018-10-04 20:26] #259 closed, assigned to nobody

[2018-10-05 23:56] jric opened #326 "make eventId an optional field"
In our organization eventId is an optional field.  Therefore, we do not use the CloudEvent spec as defined.  I would prefer to fix that impedance.  I hope either I can convince cloudevent spec to change or someone here can convince me that we're doing it wrong.

Reasons to make it optional:

1. DRY (don't repeat yourself) principle:  There is usually some combination of fields in any event which c

[2018-10-08 19:10] jric commented on #326
If this proposal is approved, I will submit a PR.

[2018-10-08 19:16] duglin commented on #326
@jric  are you able to join one of our weekly calls? They're on Thursdays at 12pm ET.
I'm asking because we typically focus on PRs first but if there's an additional topic (such as an issue like this one) then we can add it to the agenda but its always better to have the proponent of the idea on the call to present their thinking.

You're also free to wait for feedback on the issue itself, but I k

[2018-10-08 21:09] cneijenhuis commented on #326
Here is my try at convincing you :)

Generally, CloudEvents is concerned with interoperability. I do not question that within your organization, you may not need an explicit eventId but can uniquely identify and deduplicate an event from multiple fields. However, not having an eventId hinders interoperability, because a generic middleware can not know which these fields are.

In other words: By no

[2018-10-10 02:04] Humancell commented on #307
RE: eventTime - I wanted to throw in my request that eventTime remain OPTIONAL for the following reason.  We have a groups of sensors and sensor infrastructure products that already emit JSON similar to this, and we want to adopt this format.  With our sensors we have already had to deal with the issue of eventTime for years.  Remember that many of these are extremely low powered, can be battery o

[2018-10-10 13:57] deissnerk opened #328 "Web Hooks: How to distinguish denied delivery and missing support of validation?"
The [web hook spec](https://github.com/cloudevents/spec/blob/master/http-webhook.md#4-abuse-protection) states:

A few lines later it says:

I wonder, if there is a way for the sender to determine, if a target just does not support http OPTIONS, or if the event delivery is denied. In both cases I would expect a response with status 405 and no `WebHook-Allowed-Origin:` header.

[2018-10-10 23:48] jric commented on #326
That was a very good try, @cneijenhuis !  Honestly, I appreciate that.
I vigorously agree that the main purpose of CloudEvents (or any standard) is interoperability.
I disagree that knowing which fields uniquely identify an event needs to be proprietary.  I would actually argue that hiding this information, or providing a "unique" id based on unknown and possibly incorrect logic, is what hinders f

[2018-10-11 02:10] jric commented on #326
Sorry, I forgot to answer the other question.  @duglin, yes I will join a Thursday call.  Let me shoot for next week, to give a little more time for this text-based discussion to play out.

[2018-10-11 17:18] jric commented on #326
Thanks @duglin .  I'll put this on my calendar.

I see what you're getting at in terms of consistency.  If all events were produced with a unique id and if no-one cared about adding this step to the event production, and if those ids were produced correctly and if no-one ever cared about squeezing their events down to consume the least possible bandwidth, then I agree this would be a no-brainer.

[2018-10-12 07:56] cneijenhuis commented on #326
I have great respect for what Apple and Tesla are doing. However, I don't think we should blindly copy what they do. This is a tradeoff decision - again, if your events are company-internal only, and don't need to work with software from other providers, the decision may be different than if you are concerned with interoperability.

Comparing the interface of `To deduplicate, use the eventID` to `

[2018-10-14 20:20] dmigliori opened #329 "CloudEvents "Integer" type isn't mapped within JSON format"

[2018-10-15 14:01] duglin commented on #329
This has been brought up before and I believe @clemensv (as original author of the data types section) wanted to wait until we had an "integer" type in our model. @clemensv any new thoughts on this?

[2018-10-15 23:34] fsunaval opened #330 "What is the recommended way to handle multiple records per event ?"
AWS S3 and many other cloud providers provide multiple records per event.

E.g. the event notification format for S3 is as follows.
https://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html

{
   "Records":[
      {
         "eventVersion":"2.0",
         "eventSource":"aws:s3",
         "awsRegion":"us-east-1",
         "eventTime":The time, in ISO-8601 format, for examp

[2018-10-16 15:04] fsunaval commented on #330
Yes, complete multiple event records stuffed inside one event notification.
Splitting them into multiple CloudEvents is easily doable but it will create a massive burst of CloudEvents.
Consider AWS Kinesis Firehose sending data to the stream from hundreds of thousands of sources to be loaded continuously into S3.     Each event notification sometimes consists of 100 records or more (complete event

[2018-10-16 15:50] cneijenhuis commented on #330
My gut feeling is that batching of messages should be handled at the transportation layer.

There are transport layers that (natively) support publishing events in bulk, and also for receiving events in bulk. (Producer and consumer(s) can also choose different batch sizes). Kinesis seems to have that, too: https://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecords.html

Once you know h

[2018-10-16 16:31] fsunaval commented on #330
Ok, so for my understanding.
I have received a single S3 event which has 100 other S3 events bundled into it.
I need to convert this S3 event into cloud event format.

I split up each of the 100 bundled S3 events into a separate CloudEvent notification.  At this point I have 100 CloudEvents (eventType: com.amazon.aws.S3.ObjectCreated:Put)
What happens next?    If I send these 100 CloudEvents into

[2018-10-17 07:14] cneijenhuis commented on #330
Sorry to be pedantic, but I would formulate it as: You have received a single **S3 [message](https://github.com/cloudevents/spec/blob/master/spec.md#message) (or notification)** which has 100 **S3 events** bundled into it.

You convert those 100 S3 events into 100 CloudEvents.

Let's assume your transport layer offers the following APIs (in pseudo-code):

[code]

You can then choose between callin

[2018-10-17 19:01] jric commented on #326
@cneijenhuis, not sure if you're just joking, but in case you're making a serious argument, then I believe it's a straw-man.  The simplest thing is:  None of the above.  And if you need any of the above, you would add in the data (eventId) and components (an eventId-deduplicator) to do exactly what you need.

An analogy to our current dilemma:  From the HTTP standard, with which I assume you are l

[2018-10-17 20:14] fsunaval commented on #330
Thanks. I will accept this as the answer and close the issue.

[2018-10-17 20:14] #330 closed

[2018-10-18 20:57] duglin opened #331 "Clarify scope of eventID's uniqueness"
On today's call, while discussing #326, it was mentioned that the uniqueness statement in eventID might need some clarity. Right now the spec says that it: `MUST be unique within the scope of the producer` but what constitutes the "producer" could vary and there was a discussion around how combining the `source` and `eventID` properties should produce a globally unique value - but the spec doesn't

[2018-10-23 14:21] fabiojose opened #332 "The serialized JSON Example do not pass against the schema"
- CloudEvents JSON Example: https://github.com/cloudevents/spec/blob/master/spec.md#example
- CloudEvents JSON Schema: https://github.com/cloudevents/spec/blob/master/spec.json

Then validation against the schema produces the following error:

[code]
This is because of `source` value is `/mycontext`, that is an invalid URI.

A valid URI must have this format: `URI = scheme ":" hier-part [ "?" quer

[2018-10-24 07:40] cneijenhuis commented on #332
One could also change the spec to say `URI Reference` (see https://tools.ietf.org/html/rfc3986#section-4.1), which includes relative references such as `/mycontext` (I still think we can improve on that example).

This would also be more inline with current implementations, e.g. https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema#cloudevent-schema

I think I'd prefer to force the

[2018-10-24 17:49] fabiojose commented on #332
@cneijenhuis, personally I'd prefer the full URI too. The problem with relatives references is that require some custom JSON Schema validator, this is common for browsers, but not so common in programming libraries. All of them treats `uri` type as full URI.

I think the best choice is to do some improvements on that examples. I will open a PR!

ps: nice initiative, CloudEvents! congratulations!

[2018-10-24 20:29] duglin commented on #332
I tend to prefer "URI-reference" instead because to me this is really nothing more than a string and we're just putting a little bit of structure around it by making it a URI to encourage a fairly consistent pattern - but still allows for a ton of freedom. In the end I suspect a lot of people will just do strcmp on it, but if they do need to break it apart then URI-reference still provides enough

[2018-10-25 15:16] duglin commented on #328
would it be a 405 or 401 Unauthorized?  wouldn't each sender have its own auth/creds and a rogue sender would fail the auth check?

[2018-10-25 15:49] clemensv commented on #328
If the target doesn't support OPTIONS it doesn't support validation. You get a 405 and no header. If it supports OPTIONS but no validation, you get a success code response, but the header will be missing. The WebHook-Allowed-Origin header really is the success indicator.

Without validation, it's really up to the target for whether it wants to allow deliveries. Mind that the protection mechanism i

[2018-10-26 08:35] deissnerk commented on #328
Thank you, @clemensv. If I understand that correctly, the sending party MUST NOT send events, if the target reacts with 401. In all other cases it is up to the sender, if it wants to take the risk of being abused. Correct?

[2018-10-29 17:20] JemDay commented on #332
Is there any particular reason we don't simply define _source_ as a string rather then try to force some particular syntax?

Shouldn't the structure (and interpretation) is really publisher specific;  surely Amazon should be able to use their ARN and Microsoft a '/' delimited path-like construct without constraint?

[2018-10-29 18:41] rperelma commented on #330
https://github.com/cloudevents/spec/issues/282

[2018-10-29 18:42] rperelma commented on #282
See also https://github.com/cloudevents/spec/issues/330

[2018-10-29 18:45] cneijenhuis commented on #332
@JemDay I think that standardizing the structure has an advantage for middlewares that want to allow routing based on the `source` field.
As an example, I may be interested in all issues within the `cloudevents` GitHub organization - so both `/cloudevents/spec/issues/332` and `/cloudevents/sdk-java/issues/2` are of interest to me.
I guess the middleware could always employ some regex stuff, but kn

[2018-10-29 21:02] JemDay commented on #332
@cneijenhuis - I get your point but i'm unsure as to whether we should couple what the `source` is meant to represent and how people might choose to use it (ie a middleware _topic_).  If AWS put their ARN into the _source_ field i don't think you could automagically map that to a topic.

If there is such a desire then the field should be formally defined to meet that need; i personally dislike the

[2018-10-30 11:34] duglin commented on #324
Based on our decision on last week's call to go with #321 I believe we can now close this.

[2018-10-30 11:34] #324 closed

[2018-10-30 11:45] duglin commented on #37
@ultrasaurus are you still interested in working on this one?

[2018-10-30 11:47] duglin commented on #55
There's this: https://github.com/btbd/CEVerify in our list of open source projects.
@leecalcote what are you thoughts on where to take this next?

[2018-10-30 11:49] duglin commented on #72
@deissnerk what are your thoughts on this one? If an example is sufficient, would you be interested in creating a PR?

[2018-10-30 11:52] duglin commented on #99
I'm going to suggest that we close this one since our SDK work should cover it. Please speak up if you think otherwise.

[2018-10-30 11:58] duglin commented on #184
ping @clemensv

[2018-10-30 12:02] duglin commented on #185
Seems related to #184

[2018-10-30 12:02] duglin commented on #185
@clemensv any comment on this one?

[2018-10-30 12:28] duglin commented on #188
In thinking about this one again, a couple of things come to mind:
- what is the relationship between an occurrenceType and eventType?
- Any single occurrence might result in multiple events - I think everyone agrees with that.
- Does that mean that all events from a single occurrence MUST have the same eventType? I don't think so - or at least that's out of scope for our spec to mandate.
- So, th

[2018-10-30 12:30] duglin commented on #195
I'd like to propose that we close this one since based on our previous talks I think our core spec will not define the exact attributes used to do correlation - rather people will define their own via extensions.  Please speak up if you think otherwise.

[2018-10-30 12:31] duglin commented on #197
I'd like to propose that we close this since we've adopted #227. Please speak up if you think otherwise.

[2018-10-30 12:33] duglin commented on #201
Given our current resolutions w.r.t. extension handling I think we can close this one. Please speak up if you think otherwise.

[2018-10-30 12:37] duglin commented on #232
I'm going to suggest that we close this one since we've started our SDK work. Please speak up if you think otherwise.

[2018-10-30 12:38] duglin commented on #239
@inlined do you still want to pursue this one?

[2018-10-30 12:42] duglin commented on #249
@markpeek any update on this one? Part of me wonders if a "common" presentation would be feasible given people's natural desire to customize things for their own purposes. I do however like the idea of sharing presentations so people can leverage each other's work/ideas. Perhaps we just need to remind people of https://github.com/cloudevents/spec/tree/master/share every few months?

[2018-10-30 12:48] duglin commented on #260
I think this idea was briefly mentioned during a previous call and was not well received - so I'm going to suggest that we close it. If someone thinks otherwise please speak up.

[2018-10-30 12:50] duglin commented on #261
ping @clemensv

[2018-10-30 12:53] duglin commented on #264
The Primer includes this text:
- - -
CloudEvents, at its core, defines a set of metadata, called attributes, about the event being transferred between systems, and how those pieces of metadata should appear in that message. This metadata is meant to be the minimal set of information needed to route the request to the proper component and to facilitate proper processing of the event by that compone

[2018-10-30 12:56] duglin commented on #265
I believe that we can close this one now that we've agreed to adopt #321. Please speak up if you think otherwise.

[2018-10-30 13:01] duglin commented on #266
ok I'm going to suggest that we close this one and continue the discussion in #290. Since its my issue I'll just do it :-)

[2018-10-30 13:01] #266 closed

[2018-10-30 13:07] duglin commented on #267
Created https://github.com/cloudevents/spec/pull/335 to try to address this.

[2018-10-30 13:09] duglin commented on #270
@cathyhongzhang is this still something you want to do?

[2018-10-30 15:22] duglin commented on #276
@erikerikson what would you like to do with this one? If I'm understanding this correctly, it seems as though there might be multiple issues bundled together into one - and if so, would be useful to split things into individual issues to help focus the discussion?

Do you think this is needed for v0.2?

[2018-10-30 15:24] duglin commented on #280
@rektide is this something you'd be willing to create a PR for?

Does anyone have any opinion on this? Or want to volunteer?

[2018-10-30 15:27] duglin commented on #282
@lennygran given #330 what are your thoughts on this?

[2018-10-30 16:44] cathyhongzhang commented on #270
We ended up not defining a property bad attribute. I do not have anything to add at this time. This issue can be closed. Thanks.

[2018-10-30 18:53] duglin commented on #270
Closing per @cathyhongzhang's comment

[2018-10-30 18:53] #270 closed

[2018-10-30 20:46] duglin commented on #307
@dmigliori what's the status of this one?

[2018-10-30 20:48] duglin commented on #311
@dmigliori what are your plans for this one?

[2018-10-30 20:50] erikerikson commented on #276
There are substantial consequences to the answer on this question.

I doubt that v0.2 should wait on answering this question or resolving the consequences if answered in the affirmative.

[2018-10-30 20:50] duglin commented on #312
@dmigliori plans for this one?

[2018-10-30 21:00] duglin commented on #323
+1 to the idea of being consistent.

I'm torn on which I would prefer though. Not having "event" there is nice because it feels repetitive to say "event" when its already on an "event" resource. However, we're asking extension authors to be descriptive with their new properties to avoid conflicts - shouldn't we do the same? As an example, "id" is pretty generic and I can certainly see someone addi

[2018-10-30 23:03] duglin commented on #328
Do we need a PR to clarify things?

[2018-10-31 01:14] duglin commented on #78
Does anyone want to run with this one? If no one speaks up by the call this week I'm going to suggest that we close it.

[2018-10-31 12:49] duglin commented on #299
@cathyhongzhang any more thoughts on this one? I'm going to suggest that we close this and we can reopen it later if needed.  WDYT?

[2018-10-31 17:42] cathyhongzhang commented on #299
That is fine with me. Actually people already added some workflow use cases which show the need for correlating one event to another event in the same serverless application workflow. Please refer to section "Use Case Examples" of https://github.com/cncf/wg-serverless/blob/master/workflow/spec/spec.md. Eric brought up some interesting use cases too. It will be great if Eric can add them to the wor

[2018-11-01 03:18] duglin commented on #184
@rdallman would it help if section 2.1 said that data's value must be valid "stand-alone" JSON? Meaning, that "data" is meant to just be a holder of the real event's data. Then we don't need to say its only a string, binary or map.

[2018-11-01 10:12] deissnerk commented on #72
@duglin I think that the case I brought up, may not be that relevant in practice. The event on the API gateway is probably not worth wrapping into a CloudEvent on its own. Nevertheless there might be cases, when people decide to nest CloudEvents for whatever reason. So having an example makes sense.

I can create a PR with an example outlining the idea you brought up. It might take a few weeks, th

[2018-11-01 13:47] dmigliori commented on #307
Commenters provided valid reasons why these attributes should remain optional to accommodate specific use cases / implementations.   I believe there are also valid reasons why other attributes (e.g. EventID #326 ) should be optional, rather than required.   #311 proposed expanding the scope of a referenced schema to further constrain optional attributes (e.g., make required) for a specific impleme

[2018-11-01 13:51] dmigliori commented on #311
I propose a PR based on this issue to accommodate the concerns addressed in #307 and #326

[2018-11-01 13:52] dmigliori commented on #312
@duglin I will create a PR proposing an extension comprising these ontology-based attributes

[2018-11-01 15:12] cneijenhuis commented on #257
Yes, but I'll need a week or two, unfortunately.

[2018-11-01 15:31] duglin commented on #257
thanks

[2018-11-01 18:03] duglin commented on #299
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:03] #299 closed

[2018-11-01 18:04] duglin commented on #265
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:04] #265 closed

[2018-11-01 18:04] duglin commented on #264
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:04] #264 closed

[2018-11-01 18:05] duglin commented on #260
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:05] #260 closed

[2018-11-01 18:05] duglin commented on #232
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:05] #232 closed

[2018-11-01 18:05] duglin commented on #201
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:05] #201 closed

[2018-11-01 18:06] rdallman commented on #184
@duglin something along those lines would make sense, yeah. according to the defined grammar, I think it would be of type 'Any', which produces a JSON value (per https://github.com/cloudevents/spec/blob/master/json-format.md#2-attributes). Where JSON could be of type 'String', 'Binary', or 'Any', as defined in the cloud events type mapping specification. At least, that's my interpretation as it fo

[2018-11-01 18:06] duglin commented on #197
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:06] #197 closed

[2018-11-01 18:06] duglin commented on #195
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:06] #195 closed

[2018-11-01 18:06] duglin commented on #177
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:06] #177 closed

[2018-11-01 18:06] duglin commented on #78
on the call today we agreed to close this issue - we can reopen if new info comes up.

[2018-11-01 18:06] #78 closed

[2018-11-01 18:08] #271 closed

[2018-11-01 18:13] duglin commented on #290
Discussed a bit on today's call. @deissnerk will continue to think about possible next steps, but please comment here is you have any comments or thoughts on this topic.

[2018-11-01 18:59] #332 closed

[2018-11-02 08:18] cneijenhuis commented on #332
@duglin Sorry for missing the call yesterday.

I listened to the recording - I'm not entirely sure if everyone got the implication that relative URLs are disallowed. At least I got it wrong in my implementation, and I guess [Microsoft too](https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema#cloudevent-schema) (@clemensv can you confirm?).
CEVerify also seems to do it wrong: https:

[2018-11-02 11:30] duglin commented on #332
@cneijenhuis what do you think about changing the spec to allow for relative URIs?

[2018-11-02 11:46] duglin commented on #332
I'm a bit confused... the spec defines `source` as a `URI` per our data model, but the data model defines `URI` as this: URI - String expression conforming to URI-reference as defined in RFC 3986 §4.1.

Section 4.1 of RFC3986 defines "URI-reference" as: `URI-reference = URI / relative-ref`
and `relative-ref` as:
[code]
And `path-noscheme` as `path-noscheme = segment-nz-nc *( "/" segment )`.
And `s

[2018-11-02 13:05] cneijenhuis commented on #332
🤦‍♂️

Yes, as I said here https://github.com/cloudevents/spec/issues/332#issuecomment-432547627 , according to RFC 3986 §4.1, `/myEndpoint` is fine.

I wasn't aware that `URI` is actually defined as `URI-reference` in the CloudEvents type system. Mea culpa, I should have checked that before commenting!

However, I feel that it is an easy mistake to make. `spec.json` also made that mistake, so at m

[2018-11-04 17:17] dmigliori commented on #282
I feel like the "conclusion" of many issues that generate a good discussion, but result in no changes to the spec, should still be included in the introductory documentation.  This will enable implementers to have their questions answered as they read the documentation, rather than search closed issues for their answers.

[2018-11-04 17:19] duglin commented on #282
@dmigliori yup - feel free to open up PRs to enhance the Primer doc. Any insight into our design choices will only help people understand things.

[2018-11-06 15:35] clemensv commented on #329
Yes. @inlined added the Integer type for the benefit sampling extension. It wasn't there originally.

So that's arguably unfinished homework from that respective PR 😁

I'll amend the JSON mapping.

[2018-11-06 15:57] clemensv commented on #261
We've meanwhile renamed Object to Any, which at least takes some of the conceptual confusion out of the model.

The "data" example above is compliant with the JSON mapping, because it falls under the rules [of 3.1.](https://github.com/cloudevents/spec/blob/master/json-format.md#31-special-handling-of-the-data-attribute) which effectively allows free-form JSON.

For all other attributes, including

[2018-11-06 16:13] clemensv commented on #185
While I don't think there's a true conflict, I agree that some clarifications will be helpful in the spec.

@tjanczuk The attributes are all typed, so there's no need for inference. However, there are a couple of bugs in that URI and Timestamp are missing constraints referencing RFC3986 and ISO8601. I'll address those.

@jroper We have rules for how data and contenttype relate and they should not

[2018-11-08 15:16] duglin commented on #185
All - does https://github.com/cloudevents/spec/pull/343 address you concerns?

[2018-11-08 16:30] duglin commented on #184
@rdallman thoughts?

[2018-11-08 23:19] #323 closed

[2018-11-09 17:40] fabiojose opened #347 "Extension for Distributed Tracing is a Draft"
I have requiremens to implement event tracing with CloudEvents spec. I read the docs and found the distributed tracing in the extensions.

[Distributed Tracing](https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md)

Then I read the [spec](https://w3c.github.io/trace-context/) from W3C.

The stage of spec, that is a draft right now, for Distributed Tracing could be an i

[2018-11-21 18:41] kevinwengh opened #349 "revert the specversion to cloudeventsversion for compatibility"
The field cloudeventsversion is the identifier to determine the format and concrete implementation among different versions of the CloudEvents objects incoming. Swagger has long support the terminology of "Discriminator" and naturally identifier field such as **cloudeventsversion** is used as discriminator. Changing the name of a discriminator has huge impact on both service and client side.

From

[2018-11-21 21:15] duglin commented on #349
The reasons you gave for not changing it are correct, but really only apply once we reach (or get close to) v1.0. Pre-1.0 versions of the spec are, by definition, free to have quite radical changes and this has been our assumption in our decision making process.  We have often told people that "we can change our minds later if needed, before we get to v1.0". This gives us the freedom to test out c

[2018-11-21 21:19] duglin commented on #261
@jroper ^^

[2018-11-21 21:19] duglin commented on #185
@tjanczuk @jroper ^^

[2018-11-21 21:20] duglin commented on #184
@clemensv thought on the suggested edit?

[2018-11-21 22:49] kevinwengh commented on #349
I totally agree with you that we should have smaller room for dramatic change when we get closer to 1.0 version. But before that, I think field like cloudeventsversion is the anchor, which should be changed only when there is very strong justification. I think the justification in #323 is not enough for make the change.

Changing the cloudeventsversion is essentially an unnecessary punishment for

[2018-11-22 09:12] zongtanghu opened #351 "RocketMQ transport binding"
Apache RocketMQ is a distributed messaging and streaming platform with low latency, high performance and reliability, trillion-level capacity and flexible scalability.So,I'd like to propose a RocketMQ transport binding for CloudEvents.

[2018-11-23 07:54] fohoffmann commented on #328
During implementation of chapter 4 “Abuse Protection” we had a discussion why the 401 approach isn’t sufficient for the sender to protect itself being abused: Assuming the spec adds in chapter 3 “Authorization” a mandatory recommendation to stop sending events to a target in case it returns a 401 due to negative authorization check. I.e. to treat a 401 as an implicit "unsubscribe". This would solv

[2018-11-23 14:06] zongtanghu commented on #351
I have alread committed the PR.The PR link is https://github.com/cloudevents/spec/pull/352;

[2018-11-26 14:45] duglin opened #354 "Rename "contenttype" to "datatype""
From looking at the RocketMQ PR (#352) I think there's going to be some confusion going forward between the CloudEvents "contenttype" property and a transport-level "ContentType" property. I might be mistaken but I believe that in #352 they're using the CE one in place of a transport level one. We need to make it clear the the CloudEvents "contenttype" property is NOT about the encoding of the Clo

[2018-11-28 14:12] duglin commented on #282
@lennygran given #330 what are your thoughts on this?

[2018-11-28 15:18] clemensv commented on #184
"JSON object" should indeed refer to JSON value in order to permit arrays. So, yes, we should change that.

[2018-11-29 15:14] duglin commented on #184
The current doc says:
[code]
Is a change still needed?  Seems like this might no longer be an issue.  @clemensv @rdallman

[2018-11-29 15:22] clemensv commented on #184
if "Object" was the source of confusion (it was supposed to imply JSON's any-type: value) then we should be good now.

[2018-11-29 15:47] duglin commented on #184
@rdallman you agree? Can we close this issue now?

[2018-11-29 16:57] cneijenhuis commented on #282
To clarify what I said in #330 :
I do not think that a single CloudEvent should contain multiple events. However, a transport layer may offer the possibility to transmit or receive multiple events in a single API call. Once we have the mapping between a (single) CloudEvent to a (single) transport layer event, it is trivial to use the API for transmitting multiple transport layer events with CloudE

[2018-11-29 17:52] clemensv commented on #280
Our HTTP transport binding defines how to map a CloudEvents to a HTTP message. The HTTP/2 push channel regular HTTP headers and HTTP entity bodies, so I think there's not a lot of specific work that needs to be done to support this and RFC8030 is pretty specific about how to set up the channel.

[2018-11-29 18:35] #185 closed

[2018-11-29 18:48] duglin commented on #349
We discussed this on today's call and decided that there was no new information that warranted us re-opening this topic.

[2018-11-29 18:48] #349 closed

[2018-11-29 18:49] duglin commented on #184
On today's call we believed that this issue is no longer a concern given the current wording in the spec. Before we close it, @rdallman can you confirm that you're ok with the current text?