[2022-03-14 08:12] erikerikson commented on #963
RE Placed - it's a good point.  Perhaps "...extensions MUST be top-level..."

[2022-03-14 08:16] jskeet commented on #963
Works for me.

[2022-03-16 12:09] duglin commented on #969
@jeefy CloudEvents I think the category for CE would be better under "Serverless" instead of "App Def".
Can we fix fix that?
![image](https://user-images.githubusercontent.com/1944671/158585634-352eb4ca-bf53-46dc-b827-d53b53258505.png)

Opened: https://github.com/cncf/clomonitor/issues/183

[2022-03-16 12:14] duglin commented on #969
We do that for some of ours too, but I don't think the look detects those yet.

[2022-03-16 12:21] duglin commented on #969
@jeefy got any info on what "Security policies" refers to?

[2022-03-16 13:37] duglin commented on #969
For reference, more info on how the tool does its checks: https://github.com/cncf/clomonitor/blob/main/docs/checks.md

[2022-03-17 03:42] jeefy commented on #969
Yeah, it's primarily "How should you disclose a Security issue with us?" and "How will we handle a new Security issue?"

Here are a couple examples that you could reference:
https://github.com/argoproj/argo-workflows/blob/master/SECURITY.md
https://github.com/prometheus/prometheus/blob/main/SECURITY.md

[2022-03-20 09:26] rkudryashov opened #976 "CoAP support"
Are there plans to implement CoAP support (https://datatracker.ietf.org/doc/html/rfc7252)?

[2022-03-22 11:06] JieDing opened #977 "[Docs] Translate cloudevents/spec/blob/main/cloudevents/spec.md to zh-CN"
**Document to translate:**

https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md

**Translation target:**

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/spec.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-22 11:11] JieDing opened #978 "[Docs] Translate cloudevents/spec/blob/main/cloudevents/SDK.md to zh-CN"
Document to translate:

https://github.com/cloudevents/spec/blob/main/cloudevents/SDK.md

Translation target:

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/SDK.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-22 11:12] JieDing opened #979 "[Docs] Translate cloudevents/spec/blob/main/cloudevents/adapters.md to zh-CN"
Document to translate:

https://github.com/cloudevents/spec/blob/main/cloudevents/adapters.md

Translation target:

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/adapters.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-22 11:14] JieDing opened #980 "[Docs] Translate cloudevents/spec/blob/main/cloudevents/documented-extensions.md to zh-CN"
Document to translate:

https://github.com/cloudevents/spec/blob/main/cloudevents/documented-extensions.md

Translation target:

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/documented-extensions.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-22 11:15] JieDing opened #981 "[Docs] Translate cloudevents/spec/blob/main/cloudevents/http-webhook.md to zh-CN"
Document to translate:

https://github.com/cloudevents/spec/blob/main/cloudevents/http-webhook.md

Translation target:

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/http-webhook.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-22 11:17] JieDing opened #982 "[Docs] Translate cloudevents/spec/blob/main/cloudevents/primer.md to zh-CN"
Document to translate:

https://github.com/cloudevents/spec/blob/main/cloudevents/primer.md

Translation target:

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/primer.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-22 11:24] JieDing opened #983 "[Docs] Translate cloudevents/spec/blob/main/cloudevents/proprietary-specs.md to zh-CN"
Document to translate:

https://github.com/cloudevents/spec/blob/main/cloudevents/proprietary-specs.md

Translation target:

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/proprietary-specs.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-22 11:30] JieDing opened #984 "[Docs] Translate cloudevents/spec/blob/main/README.md to zh-CN"
Document to translate:

https://github.com/cloudevents/spec/blob/main/README.md

Translation target:

https://github.com/cloudevents/spec/blob/main/languages/zh-CN/README.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-03-23 06:07] JieDing commented on #984
Plz assign this to me. BTY, can you create a new label `{language-code}-translation` for all zh-CN translation issues? @duglin

[2022-03-23 07:52] xiaoduo commented on #980
I can this one, please assign it to me, thanks.

[2022-03-23 07:58] wenfengwang commented on #978
@JieDing  Could assign this issue to me?

[2022-03-23 08:07] JieDing commented on #978
Please wait for the maintainer to do that thx.

[2022-03-23 12:10] xdlbdy commented on #981
pls assign it to me @JieDing

[2022-03-23 12:15] wangwei538 commented on #979
@JieDing please assign it to me, thanks

[2022-03-26 07:49] JieDing commented on #983
The translation is complete and up-to-date, so this issue will be closed.

[2022-03-26 07:49] #983 closed

[2022-03-26 07:58] JieDing commented on #982
This translation needs to be updated as the English doc has changed.

[2022-03-26 08:08] JieDing commented on #981
I re-organized the languages structure, plz rebase your work and make sure your translation is up-to-date. @xdlbdy

[2022-03-26 08:20] JieDing commented on #980
@xiaoduo After we re-org the repo structure, we noticed that the translation target is complete and up-to-date, so this issue will be closed.
Thanks a ton for your contribution, you can choose other translation issues to contribute if you want.

[2022-03-26 08:20] #980 closed

[2022-03-26 08:23] JieDing commented on #979
@wangwei538 After we re-org the repo structure, we noticed that the translation target is complete and up-to-date, so this issue will be closed.
Thanks a ton for your contribution, you can choose other translation issues to contribute if you want.

[2022-03-26 08:23] #979 closed

[2022-03-26 09:56] JieDing commented on #978
@wenfengwang After we re-org the repo structure, we noticed that the translation target is complete and up-to-date, so this issue will be closed.
Thanks a ton for your contribution, you can choose other translation issues to contribute if you want.

[2022-03-26 09:56] #978 closed

[2022-03-26 09:59] JieDing commented on #977
This translation needs to be updated as the English doc has changed.

[2022-03-28 07:33] xdlbdy commented on #981
I have done, pls review @JieDing

[2022-03-28 07:38] JieDing commented on #981
Ok, I'll review it and leave my feedbacks later

[2022-03-28 15:43] lance commented on #910
Fixed in https://github.com/cloudevents/spec/pull/915

Closing

[2022-03-28 15:43] #910 closed

[2022-04-01 14:46] #955 closed

[2022-04-01 14:46] morlando016 commented on #955
Thanks!

[2022-04-02 08:56] JieDing commented on #984
The related-PR is merged.

[2022-04-02 08:56] #984 closed

[2022-04-02 08:57] JieDing commented on #981
The related-PR is merged.

[2022-04-02 08:57] #981 closed

[2022-04-02 11:01] duglin commented on #976
Not hearing any other comments, I'm gonna close this.

[2022-04-02 11:01] #976 closed

[2022-04-05 08:04] jskeet opened #993 "Extension attributes: specified and unspecified"
While working on introducing the term *core attributes* within the specification and primer, it looks like we also have another area of ambiguity, this time with extension attributes.

Any given context attribute might be:

- Core, one of:
  - Required
  - Optional
- Extension, one of:
  - Defined in this repo
  - Not standardized at all

While we're trying to come up with consistent terms, do we

[2022-04-05 08:08] jskeet commented on #993
I suspect there's some work to do even to accept that an arbitrary application-specific extension attribute really is an extension attribute. For example, from the primer:

those two categories but would still benefit from the level of interoperability
that comes from being well-defined, then they will be placed into the
"extensions" category and put into
[documented extensions](documented-extensi

[2022-04-05 10:36] duglin commented on #993
From a spec perspective I don’t think there’s a diff between the two types of extensions. We’re just providing a shared space. Reading that Primer text, I think the “extensions category” phrase might be misleading. Perhaps:
….being well-defined, this repo’s “documented extensions” provides a shared collaboration space.
?

[2022-04-05 10:41] jskeet commented on #993
Right - I'm perfectly happy with the idea that there aren't two types of extensions, if everyone else is. We just need to make it clearer that that's the case, basically :)

[2022-04-07 07:09] jskeet opened #998 "XML format "looseness" voting issue"
This is a somewhat experimental way of gathering opinions on this issue, but hopefully it'll be clear enough.

Each of my comments below contains:

- A description of what it's trying to convey
- A complete example of an XML CloudEvent or batch of CloudEvents. It doesn't include the XML document preamble, but does include all namespaces - so if anything is missing, its presence should *not* be inf

[2022-04-07 07:12] jskeet commented on #998
**Example 1: additional attributes in the `<event>` element**

[code]

[2022-04-07 07:13] jskeet commented on #998
**Example 2: text node in the `<event>` element**

[code]

[2022-04-07 07:14] jskeet commented on #998
**Example 3: non-CE-namespace element in the `<event>` element**

[code]

[2022-04-07 07:15] jskeet commented on #998
**Example 4: additional attribute in an element representing a context attribute**

[code]

[2022-04-07 07:17] jskeet commented on #998
**Example 5: element within an element representing a context attribute**

[code]

(We could break this into 5a and 5b if the namespace of the unexpected element matters to folks.)

[2022-04-07 07:19] jskeet commented on #998
**Example 6: additional element within a binary data element**

[code]

[2022-04-07 07:20] jskeet commented on #998
**Example 7: additional element within a text data element**

[code]

[2022-04-07 07:22] jskeet commented on #998
**Example 8: text node as a direct child of an "any" data element**

[code]

[2022-04-07 07:23] jskeet commented on #998
**Example 9: additional attribute in the `<batch>` element**

[code]

[2022-04-07 07:24] jskeet commented on #998
**Example 11: non-CE-namespace element in the `<batch>` element**

[code]

[2022-04-07 07:27] jskeet commented on #998
**Example 12: Comments anywhere**

[code]

(All in one example as I'm *expecting* this to be uncontroversially okay.)

[2022-04-07 12:54] duglin commented on #998
Nice issue! Some comments to go along with my votes:
1 - as long as we make it clear that the only attribute CE defines is 'specversion' then SDKs can freely ignore all others w/o any harm
2 - this feels similar to unknown elements and comments, so for consistency we should ignore Text Nodes
3 - easy to detect and therefore easy to ignore. Doesn't interfere with our ability to add new elements lat

[2022-04-07 14:31] jskeet commented on #998
@duglin: I've added an "on the fence" option as I couldn't quite bring myself to vote against all but the last one, which is my natural inclination. I don't know whether that affects any of your votes - I guess there are two ways in which one could be neutral, one of "I'm not sure what this would mean" and another of which is "I'm confident of what this would mean, but I don't know whether or not

[2022-04-07 15:40] duglin commented on #998
Did some more thinking about 2 and 8... and while in general I like the idea, I just couldn't figure out how that would be presented to a user - especially if there's extra text between multiple CE elements. Seems like asking people to just use elements and attributes as extensions is cleaner.

[2022-04-07 15:56] jskeet commented on #998
I expect it's valid in terms of not breaking the terms of `xs:any` - but multiple child elements would be too, and we've prohibited that. The intention of a `<data>` element with a type of `xs:any` is "my data is an XML element".

[2022-04-11 08:16] sunshengjing commented on #977
@duglin pls, assign this task to me, thanks.

[2022-04-11 11:13] sunshengjing commented on #977
@duglin @JieDing  translation is done, please review. thankls

[2022-04-12 07:10] JieDing commented on #977
@sunshengjing Cool, I'll review it and leave my feedbacks later

[2022-04-14 16:25] JemDay commented on #998
Example 3...

In this scenario I'd ask that the additional attribute be in its own namespace ensurethe `ce` namespace isn't polluted ... this also mean there's no dance of collisions in the future if/when we add new context-attributes.

[2022-04-19 04:47] sunshengjing commented on #982
@duglin @JieDing pls, assign this task to me. thanks a lot.

[2022-04-25 16:12] jskeet commented on #558
To my mind, one problem is that "dataencoding" is a perfectly valid context attribute name, but its use here isn't really part of the CloudEvent itself. I would be happier with "data_encoding", to indicate that it's metadata about the "data" property rather than a separate context attribute.

In terms of supporting both: I'd prefer not to do that, personally. We *can't* make this change until 2.0

[2022-04-27 13:19] duglin commented on #558
Adding the v2.0 label to this issue as we may want to consider tweaking the attributes at that time.

[2022-04-27 13:21] duglin commented on #558
Is the "datacontent/data_content/data_xxx" discussion the only open topic for this issue?

[2022-04-28 18:19] #925 closed

[2022-04-29 07:57] jskeet opened #1004 "XML format: do we have a whitespace policy?"
For example, assuming appropriate namespaces, should we automatically preserve leading and trailing whitespace on context attributes?

[code]

How does this apply to text and base64 data elements?

(Doug: please assign to me or Jem as a starting point.)

[2022-04-29 08:02] jskeet opened #1005 "XML format: is "XML data" a document or an element?"
Currently we have three XML types for data:

- Text
- Binary (base64)
- "XML"

The XML form is required to have a single child element and no peer non-whitespace text nodes. I had interpreted that as "the data is an element" whereas Jem had written it intending "the data is a document". The two aren't the same - in particular, there could be other things we want for a document like a DTD. It also

[2022-04-29 12:33] duglin commented on #1005
Some thoughts:
- at the end of the day someone should be able to take the contents of the `<data>` element and pass it to an XML parser the same as if the contents were the only thing in an HTTP Body
- I believe that extra XML metadata, such as DTDs, can not appear in the middle of an XML document which means they can not appear under `<data>`.
- related to the other discussions this week, I belie

[2022-04-29 12:52] duglin commented on #1004
If we try to compare this to json then it would be similar to:
[code]
and I suspect there's no doubt as to whether the whitespace is part of the desired value or not. While it might annoy those who like to pretty-print things and assume spacing is ignored, from a spec perspective it seems like we have no choice but to take a stand of "we must not lose data" and "we can not assume which data doesn'

[2022-05-03 19:45] duglin commented on #633
Closing since we already did a re-org

[2022-05-03 19:45] #633 closed

[2022-05-03 19:46] duglin commented on #756
@n3wscott is this one still an issue?

[2022-05-07 23:00] bruth opened #1006 "NATS: proposal to change/augment spec to use message headers"
As of [NATS 2.2](https://docs.nats.io/release-notes/whats_new/whats_new_22#message-headers) message headers have been supported (NATS is currently 2.8.2 for reference).

This issue is to propose change the protocol binding to put all fields into the header and have the `data` map to the message payload exclusively. This would remove the need of the JSON-encoded representation for all of the event

[2022-05-08 09:56] duglin commented on #1006
@derekcollison thoughts?

[2022-05-08 16:01] derekcollison commented on #1006
I think both options should be available. Be great to have header support for those who prefer binary payloads.

[2022-05-08 21:28] bruth commented on #1006
@duglin I can augment the current document with the header-based alternative and highlight the two options. Does that work for you?

[2022-05-08 22:36] duglin commented on #1006
@bruth yup!  Just ping @derekcollison when you submit the PR so he can review it as he's our expert in that space

[2022-05-09 17:42] JimWeier-VeteransUnited opened #1007 "XML root Name not consistent"
Why is Root element of XML version named "event",  The C# Implementation its named CloudEvent, , Proto is named CloudEvent, AVRo its named CloudEvent, To be consistent, and to allow inoperability It would be better if the Root Node of XML version were name the same

[2022-05-09 17:54] #705 closed

[2022-05-09 17:58] JimWeier-VeteransUnited opened #1008 "Why has specversion moved from an element of the Cloudevent to an XMLAttribute,"
In Other formats spevversion in a context attribute, For inner operability should  specversion  remain a child element of the Root node event  (Hopefullt becomes CloudEvent) to be consistent)?

[2022-05-09 18:37] jskeet commented on #1007
Well, it's already in a CloudEvents-specific namespace, so personally I think it's unambiguous.

I don't really understand the interoperability argument - @JimWeier-VeteransUnited can you be more specific about how using `<event>` as the element name hurts interop?

[2022-05-09 19:45] duglin commented on #1007
I don't have a strong opinion about this one. Before @JimWeier-VeteransUnited pointed out the inconsistency I preferred just "event" since the namespace was sufficient to differentiate it from other "event" elements. But, I do like consistency....

[2022-05-09 19:52] duglin commented on #1008
I believe this was moved to be an attribute because it was more xml-ish as an attribute. While it may not be needed in the future, by having it be an attribute it allows for us to know which version of CE is being used before we even step into the children of the element - meaning, we can know before we even start to parse the children. For example, imagine a world where v2 of CE things looked lik

[2022-05-09 19:54] duglin opened #1013 "Support CDATA as body type for 'data' element"
### Discussed in https://github.com/cloudevents/spec/discussions/1011

<div type='discussions-op-text'>

<sup>Originally posted by **JimWeier-VeteransUnited** May  9, 2022</sup>
Data should be able to contain a CDATA string in the element named data </div>

[2022-05-09 19:55] duglin opened #1014 "Named Element 'ExtensionAttributes' of Type any"
### Discussed in https://github.com/cloudevents/spec/discussions/1012

<div type='discussions-op-text'>

<sup>Originally posted by **JimWeier-VeteransUnited** May  9, 2022</sup>
To enable Back end Systems that Validate XML payloads against given Schemas it would be Nice to have an XML Element Name Extension Attributes of Type Any, So the Schema Validators will ignore any child following it  Otherw

[2022-05-09 19:59] duglin commented on #1014
Can't people just put an xs:any at the end of their schema for the current list of CE elements?
https://www.w3schools.com/xml/schema_complex_any.asp

[2022-05-10 11:16] JieDing commented on #982
The related-PR is merged.

[2022-05-10 11:16] #982 closed

[2022-05-10 11:16] JieDing commented on #977
The related-PR is merged.

[2022-05-10 11:16] #977 closed

[2022-05-10 13:28] jskeet commented on #1007
If you're using plain XML serialization, I'd *expect* you to have to use attributes to specify the names involved. But fundamentally I wouldn't expect to use XML serialization for this... I'd use the CloudEvents SDK when it has XML format support, which it will when I've finished it. (I've got a prototype already.) You certainly shouldn't serialize a `CloudNative.CloudEvents.CloudEvent` object wit

[2022-05-10 13:42] JimWeier-VeteransUnited commented on #1014
The Elements that are extensions  would need to go under the ANY Node as child elements, to work, And this is what I am suggesting we adopt.   If you simply add a Single Node of type Any as a child of the Root Node,  then add other nodes a siblings under it they will fail Schema Validation, They MUST be Child Elements of the Any Node

[2022-05-10 14:01] JimWeier-VeteransUnited commented on #1007
If "The purpose of the CloudEvents project isn't to have a single standard file format - it's a single standard data model which can be represented in multiple (also standardized) formats."

 --- If this is the case then event and Cloudevent are NOT the same Data model  you entity may have similar fields/properties but are different data models because there ENTITY name is different, therefore are

[2022-05-10 14:59] JimWeier-VeteransUnited commented on #1007
Really CloudEvent is just an Abstract Data Model?   My Bad I will Ignore it completely because Abstract Data Model  I was treating it as a Concrete Data Type.  I will create my own, Its too bad Abstract data Models really dont help with Standards or inoperability between systems if its only abstract

[2022-05-10 15:10] JimWeier-VeteransUnited opened #1015 "XSD - Provide concrete XSD that XML Documents can Validated against"
If the XML specification is only intended to be an "Abstract" data type, and not a concrete Implementation, It be nice to Create a Standard XSD that can Validate any given XML to See If it Adheres to the Concrete Implementation of a cloud event

[2022-05-10 15:32] jskeet commented on #1007
We may be using terminology slightly differently, but I regard it as an abstract data model that is represented concretely in both SDKs and CloudEvent formats. Knowing *what can be represented* in a CloudEvent (e.g. the type system for attributes) and *how CloudEvents can be represented* (in different formats) feels extremely useful to me in terms of standardization.

[2022-05-10 15:59] JemDay commented on #1015
Hi @JimWeier-VeteransUnited

At one point we did work on a schema as a part of the XML Format but it turned out to be more productive (for us at least) to work with an expected _wire-format_ while we hashed it out - we followed a similar model for the JSON Format as it turns out.

It's always been a goal to provide a schema so I think it's worthwhile leaving this issue open until that has been don

[2022-05-10 16:21] duglin commented on #1015
@JimWeier-VeteransUnited I don't see the attachment

[2022-05-10 16:24] JimWeier-VeteransUnited commented on #1015
[CloudEvent.txt](https://github.com/cloudevents/spec/files/8663334/CloudEvent.txt)
Did this come through

[2022-05-10 16:25] JemDay commented on #1015
Yes .. thanks ... I'll take a look..

[2022-05-10 16:31] JimWeier-VeteransUnited commented on #1007
My point is your Concrete implementations are not Consistent and will cause issues try Something as simple as this (Notice the Class Name is different then the Element that is Created

Create a class
/// <remarks/>
[System.CodeDom.Compiler.GeneratedCodeAttribute("xsd", "4.8.3928.0")]
[System.SerializableAttribute()]
[System.Diagnostics.DebuggerStepThroughAttribute()]
[System.ComponentModel.Designe

[2022-05-10 17:06] jskeet commented on #1007
Could you clarify why it would fail here? If it does, that sounds like an error in the serializer, given that it's configured to use `<event>` as the element name. If the serializer is so inflexible that it can't cope with anything other than the class name being used as the element name without failing to round-trip, that's not a terribly useful serializer.

But fundamentally, this isn't a use ca

[2022-05-10 17:55] JimWeier-VeteransUnited commented on #1007
Serilization will work fine,  Coming back into the class "De-Serialization" will fail because the XML Root Node Name must match the class Name you trying to De-Serialize  this is out of the Box .net  Functionality...You can override this Functionality but again digging around to figure what its should be,     Stating "Different file formats will naturally have different conventions" then why even

[2022-05-10 17:57] jskeet commented on #1007
I think at this point our views are *so* divergent that there's not much benefit in discussing them further. If you see no value in the CloudEvent specifications as they are at the moment, I suggest you just don't use them. Others (including myself) clearly *do* see value in them.

[2022-05-10 18:06] JimWeier-VeteransUnited commented on #1007
Fair enough  Are view are different, I believe if you look CloudEvent from a single point of view such as JSON it has value or as Just from XML, or C#  it has Value. But inconsistency across languages and formats just causes unneeded pain points... An working with systems that integrate many many systems, Some using Json, Some XML , Some C# and Rest Some in SOAP Some WCF, Those inconstancies and t

[2022-05-10 18:06] #1007 closed

[2022-05-10 18:06] jskeet commented on #1007
Just for kicks, I decided to test the claim about XmlSerializer - it worked fine for me. Complete code:

Program.cs:
[code]

CloudEvent.cs:

[code]

Result:

[code]

No problem...

[2022-05-10 18:08] JimWeier-VeteransUnited commented on #1007
Now take that Serialized XML Pull back in and DE-SERIALIZE it into a CloudEvent

[2022-05-10 18:09] jskeet commented on #1007
Um, that's exactly what I did:

[code]

[2022-05-10 18:09] JimWeier-VeteransUnited commented on #1007
Sorry Missed that

[2022-05-10 18:11] jskeet commented on #1007
If you only want to deal with a single format, then go ahead - just be aware that you'll end up with a much more constrained system, whereas embracing the model of "CloudEvents have *this* data model, which can be expressed in *these* different ways" (and with multiple different languages etc) gives much more flexibility. If you're fine without that flexibility, that's no problem - but many other

[2022-05-10 18:24] jskeet commented on #1007
Except that you'll then be self-consistent, and inconsistent with *every other platform supporting CloudEvents*. Basically it will be your own variation of CloudEvents. That's your choice of course, and it may even make sense if you have multiple platforms to support internally, but never need to interface with any external systems.

(It's still unclear to me where you'd expect the name "CloudEven

[2022-05-10 18:40] JimWeier-VeteransUnited commented on #1007
Why would my Inconsistent naming my Cloudevent break other System and keep me from integratingwith them?   I should be able to do it just fine, You being inconsistent across platforms will work for you, But not for me?

CLOUD Event Come into play in JSON when you turn on a feature that enables  you make root value (usually JSON Object but can be any type) wrapped within a single property JSON obje

[2022-05-10 18:53] jskeet commented on #1007
Because if the CloudEvents XML format specifies a root element name of `<event>` and you decided to use `<CloudEvent>` instead, that's simply not a valid CloudEvent representation in terms of deviating from the specification. I don't think that should come as a surprise.

[2022-05-11 11:47] duglin commented on #1007
Lively discussion! :-)
I just want to make sure I understand the state of things... it seems to me that @JimWeier-VeteransUnited was concerned about two aspects of the XML format:
1 - technical perspective:  inconsistency between the XML naming and the code naming ("event" in XML but "CloudEvent" in the code/classes). However, I think @jskeet showed that from a coding perspective this shouldn't be

[2022-05-11 11:58] duglin commented on #1014
thanks for the reminder... been way too long since I've played with XML :-)

@JemDay thoughts?

[2022-05-11 11:58] JimWeier-VeteransUnited commented on #1007
Yes Lively discussion .... I love it ! I like this because  together as a community we will get the best product delivered. No matter what you all decide... but At minimum it has brought forth thought... I thank you all for that...

And Yes your over view his correct

[2022-05-12 16:24] duglin commented on #1007
We has a quick chat about this on today's call and there wasn't a big desire to change the element name from "event" to "CloudEvent" so the group decided to keep it as is for now.

[2022-05-19 12:21] duglin commented on #1013
@JemDay

[2022-05-19 12:21] duglin commented on #1008
@JemDay any comment?
@JimWeier-VeteransUnited ok if we close this?

[2022-05-19 14:57] JimWeier-VeteransUnited commented on #1008
Yes we may close

From: Doug Davis ***@***.***>
Sent: Thursday, May 19, 2022 7:22 AM
To: cloudevents/spec ***@***.***>
Cc: Jim Weier ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [cloudevents/spec] Why has specversion moved from an element of the Cloudevent to an XMLAttribute, (Issue #1008)

@JemDay [github.com] any comment? @JimWeier-VeteransUnited [github.com] ok if we close this? — Repl

[2022-05-19 15:27] #1008 closed

[2022-05-20 00:11] krancour opened #1018 "Ambiguous requirements for delivery target executing validation callback"
[This section](https://github.com/cloudevents/spec/blob/main/cloudevents/http-webhook.md#413-webhook-request-callback) states:

The "or" here throws a real monkey wrench into the works, because it's unclear which party decides which is the appropriate method.

Case in point, cloudevents/sdk-go unconditionally uses a POST for the callback [here](https://github.com/cloudevents/sdk-go/blob/main/v2/pr

[2022-05-20 02:04] duglin commented on #1018
I think the intent is that the sender can decide to use either one and the receiver needs to be prepared for either. Can’t explain why we didn’t just pick one though. Might be because folks have seen both being used. But @clemensv will know for sure.

[2022-05-20 02:14] duglin commented on #1018
Maybe there’s supposed to be a “method” parameter? https://progrium.github.io/blog/2012/11/26/x-callback-header-an-evented-web-building-block/

[2022-05-20 02:26] krancour commented on #1018
Thanks @duglin. And I will now stand corrected... experimentation revealed that Azure Event Grid _does_ accept a POST, even though the documentations says a GET is expected.

I agree that the receiver should probably be prepared to receive either, but humbly suggest that perhaps that should be spelled out explicitly to avoid further confusion on this.

[2022-05-20 02:49] krancour commented on #1018
Once again, I may have spoken too soon, because Event Grid provisioning did eventually fail with the POST callback. Webhook validation incomplete. ☹️

I guess I'm going back to a custom options handler that does a GET _and_ a POST because it's impossible to predict whether the receiver is prepared for either.

[2022-05-23 01:21] #1006 closed

[2022-05-23 13:23] plopp commented on #835
For reference: https://github.com/cloudevents/sdk-java/issues/401#issue-926344234

[2022-05-26 16:37] JemDay commented on #1013
I think this should be doable ... this might mean we change such that "text" is always transferred as CDATA as opposed to an s:string, or we support both and leave it up to the SDKs to switch between the two styles - that has the potential for adding complexity into all of the SDKs though - @jskeet ??

[2022-05-26 16:41] jskeet commented on #1013
Hmm.... will have to look into it in more detail. I'm not even sure whether we need to explicitly say anything here, or whether it just drops out. Fundamentally I need to get my head back into the XML CloudEvents space - including updating my C# SDK prototype...

[2022-05-26 16:44] JemDay commented on #1005
I think this is really an SDK issue ... the Java SDK proposal provides an org.w3c.Document style interaction model to the XML data, extending it to support org.w3c.Element as well doesn't seem impossible.

I don't believe this affects the actual wire-format in any way ..

[2022-05-27 13:16] duglin commented on #1014
They're just sibling attributes to the CE defined ones. We tried to have them be treated just like the optional CE defined attributes.

[2022-05-27 17:26] JemDay commented on #1014
Siblings of the parent ‘event’ yes - I think we have that covered already.

Siblings of a CE Attribute .. I don’t think that would work …

maybe I’m misunderstanding

[2022-05-27 18:07] duglin commented on #1014
Since you said to ignore xml, here's the json version from the spec:
[code]
They're sibling attributes to me.

[2022-05-27 19:50] stevenhartley opened #1019 "Flatbuffers Event Format"
Any thought for supporting Flatbuffers Cloudevent format (IOW, defining the CloudEvent using Flatbuffers IDL)?

[2022-05-28 04:02] duglin commented on #1019
Haven't heard about it, but a PR is always welcome :-)

[2022-06-01 19:24] JemDay commented on #1014
I'd prefer to shelve this until we (or I) have produced a decent XML Schema ...

Ideally these extension attributes would be an XS:any but with a constrained set of 'types' - that's what I'm mentally struggling with ;-)

[2022-06-02 03:38] duglin commented on #617
I wonder if the assumption here was that the header info would have been encoded into the URL, which is why a browser could do it. Although, note that it does say this:
[code]
which should cover the `WebHook-Request-Origin` header, but for the rate-limit header that gets a bit tricky since it doesn't explicitly say how that should be encoded into the URL, though it should be obvious. I do wonder w

[2022-06-02 03:40] duglin commented on #650
What should we do about this one?  Perhaps an SDK person should open an issue in each SDK repo asking if they want to do this and then each SDK can decide for themselves?  @lance ?

[2022-06-02 03:41] duglin commented on #662
I think we can close this one now. @jem?

[2022-06-02 03:43] #847 closed

[2022-06-02 12:59] JimWeier-VeteransUnited commented on #1014
In XML you cant declare any element of type Any and then Constrain it it, It would be a contradiction to its definition "xsd:any> XML schema element to describe a section of an XML document with undefined content".. The discussion point was really to be that when you define the Json event, you need to be mindful of XML and other formats as you create them for consistency sake..
In doing so you sho

[2022-06-02 18:18] lance commented on #650
I think the github tooling is pretty good now so that PRs that are currently open against `master` just get changed to point to `main`. But to be honest I'm not 100% sure about that. Regarding SDKs, sdk-javascript was done a while ago. Not sure about the others.

[2022-06-03 02:23] duglin commented on #650
Per the call today I opened up an issue in each repo asking them to switch.
I think we can close this issue now and just deal with the issues in the other repos.

[2022-06-03 02:23] #650 closed

[2022-06-03 17:50] ntextreme3 opened #1021 "Questions on the Distributed Trace extension"
## 1. Why not just use `traceparent` as the attribute?

There is already precedence for doing this with `content-type` in the broader spec. Ex, from [datacontenttype](https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md#datacontenttype):

Which is specified in the [HTTP binding spec](https://github.com/cloudevents/spec/blob/main/cloudevents/bindings/http-protocol-binding.md#311-http-c

[2022-06-03 18:30] ntextreme3 opened #1022 "Question on carrying custom metadata between systems"
Looking at a spec like, for example, HTTP or Kafka, which both support a concept of Headers -- are there any provisions that apply generically for custom metadata? Or do we consider anything "custom" really an "extension" and should be well defined?

Example: Say you have an application that is ignorant of CloudEvents and it produces messages to a Kafka topic with custom metadata set in Kafka head

[2022-06-08 12:26] duglin commented on #1022
If you want to convert a custom Kafka header (ignoring well defined ones) into a CE extension attribute then it shouldn't be any harder than to just add the `ce-` prefix to it and make sure the name adheres to the CE [rules](https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md#naming-conventions). Does that help?

[2022-06-08 12:44] Woile commented on #1022
Hey @duglin could you expand on:

Does it mean CE defines kafka headers? I couldn't find a link to this.
Thanks

[2022-06-08 13:13] duglin commented on #1022
I just meant that you wouldn't want to convert headers like `content-type` to `ce-content-type`, so Kafka well-known headers.

Yes, 3.2 is for "CE binary mode" and 3.3 shows "CE structured mode". Which you use depends on whether you want your event wrapped with CE metadata (structured) in the body or whether you want your event untouched/unwrapped and then the CE metadata appears as headers (binar

[2022-06-08 13:45] duglin commented on #1019
Going to close this since there's no action to take on it.... but as I said, if someone is interested in creating a PR for it then we'd welcome to addition.

[2022-06-08 13:45] #1019 closed

[2022-06-08 13:46] duglin commented on #1021
@joaopgrassi @clemensv any comments?

[2022-06-08 13:47] duglin commented on #1018
We chatted about this on last week's call and @clemensv will be commenting soon....

[2022-06-08 13:50] pierDipi commented on #1022
I guess what you're looking for is a well-defined <protocol / system> event to CloudEvent transformation (<protocol / system > being HTTP or Kafka in your case), the spec defines "adapters" for some systems https://github.com/cloudevents/spec/tree/main/cloudevents/adapters but there isn't one for Kafka (or a generic one for "system that supports headers"), so everyone is defining its own protocol/

[2022-06-08 15:29] joaopgrassi commented on #1021
The goal of having the extra `ce-traceparent` is to achieve an "application-only" trace, meaning a trace that does not contain (or is agnostic of) things like protocol-level instrumentation (brokers/intermediaries).

Imagine this use case: An application is instrumented and sends an event to an intermediary. The intermediary then forwards this event to a consumer.

The standard `traceparent` propa

[2022-06-08 19:46] ntextreme3 commented on #1022
👍 Yeah I think this is exactly what I'm looking for. Headers was one example, another would be well defined rules for things like "id" and "source" where the spec just says that 'the combination must be unique'.

Since you mentioned Knative, I took a look at their KafkaSource and they have things like [this](https://learning.oreilly.com/library/view/knative-cookbook/9781492061182/ch04.html#:-:text

[2022-06-09 03:41] ntextreme3 commented on #1021
Thanks for the examples!

So in the semantic conventions for CloudEvents, it looks like the suggestion is to relate the Consumer back to the Producer via a "Link". Is there a reason that that would be preferred over just having 1 traceparent root?

Ex:

1. App1 sends a CloudEvent with `ce-traceparent` following the same rules as `traceparent` to an intermediary
2. Intermediary puts the CloudEvent

[2022-06-09 08:57] joaopgrassi commented on #1021
Sure! Sorry for the wall of text, but it's a topic that is tricky to answer in a few words 😅

Yes, you are right this _would_ work. But it's not ideal for a couple of reasons:

- You lose whatever current context you have at that moment. Imagine the poll operation happened during some user request. If you take the context from the event and use that instead to continue the trace, you will lose all

[2022-06-09 16:23] krancour commented on #1018
@duglin I should have circled back to provide some more info...

I do still think there's room for at least a mention that the receiver needs to be prepared for either GET or POST, but I discovered what might possibly be another gotcha...

After a lot more experimentation, my _real_ trouble with Event Grid turned out to be timing. If the async ack (whether GET or POST) was sent before the synchron

[2022-06-09 21:51] ntextreme3 commented on #1021
I think that makes sense, ok then so:

The "multi hop" period described there refers to the event passing through something like a queue, and _not_ saying that `ce-traceparent` should always be carried forward **forever** matching the initial app?

Ex:

1. App1 -> Intermediary1 -> Queue1 -> App2
2. App2 gets Linked to App1
3. App2 does some work with the Event and sends its `ce-traceparent` value

[2022-06-10 09:39] joaopgrassi commented on #1021
If **the same** initial event is forwarded (or travels) to/from AppN, then all of those will link to App1. The simple way to think is: subsequent apps will extract whatever context is in the event and add it as a link to its own trace. If the initial event "goes through many hops" it's then clear all of those hops will link to the initial `App1`.

Yes, exactly. The multi hop ends when the next con

[2022-06-14 04:04] ntextreme3 commented on #1021
I'm all good here then, thanks!

[2022-06-14 04:04] #1021 closed

[2022-06-15 07:32] xibz opened #1024 "CloudEvents additional custom data"
So, I am talking with [cdEvents](https://github.com/cdevents/spec) who use cloudevents as the underlying transport format, and one thing I noticed is that they have an additional field called `payload` in their requests.

[code]

This unfortunately is a breaking change to anyone adhering to this standard, so instead I proposed some alternative solution in [cdEvents#40](https://github.com/cdevents/

[2022-06-15 09:00] afrittoli commented on #1024
Thanks @xibz for this.

In this context I was wondering what the intended use of the different modes in the HTTP binding is https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/bindings/http-protocol-binding.md#3-http-message-mapping

In structure mode, CloudEvents would suffer some a similar problem to the one @xibz mentioned in this issue.
In binary mode the payload is untouched instead,

[2022-06-15 12:27] duglin commented on #1024
@xibz it seems like @afrittoli is correct in that folks are missing the "binary" vs "structured" modes in CloudEvents. I agree that in structured mode any existing sender or receiver of an event would break if they on a structured CloudEvent, which is why we created "binary mode" where all of the CE metadata is encoded as HTTP headers. Then existing events do not need to change their "body" at all

[2022-06-15 12:34] xibz commented on #1024
I don't think you'd need access to the event's business data. For example, you could deserialize just the metadata portion and do what you want with it. Further every event schema would need to know of this metadata, but isn't that the point of a standard?

Unfortunately, the binary format is also a breaking change. The standard should support various formats that businesses use without breaking t

[2022-06-15 12:47] xibz commented on #1024
I'll go ahead and close this since the binary format will support one of the proposals :)! Thank you

[2022-06-15 12:59] afrittoli commented on #1024
@duglin Do you think it would be worth adding some text to the binary mode description to further clarify its purpose?

[2022-06-15 20:53] duglin commented on #618
For this one I was thinking that it might make sense to create a wiki page with a list of topics (or "todo list") that we should review periodically - say every 6 months. We can then add "review extensions" to the list and then we can process (and review that list) periodically.  Thoughts?

[2022-06-15 20:55] duglin commented on #701
I'm going to close this one since I think #690 covers it... and if not we'll bring this up again during interop testing

[2022-06-15 20:55] #701 closed

[2022-06-15 21:15] duglin commented on #923
hmmm it does seem a bit inconsistent doesn't it :-)  I'm adding this to the call for tomorrow

[2022-06-15 21:16] duglin commented on #924
Closing since #929 covers it

[2022-06-15 21:16] #924 closed

[2022-06-15 21:17] n3wscott commented on #756
still an issue.

[2022-06-15 21:17] duglin commented on #954
@jskeet can we close this one?

[2022-06-15 21:22] jskeet commented on #954
Yes, I believe so. Closing.

[2022-06-15 21:22] #954 closed

[2022-06-15 22:28] duglin commented on #848
Going to propose we close this on tomorrow's call... if anyone has any concerns please speak up.

[2022-06-15 22:29] duglin commented on #894
Going to propose we close this on tomorrow's call... if anyone has any concerns please speak up.

[2022-06-15 22:39] grant commented on #894
SGTM

[2022-06-16 16:11] duglin commented on #756
See: https://github.com/cloudevents/cloudevents-web for the hosting side of things.
Scott to look into it

[2022-06-16 16:16] duglin commented on #848
Scott would like to keep this open for a while and discuss

[2022-06-16 16:17] duglin commented on #894
Agreed to close on 6/16 call

[2022-06-16 16:17] #894 closed

[2022-06-16 16:27] duglin commented on #923
See: https://github.com/cloudevents/spec/pull/191 and https://github.com/cloudevents/spec/pull/291 for history. Let's discuss again next week

[2022-06-21 11:55] #591 closed

[2022-06-21 14:27] duglin commented on #653
Do people think we can close this one? Speak up if you'd like to keep it open

[2022-06-21 14:34] duglin commented on #890
To me it would feel odd to use Kube YAML but then use some other API - I'd prefer to either go "full Kube" or "not at all". I think a half-way solution will either confuse or annoy people.

As to whether we should use Kube or not... personally, I'd vote 'no' because I wouldn't want to link our specs to one specific implementation choice.

I'm not against a declarative API though.

[2022-06-21 14:40] duglin commented on #913
I'm a bit uncomfortable with the word "version" being in there because I think people will interpret it to have more meaning than what we intended. I believe the orignal usage of this field is to be able to pick the newer one when comparing two instances of the entry. And while "version" can do that, I think using a term that people might want to use for their own purposes (or confuse it with one)

[2022-06-21 14:41] duglin commented on #969
Closing since we're all 100% compliant now

[2022-06-21 14:41] #969 closed

[2022-06-21 14:41] duglin commented on #998
@jskeet what's the status of this one?

[2022-06-21 14:45] duglin commented on #1022
@ntextreme3 where are we on this one? If you think a "kafka adapter" would be useful, would you be interested in taking a first stab at it?

[2022-06-21 14:54] jskeet commented on #998
Hmm... I'll need to look at it again to work out which ones have been decided on one way or another, and what's still open. I'll try to do that before Thursday's meeting.

[2022-06-22 14:02] jskeet commented on #998
So, out of these, examples 2, 5, 6, 7, 8, 10 and 12 are now implemented via #1002.

The summary of what remains:

- 1 and 9: additional attributes in the `event` or `batch` elements
- 3 and 11: non-CE namespaced elements in the `event` or `batch` elements
- 4: additional attribute in an element representing a context attribute

We still need to decide on those one way or another.

[2022-06-24 13:39] #618 closed

[2022-06-28 07:02] VedaGao opened #1027 "[Docs] Translate spec/cloudevents/languages/zh-CN/RELEASE_NOTES to zh-CN.md"
Document to translate:

https://github.com/cloudevents/spec/blob/main/cloudevents/RELEASE_NOTES.md

Translation target:

https://github.com/cloudevents/spec/blob/main/cloudevents/languages/zh-CN/RELEASE_NOTES.md

Translators who accept the task SHOULD follow [instructions for CloudEvents translation](https://github.com/cloudevents/spec/blob/main/languages/languages-spec.md).

[2022-06-28 07:03] VedaGao commented on #1027
Plz assign this to me. thanks a lot.

[2022-07-04 23:51] BenBeattieHood commented on #923
@c-plus when I put the original spec for this together, I'd intended for ints to be zero padded. I felt the spec of 'sequence is a string' coupled with 'sequence is used to order events' implies string-encoded ints need zero padding - but maybe I should've included this explicitly for clarity.

In cases where one has exceeded the zero padding (eg moving from string-encoded 32bit int to string-enco

[2022-07-05 16:39] duglin commented on #923
@BenBeattieHood thanks - I'll comment more in the PR to keep everything in one spot

[2022-07-07 10:28] jskeet commented on #923
Isn't it a bit odd for a sequencetype to change mid-sequence? I suspect clients might find that hard to work with.

I'd also say that zero-padding is quite brittle, in terms of having to predict the number of zeroes to apply. I think we'll want to revisit this before sequence ends up as a fully-specified context attribute. We may need to do that by mandating support for an integer sequencetype in

[2022-07-07 21:06] #1024 closed

[2022-07-20 13:50] nielspardon opened #1036 "schemaregistry: Inconsistencies between 3. HTTP ("REST") API and 2. Schema Registry Elements"
Following the operations described for the HTTP REST API in section 3 there are the following inconsistencies:

1. Creating an individual `Schema` is not supported by the described API. One can only create a new `Schema Version` [3.3.3. Add a new schema version](https://github.com/cloudevents/spec/blob/6cd09e5e210d7b04e0eda585c0c59fd1d5980ad2/schemaregistry/spec.md#333-add-a-new-schema-version).

[2022-07-21 12:02] duglin commented on #1036
ping @clemensv. I think this is related to some chats we've had recently about how to deal with the extra metadata associated with a schema doc.

[2022-07-21 15:00] clemensv commented on #1018
@krancour - if there's an Event Grid bug, we should have that as a separate issue. The behavior that you mention is by design, though.

The whole reason for the callback method, as the spec also states, is that during development you can grab the URL from a log and hit the URL with a browser to approve. Hence that will happen AFTER that initial call returns.

That also explains why this is a GET b

[2022-07-21 15:05] clemensv commented on #617
"If the delivery target chooses to grant permission by callback, it withholds the response headers."

This means that it the target handles OPTIONS for all of its other functions that OPTIONS has, but not for granting this permission.

If you then answer the callback with a GET (you picked the URL from a log), you implicitly allow whatever rates the sender is asking for because you don't send head

[2022-07-21 16:23] n3wscott commented on #617
What should reasonable default be in the sdk's?

[2022-07-21 19:35] #923 closed

[2022-07-22 17:22] krancour commented on #1018
That makes sense to me @clemensv and I think that is a good clarification.

[2022-07-25 22:59] HenriKorver opened #1038 "[Subscription API] OAS schema for filter expressions seems not to be correct"
When converting the [OAS schema for the Subscription API](https://github.com/cloudevents/spec/blob/main/subscriptions/subscriptions-openapi.yaml) to JSON Schema (see at the bottom of this message), correct filter expressions like

[code]
are unfortunately not validated. The reason for this is the `Filter` schema object which matches everything. If this object is used in a `oneOf` construction than

[2022-07-27 17:28] pcgeek86 commented on #55
I agree that a validation tool of sorts would be useful, to ensure interoperability.

[2022-07-30 11:28] HenriKorver opened #1039 "[Subscription API] I get confused in introduction section about filter dialects"
Section [3.2.4.1 Filter Dialects](https://github.com/cloudevents/spec/blob/main/subscriptions/spec.md#3241-filter-dialects) tells that Filter dialects are identified by a unique URI-Reference.

[code]
However, in the first filter dialect that MUST be supported following the specification the attribute `exact` does not look as a unique URI-reference to me.

[code]

[2022-07-30 13:08] HenriKorver opened #1040 "[Subscription API] Purpose of Filter schema object in OAS not clear"
In the OAS for the Subscription API the Filter object is included:

[code]

The Filter object is used in all the filter dialects as the basis of the `allOf` construction, for instance in the ExactFilter:

[code]
It is not clear for me what the purpose is of this `allOf` construction with the Filter object as basis schema. It seems that the Filter object offers an extension mechanism to all the fil

[2022-07-30 13:57] HenriKorver commented on #1040
In addition to the question above. In some filter dialects the Filter object is also used in the oneOf- besides the allOf-construction. This seems to be incorrect (see #1038)

[code]

[2022-08-03 14:33] #653 closed

[2022-08-09 19:57] duglin commented on #1022
Any objection to closing this one?

[2022-08-09 20:19] duglin commented on #1038
@HenriKorver thanks! Would you be interested in submitting a PR ?

[2022-08-09 20:24] duglin commented on #1039
While short, I think it is a valid URI-ref per https://www.rfc-editor.org/rfc/rfc3986#section-4.1

We kind of cheated a little by grabbing such a short one and perhaps we should make it more official with something like http://cloudevents.org/filters/....  but that's a lot of typing for common ones. :-)

Do you see an issue with us using it?

[2022-08-09 20:31] duglin commented on #1040
I believe this was done to allow for new filter expressions to be defined. But as you noted #1038 perhaps we need to define it differently since it matches everything.

[2022-08-09 20:38] ntextreme3 commented on #1022
Yeah that's fine. I do think having an official adapter will be useful. If I have time I might come back to it.

[2022-08-09 20:38] #1022 closed

[2022-08-10 16:02] duglin commented on #1022
that would be great - thanks!

[2022-08-12 16:24] sasha-tkachev opened #1042 "translation: cloudevents spec to hebrew"
I want to translate the CloudEvents spec to Hebrew.

The issues I think I will encounter is RLT support from github

Never done this before but I think this will be cool experience

[2022-08-12 16:28] duglin commented on #1042
Sound interesting... looking forward to your PR ;-)

[2022-08-12 16:47] sasha-tkachev commented on #1042
@duglin I was right about the RTL support

I think I may need to write in html instead of markdown due to it
see example here
https://github.com/sasha-tkachev/cloudevents-spec/blob/feature/hebrew-spec/cloudevents/languages/he/adapters/aws-s3.md

[2022-08-12 16:54] sasha-tkachev commented on #1042
oh, nevermind, seems it works fine without the div

[2022-08-12 18:30] sasha-tkachev opened #1044 "Ambiguous "needs" wording in spec"
Under the [Notational Conventions](https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md#notational-conventions) section in the CloudEvents spec the wording is ambiguous under

It is not clear if "needs" mean `MUST` or mean `SHOULD` under RFC 2119 .

My personal interpretation is SHOULD.

The reason I is a problem is because while working on the hebrew tralsnation (#1042) the word "nee

[2022-08-18 19:58] devinbost opened #1052 "Combining with JSON Schema specification for validation?"
EDIT: For anyone first reading this, please see this comment that introduces the business case: https://github.com/cloudevents/spec/issues/1052#issuecomment-1249260590

I don't know if this is the right place to start this discussion, but I've noticed that there is some overlap between the JSON side of CloudEvents and the features of json-schema _specifically around validation_. In large part, it

[2022-08-18 22:48] handrews commented on #1052
I see that the JSON Schema being used to validate the JSON format is a draft-07 schema.  Just in case folks aren't aware, the more recent draft 2020-12 ([core](https://www.ietf.org/archive/id/draft-bhutton-json-schema-01.html), [validation](https://www.ietf.org/archive/id/draft-bhutton-json-schema-validation-01.html)), which has also been adopted by OpenAPI 3.1, has the concept of extension vocabu

[2022-08-19 12:29] #1042 closed

[2022-08-19 19:11] devinbost commented on #1052
I found some change logs between draft-07 and 2020-12 that make it easier to see what has changed:

[Draft-07 to Draft 2019-09](https://json-schema.org/draft/2019-09/release-notes.html)
[Draft 2019-09 to Draft 2020-12](https://json-schema.org/draft/2020-12/release-notes.html)

[2022-08-19 22:58] gregsdennis commented on #1052
There's also a tool that's being developed to perform this transition.

https://github.com/sourcemeta/alterschema

[2022-08-20 09:57] xdlbdy opened #1055 "spelling mistakes world in subscription spec"
Under the [Subscription Object config ](https://github.com/cloudevents/spec/blob/main/subscriptions/spec.md#config) section has a world of spelling mistakes

In the world of `Enpoint` spelling mistakes which lost a letter `d`, so the correct is `Endpoint`

[2022-08-20 10:23] xdlbdy opened #1056 "add credentail type cloud in subscription spec sink credentials"
Under the [subscription spec Sink Credentials](https://github.com/cloudevents/spec/blob/main/subscriptions/spec.md#323-sink-credentials) the predefined credentail types are "PLAIN", "ACCESSTOKEN", and "REFRESHTOKEN".  Now more and more applications are using products in the cloud. The authentication of cloud generally using `accessKeyId` and `secretAccessKey`, it is differcent with existing creden

[2022-08-22 11:56] jskeet commented on #1005
Well, it affects how we describe the expectation of what can be encoded "simply" in the XML format.

If someone asks "How do I represent an XML *document* as CloudEvent data in XML format?" should we recommend:

- Use base64 and the binary option
- Embed the document root element and use the XML option, noting that this loses additional information such as the XML document declaration, DTDs, and t

[2022-08-22 14:13] #1055 closed

[2022-08-22 14:13] duglin commented on #1055
Fixed by #1054

[2022-08-22 14:14] duglin commented on #1055
Thanks again for the fix/PR... in the future you don't need to an open issue if you don't want to. You can go straight to the PR if that's easier for you. We're not that formal :-)

[2022-08-22 14:20] duglin commented on #1056
I'm curious if "secretAccessKey" isn't the same thing as "ACCESSTOKEN" in this context?
But pinging @clemensv for this perspective.

[2022-08-25 16:27] #1044 closed

[2022-08-25 17:13] duglin opened #1058 "[Registry] I see a lack of symmetry between `deprecated` and the introduction of the endpoint. I might want a created and updated times?"
I see a lack of symmetry between `deprecated` and the introduction of the endpoint. I might want a created and updated times?

We might have a larger problem in attempting to describe an endpoint as a single resource thinking about how I roll out a new update to an existing service that is described as an endpoint. If there is a mix of support available for such service, do I need to create a new

[2022-08-26 12:16] duglin opened #1059 "[Discovery] I do still wonder if `epoch` will confuse people more than anything. https://en.wikipedia.org/wiki/Epoch_(disambiguation)"
I do still wonder if `epoch` will confuse people more than anything. https://en.wikipedia.org/wiki/Epoch_(disambiguation)

I wonder if the concept from k8s called `generation` would meet the same goal? https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#objectmeta-v1-meta

_Originally posted by @n3wscott in https://github.com/cloudevents/spec/pull/1041#discussion_r942596095_

[2022-08-26 12:16] duglin opened #1060 "[Registry] if the definition of the same endpoint is modified by two systems, and then both increment the epoch by 1, and then they sync, who wins?"
if the definition of the same endpoint is modified by two systems, and then both increment the epoch by 1, and then they sync, who wins?

_Originally posted by @n3wscott in https://github.com/cloudevents/spec/pull/1041#discussion_r942597186_

[2022-08-26 12:17] duglin opened #1061 "[Discovery] Would this (/why would this) docsurl be different than the endpoint docsurl?"
Would this (/why would this) docsurl be different than the endpoint docsurl?

_Originally posted by @n3wscott in https://github.com/cloudevents/spec/pull/1041#discussion_r942652957_

[2022-08-26 12:17] duglin opened #1062 "[Registry] Feels like `channel` should be an array."
Feels like `channel` should be an array.

_Originally posted by @n3wscott in https://github.com/cloudevents/spec/pull/1041#discussion_r942655170_

[2022-08-26 12:18] duglin opened #1063 "[Registry] If we do not define what `channel` means, I would lean towards `channel` being either a documented extension that defines one way to interpret `channel`, or drop it entirely and vendors can add private extensions to the api."
If we do not define what `channel` means, I would lean towards `channel` being either a documented extension that defines one way to interpret `channel`, or drop it entirely and vendors can add private extensions to the api.

_Originally posted by @n3wscott in https://github.com/cloudevents/spec/pull/1041#discussion_r942656878_

[2022-08-26 12:18] duglin opened #1064 "[Registry] I would rename to `auth` and define it as an undefined object."
I would rename to `auth` and define it as an undefined object.

_Originally posted by @n3wscott in https://github.com/cloudevents/spec/pull/1041#discussion_r942658336_

[2022-08-26 12:19] duglin opened #1065 "[Registry] `usage` seems odd to me. I would call this `role`."
`usage` seems odd to me. I would call this `role`.

_Originally posted by @n3wscott in https://github.com/cloudevents/spec/pull/1041#discussion_r942660094_

[2022-08-26 12:19] duglin opened #1066 "[Registry] I wonder if this example is misleading, as it needs the `usage` to be understood. That might tell me that usage and options should be colocated in an object together one level off of the root?"
I wonder if this example is misleading, as it needs the `usage` to be understood. That might tell me that usage and options should be colocated in an object together one level off of the root?

Is this example of a producer?

Yeah it feels like this would be easier to program to if we had more of this kind of structure:

[code]

No, I am not sure about that... I am thinking about two things:

1. H

[2022-09-01 02:18] duglin commented on #1052
ping @n3wscott @jskeet @clemensv for thoughts

[2022-09-01 08:43] jskeet commented on #1052
I'd like to know more about what's being proposed. I would expect the `dataschema` attribute to at least potentially refer to a JSON schema for the payload. But is this issue more about a JSON schema for the CloudEvent data surrounding the payload?

As an aside, I would prefer not to end up with anything in the 1.0 spec which is still draft - is there any notion of JSON schema ever actually gettin

[2022-09-01 10:32] gregsdennis commented on #1052
In regard to a schema for cloud events, the `$dynamic*` keywords of draft 2020-12 provide a good pattern. I've recently written about it [here](https://json-schema.org/blog/posts/dynamicref-and-generics).

We (JSON Schema) have decided to split from our involvement with IETF, and are pursuing other publication methods.  As such, we're exploring what that looks like.

That said, draft 7 is wisely u

[2022-09-01 13:21] jskeet opened #1070 "Prevent mixture of prefixes in AMQP?"
When considering the change in C# SDK due to #1050, it strikes me that there's a potential ambiguity about an AMQP message with a mixture of `cloudEvents:` and `cloudEvents_` prefixes.

Is it reasonable to mix and match? If not, we should prohibit it. If there's some reason why it could be useful, we should define correct behavior for a message with (say) `cloudEvents:id` and `cloudEvents_id` prop

[2022-09-01 16:23] duglin commented on #1070
From Sept 1st call... most want consistency, no mixture within a CE

[2022-09-01 16:50] handrews commented on #1052
@jskeet You can read the [discussion of our standards approach](https://github.com/json-schema-org/json-schema-spec/pull/1277), and do note that we are still working with the IETF HTTPAPI working group to register the JSON Schema media types.  It is the rest of the specification for which we are looking at different publication approaches.

[2022-09-02 23:40] devinbost commented on #1052
What is the intent behind the `dataschema` field of CloudEvents?  Is it just to validate the payload?

I'm interested in a mechanism to distinguish between (1) validation of the payload, and (2) validation of the envelope.
For example, if a producing application is expected to provide a URN with a strict naming convention in the `source` field, we'd like a standard way to validate the content befo

[2022-09-04 15:48] sasha-tkachev opened #1072 "feat: clarify that `datacontenttype` MAY exist without `data`"
From the wording right now, it is not obvious that `datacontenttype` MAY exist without the `data` value.
But the [dataref](https://github.com/cloudevents/spec/blob/main/cloudevents/extensions/dataref.md) spec assumes that this is a possibility.

[2022-09-05 11:47] sasha-tkachev opened #1073 "translate: loglevel extension to hebrew"

[2022-09-05 11:58] sasha-tkachev opened #1074 "feat: cbor format"
It would be interesting to implement a CBOR format defintion
https://www.rfc-editor.org/rfc/rfc8949.html

[2022-09-08 15:43] devinbost commented on #1052
Also, @jskeet I saw some comments that versioning was out of scope of CloudEvents, so please let me know if this falls into that category, but I'd like a way to distinguish between version of the envelope (which is currently done nicely by `specversion`) and version of the payload (which is currently missing). For example, if a producer wants to evolve a contract and starts emitting both the prior

[2022-09-08 16:21] jskeet commented on #1052
@devinbost: We have some guidance on that in https://github.com/cloudevents/spec/blob/main/cloudevents/primer.md#versioning-of-cloudevents

[2022-09-08 18:09] devinbost commented on #1052
@jskeet I went back through that doc more carefully and noticed some commentary about how the version could be included in the URI of the `dataschema`. That could work, but it again brings up the challenge with not being able to validate the content in the envelope. For example, we'd want to be able to ensure that the version identifier matches a regular expression that provides a minor and major

[2022-09-08 19:16] jskeet commented on #1052
@devinbost: I think it's really up to providers, to be honest. I'm not entirely sure what the request/proposal is here - and I may well not be the best person to comment on that request/proposal anyway. (It's also unclear whether the "we" in your messages is a general internet "we" or a specific organization with specific needs - if you could clarify that, it would be useful.)

[2022-09-09 12:15] duglin commented on #730
@DanielYWoo  I think you're referring to https://github.com/cloudevents/spec/blob/main/cesql/spec.md right? It's still a work-in-progress. Most of our focus has been on the Discovery spec right now, but eventually we'll get around to the secondary specs, such as CESQL, Subscription API, etc...

[2022-09-09 15:36] duglin opened #1083 "dataschema for signed or encrypted payload"
Hi,

As mentioned in some issues (#373 and #379) a good option to sign or encrypt data in a CloudEvent is use of one of the JOSE format (JWS or JWE) my question here is, should then the `dataschema` describe the JWS/JWE structure or should focus on the schema of the decrypted information? i mean the payload of the JWT?

Use the schema to describe a JWS/JWE seems to not have any value for the consu

[2022-09-09 15:37] duglin commented on #1083
I believe it's meant to be the schema of the unencrypted payload.

@JemDay, since you did https://github.com/cloudevents/spec/pull/399/files, do you think we need to make this clear in the spec?

[2022-09-09 16:32] JemDay commented on #1083
I would suggest that if the the _'data'_ represents an encoded and/or signed payload the the 'dataschema' isn't really appropriate in that situation.

The _datacontenttype_ would be something like _application/jose_ or _application/jwt_.

I believe there's a pattern whereby the schema of the business data can be declared in a JWS header - I'll try and find a reference.

[2022-09-09 17:02] JemDay commented on #1083
The datacontenttype of the business data should be carried in the _cty_ JWS Header. [Ref](https://www.rfc-editor.org/rfc/rfc7515#section-4.1.10)

[2022-09-09 17:17] duglin commented on #1083
Think we need an issue to clarify this in the spec?

[2022-09-10 08:48] Prakharkarsh1 commented on #1039
I want to work to fix this issue

[2022-09-11 18:53] rvowles opened #1084 "why are there not more bindings?"
Given the plethora of popular messaging systems out there that would seem to benefit CloudEvents to have a binding for, there seems to be a dearth of bindings? If I wanted to use Azure, I would probably use Azure ServiceBus, Google - Google Pub/Sub, Amazon - SNS/SQS, and there are others I have seen in various repositories being suggested.

Is there a document somewhere that states the desire to k

[2022-09-11 21:01] rvowles commented on #1084
In my hunting I have found a Google Pub/Sub one in a archived knative-gcp repo, and someone who has implemented a C# ServiceBus extension. I could see that including them in the official sdks and binding definitions might be considered out of scope, but would it be worthwhile to have a contrib repo(s)?

[2022-09-12 12:51] jolivaSan commented on #1083
Hi,

Just some opinions about that

I'm totally agree with that, the `datacontenttype` will indicate if the content is encrypted/signed or any other format.

If the `dataschema` describe the JWS/JWE structure instead of the schema of the decrypted information then i see two main problems:

- Is not going to be useful for the consumer or any tool as JWS/JWE are standards that are already defined, n

[2022-09-13 12:28] duglin commented on #1084
It's basically what you said... no one has stepped up to define the bindings. We welcome PRs! :-)

[2022-09-13 18:13] #1084 closed

[2022-09-14 15:20] sasha-tkachev commented on #1083
Maybe we can add an extension for the case that the data is encrypted.

`cryptdatacontenttype` will specify the data content type of the decrypted/signed data
`datacontenttype` will specify the data content type of the encrypted payload
`cryptdataschema` will specify the data schema of the decrypted/signed data

What do you think?

[2022-09-14 15:28] sasha-tkachev commented on #1052
Maybe we can create an extension attribute called `ceschema` which is a uri that describes the schema of all the attributes of an  event. given they are serialized into a JSON dict.
In combination with the `dataschema` this MAY solve the issue at hand.

[2022-09-15 15:09] binishprab opened #1088 "correlationId"
We are planning to introduce a correlationId as part of our event messaging to co-relate/group different events together (Kafka Binding)

The CloudEvents spec does not define a standard for using correlation Id.  Just wanted to be sure if there is a plan to introduce it in the future, is it safe for us to use ce_correlationid or maybe just correlation id, given its not part of the spec?

[2022-09-15 15:24] duglin commented on #1088
We've talked about adding a correlation-id many times but always ended up rejecting it because there are just too many different semantic meaning for it. So, yes feel free to define your own. However, I would suggest that you choose a name that's more specific to your need/domain and not just "ce-correlationid" otherwise you run the risk of conflicting with someone else's extension by the same nam

[2022-09-15 16:41] sasha-tkachev commented on #1052
We talked on the call about that idea of creating such `ceschema` attributes and it seems it does not actually solve a particular problem. Because if a consumer receives an event it should already know how to process certain attributes.
Moreover, it MAY create alot of issues - for example what about the case than an event is propagated across the system and new extensions are added to the existing

[2022-09-15 20:37] gregsdennis commented on #1052
Can you elaborate on this? I'm unfamiliar with extensions in regards to CE.

[2022-09-15 22:34] sasha-tkachev commented on #1052
@gregsdennis  each intermediary MAY add or remove optional attributes because nothing prohibits it to do so.|
For example I as an intermediary decide that each event passing through me will get a new attribute named "myattr" with the value "hello world".
If the `ceschema` will exist I will need to edit it as-well which is very complicated.

[2022-09-15 23:01] #1074 closed

[2022-09-16 04:41] alexec commented on #373
When the `data` field is encrypted, I’m assuming you just set `datacontenttype` to be `multiparty/encrypted`? Any example of that in the wild?

[2022-09-16 07:50] gregsdennis commented on #1052
I think it's actually pretty simple to achieve.

So let's say the schema uses the `$dynamic*` approach I mentioned:

[code]

***NOTE** I changed the above from the blog post to put the `$ref` in an `allOf`.  The reason will become clear later.

Someone receiving a "person updated" event could validate the entire event (envelope and payload) using `https://myserver.com/schema/person`.  The particul

[2022-09-16 11:40] devinbost commented on #1052
@sasha-tkachev I apologize for not attending the call. I intended to be there, but I ran into a schedule conflict due to a family situation. I'm planning to attend the next one, so I'd be happy to discuss this in more detail there.

This is exactly the scenario I'm concerned about. What we were observing is actually the opposite. Let me explain with the following scenarios.

SCENARIO 1: An event c

[2022-09-16 11:55] devinbost commented on #1052
One other important case I forgot to mention:

SCENARIO 4: P1 needs to cut a new version but wants to remain backward-compatible, so it starts emitting both new and old versions of events. Consumers need a way to filter (by version) to only the messages of interest and perform different validation depending on the version they're interested in. One advantage here is support for automatic upgrades;

[2022-09-16 15:49] sasha-tkachev commented on #1052
@gregsdennis So you are saying the the schema MAY validate only some of the attributes correct?
And I as an intermediary MAY add new attributes to the event as long as the schema stays valid.
This seems logical.
Also I thought about **removing** attributes, but as long as the schema stays valid I think this SHOULD be ok.
And at the worst case scenario you MAY change the value of the `attersschema`

[2022-09-16 23:01] alexec commented on #1083
I have three different use cases:

* Event encryption - the whole event is encrypted
* Payload encryption - only the data field in encrypted
* Field encryption - data is structure (e.g JSON), only some fields are encrypted

CloudEvents with encrypted `data` should be convertible to unencrypted and vice-versa. Lets focus on payload encryption.

I'd like to understand what is being proposed here. I

[2022-09-20 09:38] jolivaSan commented on #1083
Hi @alexec,

Thanks for your comments, let me add some notes

As per the [privacy and security](https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md#privacy-and-security) section statement that say "Sensitive information SHOULD NOT be carried or represented in context attributes." I will focus just in the payload of the event for this, or what is the same the `data` field.

I think fo

[2022-09-20 15:15] alexec commented on #1083
That all seem smart. What are you thoughts about non-JSON types? How do you encode XML or text for example?

[2022-09-20 16:49] JemDay commented on #1083
True .. starting with a JWE example has the potential to be a little misleading given the standard header structure which allows for contextual information to be included directly.

If you start from a non-JWE position then you essentially end up potentially mirroring those contextual headers into a CE extension .. and the question then becomes "is that road we want/need to go down".

I think we c

[2022-09-21 18:30] devinbost commented on #1083
Let's think about how `dataschema` might be used. I can immediately think of a few ways:
- Message validation (and automatic handling of invalid messages)
- Change management, evolution, versioning
- Metadata and lineage tracking, discoverability

When performing validation of the payload, we can't assume that we need to take additional steps before we can actually validate what we're interested i

[2022-09-21 18:36] sasha-tkachev commented on #1083
@devinbost I took upon myself for defining such extension.
But probably this will happen only at the meeting next week

[2022-09-21 20:29] devinbost commented on #1052
Hi @sasha-tkachev , regarding your comment:

what do you mean by "canonical attributes representation format"?

I suppose there's an open question for how an implementation should interpret the URI provided in atterschema  . JSON Schema seems to be the obvious choice for JSON messages, but due to a lack of standards for schema validation for non-JSON types, consumers may need more information to k

[2022-09-23 00:34] alexec commented on #1088
I'm also interested in a standard or convention for this as this is a use case we have. Some kind of URN could allow flexibility. E.g. `{"correlationid": "urn:xxx:yyy"}`.

[2022-09-23 00:39] alexec opened #1089 "CloudEvent recipient context attribute"
We have a use case where events have a specific recipient. This is used when an API conusmer has made an API request that requires an async response - aka "callback".

We'd like a standardized way to specify the recipient. I had this idea:

[code]

The contents of the recipient would be a URN specifying the recipient.

Thoughts...
* Do we want to support CC and BCC headers (like email)?
* Do we wa

[2022-09-23 00:56] alexec commented on #1083
I think we need to give the different approaches names so we can discus.

# JWE Approach

[code]

# Header Extension Approach

[code]

# Mulitpart Encypted Approach

[code]

https://docs.jboss.org/resteasy/docs/3.0.4.Final/userguide/html/ch41.html

[2022-09-23 00:58] duglin commented on #1089
Pretty sure @clemensv might have an opinion on this one 🙂

[2022-09-24 23:31] alexec commented on #1083
After some more analysis, the only approach that will work well for us is Header Extension Approach. Why?

* Any approach that puts control information into `data` means that you need to do an additional copy whenever you encrypt or decrypt.
* Likewise, encoding the payload into base64 adds another copy operation, as well as inflating payload sizes by 37%.
*  That is 2 extra copy operations, which

[2022-09-24 23:37] alexec commented on #1083
Another note, because essentially happens outside the CE, and none the encryption headers or data make it into the event itself, I think the work we have is defining how this should happen, but I don’t there should not be any work to any SDKs. It is essential orthogonal.

[2022-09-26 15:35] sasha-tkachev commented on #1083
@alexec I don't understand why putting the serialized JWE  inside the data is efficient.
Either way you need to copy the content of the JWE metadata somehow inside the event

I'm looking into an 4th approach which is a mix of JWE approach and the header extension approach.

What is the problem with

[code]

[2022-09-26 16:24] sasha-tkachev commented on #1083
I have drafted an extension for this (#1090)
Please take a look
@alexec

[2022-09-26 16:52] duglin opened #1091 "Who does the sampling?"
During our security audit they had a question about https://github.com/cloudevents/spec/blob/main/cloudevents/extensions/sampledrate.md, it's not clear which component should do the sampling... the source, producer, CE SDK, ....    Should the spec even say?

My recommendation is:
- add text to say that it is out of scope for the spec to mandate where the sampling is done, rather just that IF it is

[2022-09-26 17:48] duglin opened #1092 "Tracing: tampering"
From our security audit folks... if someone tampers with the tracing headers during a multi-hop transmission, is that considered a security issue or just a requirement failure?

@joaopgrassi @clemensv

[2022-09-26 18:29] alexec commented on #1089
So this a binding level attribute. I could be written to Kafka headers, but should not be included in the CE.

[2022-09-26 18:29] #1089 closed

[2022-09-26 19:53] sasha-tkachev commented on #1083
@alexec I think we are trying to solve different problems here, and I must say that I'm a novice to JWE.

The problem I'm trying to solve is to provide a way for encrypted events to leverage the power of `datacontenttype` and `dataschema` attributes, because without this extension they are useless to the user given an encrypted data.
Because `datacontenttype` will hold `application/octetstream` an

[2022-09-26 20:40] alexec commented on #1083
That is an interesting point, and I think you're probably correct.

[2022-09-27 08:45] pierDipi commented on #1091
+1

[2022-09-28 14:29] joaopgrassi commented on #1092
Hi @duglin !

I'm far from a security expert, but I think most of the things related to this topic can be found in the Trace Context W3C specification under [Security Considerations](https://www.w3.org/TR/trace-context/#security-considerations). There's also other concerns such as data privacy that you can also find on that page.

[2022-09-29 16:29] alexec opened #1093 "Conventional Encryption and Signing Headers"
To send or received encrypted to signed data, we need to pass two items:

* Encryption control fields, e.g algorithm, key ID.
* Encrypted data: a byte array.

S/MIME binding might be able to solve this.

[2022-10-06 20:40] alexec opened #1096 "Conventional Event Carried State Transfer (ECST) Context Attributes"
We need to standardize headers for these two use cases:

For ECST, we need:

* The type of the resource being changes.
* The action being performed on that resource.
* A unique identifier for the resource.
* Optional resource version.

Thoughts?

[2022-10-06 23:29] duglin commented on #1096
Hi Alex,
1 - re: type of resource - see “[subject](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/spec.md#subject)”. See the example at the end of that definition
2 - re: action - I think “[type](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/spec.md#type)” is a good match
3 - re: unique id of resource - see “[source](https://github.com/cloudevents/spec/blob/v1.0.2/cloude

[2022-10-07 15:11] deissnerk commented on #1052
Thanks @devinbost for the detailed explanation of the use cases. I have the impression that this is not so much about a schema for a specific event type, though. To me the examples with URN formats or IDs being used look more like a constraint that is defined as an additional contract or convention in or between organizations.

If we introduced a more general concept around this idea of _constrain

[2022-10-07 16:04] sasha-tkachev commented on #1052
@deissnerk We talked about the implementation in the call two weeks ago.
The way we are headed right now is defining an `attrschema` URI attribute which points to a schema in a format defined in the discovery spec.

The constraint idea is interesting, but I think a simple schema for each attribute is enough

[2022-10-07 16:18] duglin commented on #1096
you have "source" in there twice

[2022-10-07 18:55] alexec commented on #1096
Ok. That was because of the way my JSON went all wrong. I need to add:

| Name | Desc | Context Attribute |
|---|---|---|
| `asset_id` | An identifier for the software component producing the event. | `source` |
| `namespace` | The namespace of the resource. E.g. "accounting" vs "mail". | `type[0]` |
| `resource` | The type of the resource being changed. A noun. | `type[1]` |
| `action` | The acti

[2022-10-07 19:14] sasha-tkachev opened #1098 "bug: document titles are not consistent"
see PR

[2022-10-08 07:59] deissnerk commented on #1052
@sasha-tkachev I think we have to discuss a bit more in the next call. Relying on the schema format from the discovery spec sounds good to me. If we specify the attribute in a way that it can also point to an actual event definition in the discovery service, we might both get what we want. Perhaps the notion of constraints/contracts/characteristics is something we can pick up there. An intermediar

[2022-10-13 15:40] duglin commented on #1096
The table looks good to me.
Your "edge-case" is an interesting one. Yes de-duping from a CE perspective would only catch events from the same "source", and I suspect that knowing which component produced each duplicate event might still be interesting to someone. That then leaves me thinking that the consumer would need to do its own de-duping - perhaps a custom CE extension that acts as a sort of

[2022-10-13 16:32] duglin commented on #1096
@deissnerk  @clemensv please add a sample to show how you guys do this mapping.

[2022-10-13 16:44] duglin commented on #1093
@sasha-tkachev @JemDay for your thoughts

[2022-10-13 16:44] duglin commented on #1093
Also see: https://github.com/cloudevents/spec/pull/770/files

[2022-10-14 17:47] #1098 closed

[2022-10-14 21:47] sasha-tkachev commented on #1093
I see no reason why not use JWT as the de-facto standard for signing and encrypting CloudEvent `data` values.
And to solve use case (1) we can use the russian-doll approach in which we sign/encrypt the whole event in any format of our liking and nesting it inside another event which has all of the required attributes duplicated or something along these lines

[2022-10-14 22:06] sasha-tkachev commented on #1083
JWT extension proposed under #1102

[2022-10-14 23:19] alexec commented on #1093
I think this has been covered before, but JWT/E/S cannot support binary encoding without ballooning message  size by 30% due to the need to use base64 encoding.

Encryption needs to avoid copy operations.

[2022-10-15 11:00] sasha-tkachev commented on #1093
@alexec  In thins binding we support binary encoding :)

We just don't use base64url encoding and we don't use the `.`  separation

We relay on the `Binary` attribute and data types

[2022-10-16 18:02] sasha-tkachev opened #1104 "sampledrate extension edge case"
It is not clear what to do when an intermediary which does event sampling receives an event which was sampled.

I think it MUST or at least SHOULD adjust the `sampledrate` value

[2022-10-16 20:05] sasha-tkachev commented on #1052
@deissnerk @devinbost
Here is my current proposal for the attrschema extension
https://github.com/cloudevents/spec/pull/1106

[2022-10-19 02:13] duglin commented on #1104
I think at that point it's a new CloudEvent, so I agree it would have a new sampledrate value. Want to PR it? Unless people think this should be obvious already??

[2022-10-19 11:05] duglin commented on #1104
The default mental model I've had is that if a component modifies a CE then it should be a new CE.

From Primer:
When an entity is acting as both a receiver and sender of CloudEvents for the purposes of forwarding, or transforming, the incoming event, the degree to which the outbound CloudEvent matches the inbound CloudEvent will vary based on the processing semantics of this entity. In cases wher

[2022-10-20 17:12] sasha-tkachev opened #1109 "feat: explicitly state otel mapping in severity extension"

[2022-10-20 17:12] sasha-tkachev commented on #1109
I will do it

[2022-10-25 17:41] alexec opened #1111 "Content Encoding Extension (i.e. compression)"
Like encryption, we need a way to indicate that the data is compressed. In HTTP we would use `Content-Encoding: gzip`, but CloudEvents does not have this. Even if it did, we would not use it, because, unlike HTTP, the `Content-Type` (i.e. `datacontenttype`) is not contextualized with `Content-Encoding`. We need an extension to standardize both the encoding and the encoded type:

All context attrib

[2022-10-25 17:47] alexec commented on #1093
Also, JWT does not support XML etc.

[2022-10-25 17:48] alexec opened #1112 "Signature Extension"
Broken out from https://github.com/cloudevents/spec/issues/1093

[2022-10-25 17:48] alexec opened #1113 "Encryption Extension"
Split out from https://github.com/cloudevents/spec/issues/1093

All context attributes namespaced by `enc`:

* `encalg` the algorithm used to encrypt the Content Encryption Key, e.g. `RSA-OAEP`, e.g same as JWE
* `enc` the algorithm, e.g. `A128CBC-HS256`, e.g same as JWE
* `enckid` optional, the key ID
* `enccty` mandatory, the content type of the encrypted data
* `enczip` optional compression alg

[2022-10-26 01:02] alexec opened #1114 "JOSE Extension"
We have had a few chats around encryption, signing, compression. JOSE does it all.

By default, you can have an event that contains a JWS or JWE. That's just fine for non-performance uses cases.

Marshall the JWE, and  it's 27% more space and disk costly than possible.

Can we make this better by putting put the JOSE headers into the context attributes?

JWS has 3 fields:

* header (a key-value ma

[2022-10-26 17:51] alexec commented on #1114
[code]

[2022-10-26 18:20] alexec commented on #1114
What is the benefit of having signing and encryption headers?  Because we don’t want to sign the cipher text, neither encryption or signing headers are useful unless you’re going to decrypt the message. Headers are useful for things like message routing.

@duglin can I get input here? When would we use headers rather than a field in the event data?

Both JWE and JWS can be used as message format t

[2022-10-26 18:25] alexec opened #1115 "S/MIME, `multipart/encrypted`, `multipart/signed`"
I’ve created this issue to talk about using S/MIME with CloudEvents. It’s been discussed and alluded to before, but I want a place to to centralize discussion.

This maybe a simple as setting `datacontenttype` to the appropriate content-type.

[2022-11-04 17:00] alexec opened #1118 "Discuss: `application/cloudevents+json` vs `application/json+cloudevents` vs `application/json` vs ???"
The HTTP binding mandates a non-standard content-type. This is not a `vnd.` vendor type, nor a `x-` type. I get that there is precedent for this in the IANA media types, but I've also seen consumers struggle to unable to parse non-standard content types.  don't expect we'd use this in a production system (or at least allow engineers to choose the content type they receive).

CloudEvents as JSON ar

[2022-11-10 01:43] jroper opened #1121 "Subscriptions manager API and Kafka, and event logging producers in general"
I've had a look at the subscriptions spec, and I'm not sure where the right place is to initiate this conversation is, but it seems rather unidiomatic in the way it uses Kafka.

Kafka in general doesn't have a concept of subscriptions, nor does it need one, since Kafka is conceptually equivalent to ad-hoc consumers tailing logs. You don't need to register a subscription on a log file to be able to

[2022-11-10 02:42] jroper commented on #1121
To put a potential solution for a generic way to subscribe to pull based protocols out there - let's say we decided that [Server-Sent Events](https://html.spec.whatwg.org/multipage/server-sent-events.html) would be the protocol used for pull streaming (SSE is almost perfect for this use case, as it has built in stream resumption semantics, necessary when a consumer is responsible for tracking wher

[2022-11-10 07:26] clemensv commented on #1118
We've not registered with IANA, that's all what makes it "non-standard". If that's the key issue, we can surely fill in the application. Since CNCF doesn't want to be a standards org, I am not convinced that IANA would take it. If that were so, we can also choose to not feel bound by IANA/IETF rules on registration. be that as it may, if you'd like to propose registering the media type with IANA,

[2022-11-10 08:12] clemensv commented on #1115
I think we would need a proper extension specification for S/MIME. https://www.rfc-editor.org/rfc/rfc8551

I also think that the bulk of what's needed already exists.

a) RFC8551 applies to the "Internet Message" as defined by [RFC5322](https://www.rfc-editor.org/rfc/rfc5322), extended by MIME [RFC2045](https://www.rfc-editor.org/rfc/rfc2045)
b) HTTP leans on RFCs 5322/2045 for its own message for

[2022-11-10 08:17] clemensv commented on #1114
JOSE probably gets weird in a Protobuf or Avro environment. It arguably exists because XML-Sig/Enc and WS-Sec got weird in a JSON environment :)

If someone wants to apply JOSE to structured CloudEvents encoded as JSON there's no extra work we need to do, IMO.

For binary modes on the various transports, you'll need a binding of an encryption/signature model to the transport message and JOSE isn't

[2022-11-10 08:25] clemensv commented on #1113
I am of the very strongly held opinion that I want at least one spec of separation between anything CloudEvents and crypto of any sort and we shouldn't be owning that spec.

WS-Security shall be an eternal warning for everyone that this isn't healthy for the kind of standards set we try to define here.

We can bind to S/MIME (see #1115), but we should not define something here that juggles algos a

[2022-11-10 08:38] clemensv commented on #1111
We had that and dropped it again.

Added: https://github.com/cloudevents/spec/pull/387
Changed: https://github.com/cloudevents/spec/pull/491
Killed: https://github.com/cloudevents/spec/pull/492
Summary: https://github.com/cloudevents/spec/issues/501#issuecomment-532560460

A compressed payload is just compressed payload, e.g. using https://www.rfc-editor.org/rfc/rfc6713.txt

[2022-11-10 08:44] clemensv commented on #1096
Azure encodes all context in source and subject and type as needed for routing/dispatch of events across the platform, and the event payload then often repeats some data for the benefit of the receiver. That model proves to work pretty well at our scale.

References:

- https://learn.microsoft.com/en-us/azure/event-grid/cloudevents-schema
- https://learn.microsoft.com/en-us/azure/event-grid/event-

[2022-11-10 08:49] clemensv commented on #1121
In the latest revisions of the discovery spec, we distinguish producer, consumer, and subscriber endpoints. An existing Kafka consumer group is a consumer endpoint and does not need the subscriber model. Same applies to existing queues on a queue broker and even ad-hoc subscriptions on a queue pub/sub broker. We have not yet spelled out the interactions.

The subscriber protocol for Kafka might be

[2022-11-10 15:33] clemensv commented on #1112
I suggest closing to issue and focus on #1115

[2022-11-10 17:31] #1118 closed

[2022-11-16 04:50] #1111 closed

[2022-11-16 05:35] alexec commented on #1115
Let me paraphrase so I can be sure I understand:

Encryption:

1. Convert the CloudEvent into a HTTP message (using the CloudEvent/HTTP binding).
2. Encrypt the HTTP message. The encrypted message might be a Internet Message.
3. Send that to your transport (using some kind of Internet Message/Kafka binding).

Decryption:

1. Receive the message.
2. Re-constitute the Internet Message from the trans

[2022-11-22 01:03] jroper commented on #1121
Ok I see, so essentially for something like Kafka, the subscriptions spec says using Kafka is part of the spec.

I guess then what I'm interested in seeing has nothing to do with Kafka. Currently the subscriptions spec provides a generic spec for push based eventing. I'd like to see something for pull based eventing. It can piggy-back off an existing pull based eventing open standard (eg, Server-S